
<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <section>
      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li [ngbNavItem]="2">
          <a ngbNavLink (click)="getUserActiveOrder()">Active</a>
          <ng-template ngbNavContent>
            <div class="table-wrapper">
              <div class="row" id="basic-table">
                <div class="col-12">
                  <div class="card">
                    <h4 class="table-title">Active</h4>
                    <div class="table-responsive">
                      <table class="table table-s1">
                        <thead>
                        <tr>
                          <th>Order#</th>
                          <th>Consumers</th>
                          <th>Services</th>
                          <th>Due On</th>
                          <th>Note</th>
                          <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="!activeOrders || activeOrders.length <=0 ">
                            <td colspan="6">No Acive orders to show</td>
                          </tr>
                        <tr *ngFor="let item of activeOrders">
                          <td>{{item?.orderNum}}</td>
                          <td>{{item?.buyer?.firstName}}</td>
                          <td>{{item?.category?.title}}</td>
                          <td>{{item.updatedAt | date}}</td>
                          <td>{{item.notes}}</td>
                          <td>
                            <select class="form-control" (change)="changeOrderStatus(item, $event,'active')" style="min-width: 165px;">
                            <option value="ACTIVE" [selected]="item.status === 'ACTIVE'? 'selected':''"> Active </option>
                            <!-- <option value="LATE" [selected]="item.status === 'LATE'? 'selected':''"> Late </option> -->
                            <option value="COMPLETED" [selected]="item.status === 'COMPLETED'? 'selected':''"> Completed </option>
                            <option value="CANCELLED" [selected]="item.status === 'CANCELLED'? 'selected':''"> Cancelled </option>
                              </select>

                            </td>
                        </tr>
                        </tbody>
                      </table>
                      
                    </div>
                    <div class="d-flex justify-content-end mr-1">
                      <ngb-pagination [collectionSize]="activeOrderTotal" [(page)]="activeOrderPage"  aria-label="Custom pagination"
                      (pageChange)="loadActivePage($event)" >
                        <ng-template ngbPaginationPrevious
                          ><span [data-feather]="'chevron-left'" [class]="'font-weight-bolder'"></span>Prev
                        </ng-template>
                        <ng-template ngbPaginationNext
                          >Next<span [data-feather]="'chevron-right'" [class]="'font-weight-bolder'"></span>
                        </ng-template>
                      </ngb-pagination>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="4">
          <a ngbNavLink (click)="getUserCompletedOrders()">Completed</a>
          <ng-template ngbNavContent>
            <div class="table-wrapper">
              <div class="row" id="basic-table">
                <div class="col-12">
                  <div class="card">
                    <h4 class="table-title">Completed</h4>
                    <div class="table-responsive">
                      <table class="table table-s1">
                        <thead>
                        <tr>
                          <th>Order#</th>
                          <th>Consumers</th>
                          <th>Services</th>
                          <th>Due On</th>
                          <th>Note</th>
                          <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="!completedOrders || completedOrders.length <=0 ">
                            <td colspan="6">No Complete orders to show</td>
                          </tr>
                        <tr *ngFor="let item of completedOrders">
                          <td>{{item?.orderNum}}</td>
                          <td>{{item?.buyer?.firstName}}</td>
                          <td>{{item?.category?.title}}</td>
                          <td>{{item.updatedAt | date}}</td>
                          <td>{{item.notes}}</td>
                          <!-- <td><select class="form-control" (change)="changeOrderStatus(item, $event)" style="min-width: 165px;">
                            <option value="ACTIVE" [selected]="item.status === 'ACTIVE'? 'selected':''"> Active </option>
                            <option value="LATE" [selected]="item.status === 'LATE'? 'selected':''"> Late </option>
                            <option value="COMPLETED" [selected]="item.status === 'COMPLETED'? 'selected':''"> Completed </option>
                            <option value="CANCELLED" [selected]="item.status === 'CANCELLED'? 'selected':''"> Cancelled </option>
                              </select></td> -->
                              <td>Completed</td>
                        </tr>
                        
                        </tbody>
                      </table>
                    </div>
                    <div class="d-flex justify-content-end mr-1">
                      <ngb-pagination [collectionSize]="completedOrderTotal" [(page)]="completedOrderPage"  aria-label="Custom pagination"
                      (pageChange)="loadCompletedPage($event)" >
                        <ng-template ngbPaginationPrevious
                          ><span [data-feather]="'chevron-left'" [class]="'font-weight-bolder'"></span>Prev
                        </ng-template>
                        <ng-template ngbPaginationNext
                          >Next<span [data-feather]="'chevron-right'" [class]="'font-weight-bolder'"></span>
                        </ng-template>
                      </ngb-pagination>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="5">
          <a ngbNavLink (click)="getUSerCanceledOrder()">Cancelled</a>
          <ng-template ngbNavContent>
            <div class="table-wrapper">
              <div class="row" id="basic-table">
                <div class="col-12">
                  <div class="card">
                    <h4 class="table-title">Cancelled</h4>
                    <div class="table-responsive">
                      <table class="table table-s1">
                        <thead>
                        <tr>
                          <th>Order#</th>
                          <th>Consumers</th>
                          <th>Services</th>
                          <th>Due On</th>
                          <th>Note</th>
                          <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="!cancelledOrder || cancelledOrder.length <=0 ">
                            <td colspan="6">No Cancelled orders to show</td>
                          </tr>
                          <tr *ngFor="let item of cancelledOrder">
                            <td>{{item?.orderNum}}</td>
                            <td>{{item?.buyer?.firstName}}</td>
                            <td>{{item?.category?.title}}</td>
                            <td>{{item.updatedAt}}</td>
                            <td>{{item.notes}}</td>
                            <td><select class="form-control" (change)="changeOrderStatus(item, $event,'cancelled')" style="min-width: 165px;">
                              <option value="ACTIVE" [selected]="item.status === 'ACTIVE'? 'selected':''"> Active </option>
                              <!-- <option value="LATE" [selected]="item.status === 'LATE'? 'selected':''"> Late </option> -->
                              <option value="COMPLETED" [selected]="item.status === 'COMPLETED'? 'selected':''"> Completed </option>
                              <option value="CANCELLED" [selected]="item.status === 'CANCELLED'? 'selected':''"> Cancelled </option>
                                </select></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="d-flex justify-content-end mr-1">
                      <ngb-pagination [collectionSize]="cancelledOrderTotal" [(page)]="cancelledOrderPage"  aria-label="Custom pagination"
                      (pageChange)="loadCancelledPage($event)" >
                        <ng-template ngbPaginationPrevious
                          ><span [data-feather]="'chevron-left'" [class]="'font-weight-bolder'"></span>Prev
                        </ng-template>
                        <ng-template ngbPaginationNext
                          >Next<span [data-feather]="'chevron-right'" [class]="'font-weight-bolder'"></span>
                        </ng-template>
                      </ngb-pagination>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>


    </section>

  </div>
</div>
