<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="row">
      <div class="col-lg-10">
        <div class="input-group mb-2">
          <div class="form-outline">
            <form (submit)="onSubmitSearch()">
              <input type="text" class="form-control" placeholder="Search by order number, consumer name, services.."
                [(ngModel)]="searchText" name="searchText" style="border: 1px solid #38B6FF; width: 500px;" />
            </form>
          </div>
          <button type="button" (click)="onSubmitSearch()" class="btn btn-primary" style="margin-left: 5px;">
            <i class="fa fa-search"></i>
          </button>
          <button type="button" (click)="onSubmitClear()" class="btn btn-danger"
            style="margin-left: 5px; background-color: #FF0000 !important;">
            <i class="fa fa-close"></i>
          </button>
        </div>
      </div>
    </div>


    <section>
      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li [ngbNavItem]="2">
          <a ngbNavLink (click)="getUserActiveOrder()" style="font-family: 'Montserrat', sans-serif;">Active</a>
          <ng-template ngbNavContent>
            <div class="table-wrapper card">
              <div class="row" id="basic-table">
                <div class="col-12">
                  <div class="card">
                    <div class="row">
                      <div class="col-lg-10">
                        <h4 class="table-title">Active</h4>
                      </div>
                      <div class="col-lg-2 align-items-right">
                        <button type="button" (click)="onSubmitExportOrders()" class="btn btn-primary"
                          style="margin-left: 25px; margin-top: 12px;">
                          Export Leads
                        </button>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <table class="table table-s1">
                        <thead>
                          <tr>
                            <th style="font-family: 'Montserrat', sans-serif;">Order#</th>
                            <th style="font-family: 'Montserrat', sans-serif;">Consumers</th>
                            <th style="font-family: 'Montserrat', sans-serif;">Services</th>
                            <th style="font-family: 'Montserrat', sans-serif;">Due On</th>
                            <th style="font-family: 'Montserrat', sans-serif;">Status</th>
                            <th style="font-family: 'Montserrat', sans-serif;" class="text-center">Quote Detail</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="!activeOrders || activeOrders.length <=0">
                            <td colspan="6" style="font-family: 'Montserrat', sans-serif;">No Acive orders to show</td>
                          </tr>
                          <tr *ngFor="let item of activeOrders">
                            <td style="font-family: 'Montserrat', sans-serif;">{{item?.orderNum}}</td>
                            <td style="font-family: 'Montserrat', sans-serif;">{{item?.buyer?.firstName}}</td>
                            <td style="font-family: 'Montserrat', sans-serif;">{{item?.subCategory?.title}}</td>
                            <td style="font-family: 'Montserrat', sans-serif;">{{item.updatedAt | date}}</td>
                            <td style="font-family: 'Montserrat', sans-serif;">
                              <select class="form-control"
                                (change)="changeOrderStatus(item, $event,'active', modalCompleteOderGetAmmount)"
                                style="min-width: 165px;">
                                <option value="ACTIVE" [selected]="item.status === 'ACTIVE'? 'selected':''"> Active
                                </option>
                                <!-- <option value="LATE" [selected]="item.status === 'LATE'? 'selected':''"> Late </option> -->
                                <option value="COMPLETED" style="font-family: 'Montserrat', sans-serif;"
                                  [selected]="item.status === 'COMPLETED'? 'selected':''">
                                  Completed </option>
                                <option value="CANCELLED" style="font-family: 'Montserrat', sans-serif;"
                                  [selected]="item.status === 'CANCELLED'? 'selected':''">
                                  Cancelled </option>
                              </select>

                            </td>
                            <td style="font-family: 'Montserrat', sans-serif;" class="text-center">
                              <a class="text-success px-2 py-1 box-shadow-0"
                                (click)="openOrderDetailPopup(modalVC, item)" rippleEffect>Detail</a>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                    </div>

                  </div>

                </div>
                <div *ngIf="activeOrders && activeOrders.length > 0 " class="d-flex justify-content-end mr-1"
                  style=" bottom: 0; position: absolute; right: 0; ">
                  <ngb-pagination [collectionSize]="activeOrderTotal" [(page)]="activeOrderPage"
                    aria-label="Custom pagination" (pageChange)="loadActivePage($event)">
                    <ng-template ngbPaginationPrevious><span [data-feather]="'chevron-left'"
                        [class]="'font-weight-bolder'"></span>Prev
                    </ng-template>
                    <ng-template ngbPaginationNext>Next<span [data-feather]="'chevron-right'"
                        [class]="'font-weight-bolder'"></span>
                    </ng-template>
                  </ngb-pagination>
                </div>
              </div>
            </div>

          </ng-template>
        </li>
        <li [ngbNavItem]="4">
          <a ngbNavLink (click)="getUserCompletedOrders()" style="font-family: 'Montserrat', sans-serif;">Completed</a>
          <ng-template ngbNavContent>
            <div class="table-wrapper card">
              <div class="row" id="basic-table">
                <div class="col-12">
                  <div class="card">
                    <h4 class="table-title" style="font-family: 'Montserrat', sans-serif;">Completed</h4>
                    <div class="table-responsive">
                      <table class="table table-s1">
                        <thead>
                          <tr>
                            <th style="font-family: 'Montserrat', sans-serif;">Order#</th>
                            <th style="font-family: 'Montserrat', sans-serif;">Consumers</th>
                            <th style="font-family: 'Montserrat', sans-serif;">Services</th>
                            <th style="font-family: 'Montserrat', sans-serif;">Due On</th>
                            <th style="font-family: 'Montserrat', sans-serif;">Status</th>
                            <th style="font-family: 'Montserrat', sans-serif;" class="text-center">Quote Detail</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="!completedOrders || completedOrders.length <=0 ">
                            <td colspan="6" style="font-family: 'Montserrat', sans-serif;">No Complete orders to show
                            </td>
                          </tr>
                          <tr *ngFor="let item of completedOrders">
                            <td style="font-family: 'Montserrat', sans-serif;">{{item?.orderNum}}</td>
                            <td style="font-family: 'Montserrat', sans-serif;">{{item?.buyer?.firstName}}</td>
                            <td style="font-family: 'Montserrat', sans-serif;">{{item?.subCategory?.title}}</td>
                            <td style="font-family: 'Montserrat', sans-serif;">{{item.updatedAt | date}}</td>
                            <!-- <td><select class="form-control" (change)="changeOrderStatus(item, $event)" style="min-width: 165px;">
                            <option value="ACTIVE" [selected]="item.status === 'ACTIVE'? 'selected':''"> Active </option>
                            <option value="LATE" [selected]="item.status === 'LATE'? 'selected':''"> Late </option>
                            <option value="COMPLETED" [selected]="item.status === 'COMPLETED'? 'selected':''"> Completed </option>
                            <option value="CANCELLED" [selected]="item.status === 'CANCELLED'? 'selected':''"> Cancelled </option>
                              </select></td> -->
                            <td style="font-family: 'Montserrat', sans-serif;"><select class="form-control"
                                (change)="changeOrderStatus(item, $event,'cancelled')" style="min-width: 165px;">
                                <option value="ACTIVE" [selected]="item.status === 'ACTIVE'? 'selected':''"> Active
                                </option>
                                <!-- <option value="LATE" [selected]="item.status === 'LATE'? 'selected':''"> Late </option> -->
                                <option value="COMPLETED" style="font-family: 'Montserrat', sans-serif;"
                                  [selected]="item.status === 'COMPLETED'? 'selected':''">
                                  Completed </option>
                                <option value="CANCELLED" style="font-family: 'Montserrat', sans-serif;"
                                  [selected]="item.status === 'CANCELLED'? 'selected':''">
                                  Cancelled </option>
                              </select></td>
                            <!-- <td style="font-family: 'Montserrat', sans-serif;">Completed</td> -->
                            <td class="text-center">
                              <a class="text-success px-2 py-1 box-shadow-0"
                                (click)="openOrderDetailPopup(modalVC, item)"
                                style="font-family: 'Montserrat', sans-serif;" rippleEffect>Detail</a>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>

                  </div>
                </div>
              </div>
              <div *ngIf="completedOrders && completedOrders.length > 0 " class="d-flex justify-content-end mr-1"
                style=" bottom: 0; position: absolute; right: 0; ">
                <ngb-pagination [collectionSize]="completedOrderTotal" [(page)]="completedOrderPage"
                  aria-label="Custom pagination" (pageChange)="loadCompletedPage($event)">
                  <ng-template ngbPaginationPrevious><span [data-feather]="'chevron-left'"
                      [class]="'font-weight-bolder'"></span>Prev
                  </ng-template>
                  <ng-template ngbPaginationNext>Next<span [data-feather]="'chevron-right'"
                      [class]="'font-weight-bolder'"></span>
                  </ng-template>
                </ngb-pagination>
              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="5">
          <a ngbNavLink (click)="getUSerCanceledOrder()" style="font-family: 'Montserrat', sans-serif;">Cancelled</a>
          <ng-template ngbNavContent>
            <div class="table-wrapper card">
              <div class="row" id="basic-table">
                <div class="col-12">
                  <div class="card">
                    <h4 class="table-title" style="font-family: 'Montserrat', sans-serif;">Cancelled</h4>
                    <div class="table-responsive">
                      <table class="table table-s1">
                        <thead>
                          <tr>
                            <th style="font-family: 'Montserrat', sans-serif;">Order#</th>
                            <th style="font-family: 'Montserrat', sans-serif;">Consumers</th>
                            <th style="font-family: 'Montserrat', sans-serif;">Services</th>
                            <th style="font-family: 'Montserrat', sans-serif;">Due On</th>
                            <th style="font-family: 'Montserrat', sans-serif;">Status</th>
                            <th style="font-family: 'Montserrat', sans-serif;" class="text-center">Quote Detail</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="!cancelledOrder || cancelledOrder.length <=0 ">
                            <td colspan="6" style="font-family: 'Montserrat', sans-serif;">No Cancelled orders to show
                            </td>
                          </tr>
                          <tr *ngFor="let item of cancelledOrder">
                            <td style="font-family: 'Montserrat', sans-serif;">{{item?.orderNum}}</td>
                            <td style="font-family: 'Montserrat', sans-serif;">{{item?.buyer?.firstName}}</td>
                            <td style="font-family: 'Montserrat', sans-serif;">{{item?.subCategory?.title}}</td>
                            <td style="font-family: 'Montserrat', sans-serif;">{{item.updatedAt | date}}</td>
                            <td style="font-family: 'Montserrat', sans-serif;"><select class="form-control"
                                (change)="changeOrderStatus(item, $event,'cancelled')" style="min-width: 165px;">
                                <option value="ACTIVE" [selected]="item.status === 'ACTIVE'? 'selected':''"> Active
                                </option>
                                <!-- <option value="LATE" [selected]="item.status === 'LATE'? 'selected':''"> Late </option> -->
                                <option value="COMPLETED" style="font-family: 'Montserrat', sans-serif;"
                                  [selected]="item.status === 'COMPLETED'? 'selected':''">
                                  Completed </option>
                                <option value="CANCELLED" style="font-family: 'Montserrat', sans-serif;"
                                  [selected]="item.status === 'CANCELLED'? 'selected':''">
                                  Cancelled </option>
                              </select></td>
                            <td class="text-center">
                              <a class="text-success px-2 py-1 box-shadow-0"
                                (click)="openOrderDetailPopup(modalVC, item)"
                                style="font-family: 'Montserrat', sans-serif;" rippleEffect>Detail</a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                  </div>
                </div>
              </div>
              <div *ngIf="cancelledOrder && cancelledOrder.length > 0 " class="d-flex justify-content-end mr-1"
                style=" bottom: 0; position: absolute; right: 0; ">
                <ngb-pagination [collectionSize]="cancelledOrderTotal" [(page)]="cancelledOrderPage"
                  aria-label="Custom pagination" (pageChange)="loadCancelledPage($event)">
                  <ng-template ngbPaginationPrevious><span [data-feather]="'chevron-left'"
                      [class]="'font-weight-bolder'"></span>Prev
                  </ng-template>
                  <ng-template ngbPaginationNext>Next<span [data-feather]="'chevron-right'"
                      [class]="'font-weight-bolder'"></span>
                  </ng-template>
                </ngb-pagination>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>


    </section>

  </div>
</div>
<ng-template #modalCompleteOderGetAmmount let-modal>
  <div class="modal-header">
    <h5 class="modal-title w-100 px-1 pt-1 pb-0" id="exampleModalCenterTitle"
      style="font-family: 'Montserrat', sans-serif;">Please enter total charges you have taken
      from the customer</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <form [formGroup]="completedOrderAmmountForm" class="px-1">
      <div class="form-group">
        <label for="email" style="font-family: 'Montserrat', sans-serif;">Enter total charges</label>
        <input type="number" class="form-control" formControlName="ammount" />
      </div>

    </form>

    <div class="d-flex justify-content-center my-2">
      <button type="button" (click)="changeOrderStatusComplete()" class="btn btn-dark2 mx-1 btn-md px-3" rippleEffect><i
          data-feather="check"></i> Save</button>
      <button type="button" class="btn btn-dark mx-1 btn-md px-3" style="font-family: 'Montserrat', sans-serif;"
        (click)="modal.dismiss('Cross click')" rippleEffect><i data-feather="x"></i> Discard</button>
    </div>
  </div>
</ng-template>

<ng-template #modalVC let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalCenterTitle" style="font-family: 'Montserrat', sans-serif;">Order Info</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <form action="">
      <div class="form-group" [hidden]="!selectedOrder?.subCategory?.title">
        <label for="basicInput" style="font-family: 'Montserrat', sans-serif;">What do you need to be done?</label>
        <input readonly type="text" [value]="selectedOrder?.subCategory?.title" class="form-control" id="basicInput"
          placeholder="" />
      </div>
      <div class="form-group" [hidden]="!selectedOrder?.place">
        <label for="basicInput" style="font-family: 'Montserrat', sans-serif;">What do you need to be done?</label>
        <input readonly type="text" class="form-control" [value]="selectedOrder?.place" id="basicInput"
          placeholder="Townhall" />
      </div>
      <div class="form-group" [hidden]="!selectedOrder?.startTime">
        <label for="basicInput" style="font-family: 'Montserrat', sans-serif;">When do you want to start this
          project?</label>
        <input readonly type="text" class="form-control" [value]="selectedOrder?.startTime" id="basicInput"
          placeholder="Within a week" />
      </div>
      <div class="form-group" [hidden]="!selectedOrder?.notes">
        <label for="basicInput" style="font-family: 'Montserrat', sans-serif;">Please provide some details about
          project? </label>
        <textarea readonly style="height: 150px;" [value]="selectedOrder?.notes" class="form-control"></textarea>
      </div>
      <div class="form-group" [hidden]="selectedOrder?.orderImages.length <= 0">
        <label for="basicInput" style="font-family: 'Montserrat', sans-serif;">Service Images</label>
        <div class="row px-1">
          <div class="col-lg-3 px-50" *ngFor="let item of selectedOrder.orderImages">
            <img src="{{baseURL}}{{item.path}}" alt="" class="img-fluid w-100">
          </div>
          <!-- <div class="col-lg-3 px-50">
            <img src="{{baseURL}}{{selectedOrder.orderImages[0].path}}" alt="" class="img-fluid w-100">
          </div> -->

        </div>
      </div>
    </form>
  </div>
</ng-template>