<section
  class="hero professional professional-page"
  style="margin-left: -50px; margin-right: -50px; margin-top: -50px"
>
  <img src="./../assets/images/site/banner.jpg" alt="" class="bg" />
  <div
    class="container-fluid"
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50vh;
    "
  >
    <div class="caption">
      <div class="form-wrapper my-5">
        <h1 class="text-center" style="color: #ffffff; font-size: 55px">
          Privacy Policy
        </h1>
      </div>
    </div>
  </div>
</section>

<div class="container mt-5" style="padding-left: 120px; padding-right: 120px">
  <p style="color: #000000">
    Moventag recognizes that individuals with whom they conduct business value
    their privacy. However, in order to conduct global business in this
    increasingly electronic economy, the collection of personal information is
    often necessary and desirable. Moventag is committed to keeping your
    personal information confidential. Your information will never be passed
    onto or sold to any other person or company. If you have any questions about
    this privacy statement, the practices of this site, or your dealings with
    this web site, you can contact us any time.
  </p>
  <h2 class="mt-3 mb-2">Disclaimer</h2>
  <p style="color: #000000">
    The information contained herein, while believed to be accurate, is not
    warranted to be so. It is not intended to cause or induce breach of,
    cancellation of, or assignment of any existing written Agency Agreement or
    to interfere in any way with the existing written Agency Agreement. It is up
    to the individual to verify any details that are of importance to them. For
    more information contact us today!
  </p>
  <h2 class="mt-3 mb-2">Privacy and Protection of Personal Information</h2>
  <p style="color: #000000">
    Moventag is committed to protecting your privacy. This Statement of Privacy
    applies to the Moventag website and governs data collection and usage at the
    Moventag site and services; it does not apply to other link, site, service
    or good online or offline claiming to be associated with Moventag. Moventag
    and its operational service partners and associates collect and use your
    personal information to operate Moventag and deliver the services or goods
    you have requested. Moventag also uses your personal information to inform
    you of other products or services available from Moventag and its
    affiliates. Moventag does not sell, rent, or lease its customer lists to
    third parties. For American customers concerned about personal information,
    payment processing and this site is located outside the United States and
    not subject to their laws. You are protected under the privacy act and no
    information of yours will ever be shared with anyone. Moventag does not use
    or disclose sensitive any personal information without your explicit
    consent.
  </p>

  <br />
  <br />
</div>
