/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

$light1: #666666;
$dark1: #2B2931;
$dark2: #DADADA;
$dark3: #DBDADE;


$gray: #666666;
$lightGray: #999999;
$white: #fff;
$black: #000;
$BalticSea: #2C2A33;
$purple1: #4B465C;
$purple: #7367F0;
$purple2: #7367F0;
$yellow: #FCA311;
$skyBlue: #00CFE8;
$green: #34A853;
$red: #FF0000;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');


body {
  font-family: 'Poppins', sans-serif;
  h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    color: $BalticSea;
  }
  p {
    color: $gray;
  }
  .w-100 {
    width: 100%;
  }
  .overflow-visible {
    overflow: visible !important;
  }
  .opacity-50 {
    opacity: 0.5;
  }
  .mh-316 {
    min-height: 316px;
  }
  .link-gray {
    color: $gray;
    text-decoration: underline;
    &:hover,
    &:focus {
      color: $purple;
    }
  }
  .btn-success {
    background-color: $green !important;
  }
  .btn-danger {
    background-color: $red !important;
  }
  .btn-dark {
    background: $light1 !important;
    border-color: $light1 !important;
    box-shadow: none !important;
    &:hover,
    &:focus {
      border-color: $primary !important;
      background: $primary !important;
    }
  }
  .btn-dark2 {
    color: $white;
    background: $dark1 !important;
    border-color: $dark1 !important;
    box-shadow: none !important;
    &:hover,
    &:focus {
      color: $white;
      border-color: $primary !important;
      background: $primary !important;
    }
  }
  .opacity-50 {
    opacity: 0.5;
  }
  .text-success {
    color: #34A853 !important;
  }
  .text-danger {
    color: #FF0000 !important;
  }
  .text-warning {
    color: $yellow !important;
  }
  .progress {
    background-color: #D7D6DB;
  }
  .nav-tabs {
    .nav-link {
      color: $lightGray;

    }
    .nav-link.active {
      color: $BalticSea;
      &:after {
        background: $BalticSea !important;
      }
    }
  }
  .table-wrapper {
    .table-title {
      color: $BalticSea;
      padding: 20px 30px;
      margin-bottom: 0;
    }
    .card {
      min-height: 400px;
    }
    .card.auto {
      min-height: auto;
    }
  }
  .table-s1 {
    thead {
      th {
        border-top-color: rgba($black, 0.2);
        border-bottom: 1px solid rgba($black, 0.2);
        background-color: $white !important;
        font-size: 13px;
        font-weight: 600;
        padding: 10px 30px;
      }
    }
    tbody {
      tr {
        td {
          .name-wrapper {
            display: flex;
            align-items: center;
          }
          .name {
            width: 38px;
            height: 38px;
            border-radius: 50%;
            background-color: rgba($purple, 0.2);
            display: flex;
            align-items: center;
            justify-content: center;
            color: $purple;
            font-weight: 500;
            font-size: 16px;
            margin-right: 10px;
          }
          .badge-pill {
            min-width: 100px;
          }
        }
      }
    }
  }
  .modal {
    .modal-content {
      .modal-header {
        background-color: transparent;
        .modal-title {
          color: $BalticSea;
          font-size: 18px;
        }
      }
    }
  }
  .card-dark {
    color: $white;
    background-color: $BalticSea;
    .title,
    .card-text {
      color: $white;
    }
    p {
      .title {
        font-size: 32px;
      }
    }
    .list {
      li {
        margin-bottom: 10px;
        padding-left: 25px;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(0, -50%);
          width: 8px;
          height: 8px;
          border-radius: 4px;
          border: 2px solid rgba($white, 0.4);
        }
      }
    }
    .avatar {
      background-color: rgba($yellow, 0.07);
      border-radius: 6px;
      .icon {
        color: $yellow;
      }
    }
  }
  .card-light {
    .title {
      color: $BalticSea;
    }
    p {
      color: $BalticSea;
    }
  }
  .border-bottom {
    border-bottom-color: $gray !important;
  }
  .welcome-message {
    color: $BalticSea;
    font-size: 20px;
  }
  .main-menu.menu-light {
    color: $white;
    background: $BalticSea;
    .toggle-icon {
      color: rgba($white, 0.25) !important;
    }
    .navbar-header {
      margin-bottom: 20px;
      .navbar-brand {
        .brand-logo {
          img {
            max-width: 168px;
          }
        }
      }
    }
    .navigation {
      background: transparent;
      li {
        margin: 10px 0;
        a {
          color: $white;
          padding: 10px 15px 10px 15px;
          font-size: 15px;
          &:hover,
          &:focus {
            color: $purple;
          }
        }
      }
      li.active {
        a {
          box-shadow: none;
          &:hover,
          &:focus {
            color: $white;
          }
        }
      }
    }
    .btn-back {
      color: $white;
      font-size: 15px;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: rgba($black, 0.2);
      width: 100%;
      border: none;
      padding: 15px 10px;
      .icon {
        margin: 0 10px;
      }
      &:hover,
      &:focus {
        background-color: rgba($black, 0.3);
      }
    }
  }
  .content {
    .content-wrapper {
      .content-header-title {
        font-size: 32px;
        font-weight: 600;
        color: $BalticSea;
        padding-right: 1rem;
        border-right: none;
      }
    }
  }
  .profile_banner {
    border-radius: 34px 34px 6px 6px;
    box-shadow: 0 4px 18px 0 rgba($black, .1);
    overflow: hidden;
    margin-bottom: 30px;
    .banner_wrapper {
      position: relative;
      border-radius: 34px;
      overflow: hidden;
      .banner_img {
        height: 300px;
        width: 100%;
        object-fit: cover;
      }
      .action_wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        max-width: max-content;
        position: absolute;
        top: 60px;
        right: 70px;
        .btn {
          min-width: 360px;
          img {
            width: 24px;
            margin: 0 10px 0 0;
          }
        }
      }
    }
    .info_wrapper {
      padding: 24px;
      margin: -50px 0 0;
      display: flex;
      align-items: end;
      column-gap: 32px;
      position: relative;
      z-index: 1;
      .profile_img_wrapper {
        position: relative;
        height: 108px;
        width: 100%;
        max-width: 108px;
        background-color: $white;
        border-radius: 6px;
        overflow: hidden;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        img.profile_img {
          max-width: 70%;
          height: auto;
          position: relative;
          z-index: 999;
        }
        &:before {
          content: "";
          background-color: #9286BA;
          height: 100px;
          width: 100px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: -1;
          border-radius: 6px;
        }
        &:after {
          content: "";
          background-color: rgba($white, .3);
          height: 80px;
          width: 80px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
          border-radius: 6px;
        }
      }
      .profile_details {
        .title {
          color: $dark1;
          font-size: 18px;
          line-height: 24px;
          margin: 0;
        }
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 10px 0 0;
        display: flex;
        column-gap: 16px;
        li {
          position: relative;
          color: $dark1;
          font-size: 15px;
          line-height: 22px;
          padding: 0 0 0 30px;
          img {
            width: 24px;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(0, -1px);
          }
        }
      }
      > ul {
        display: none;
      }
      .action_wrapper {
        display: none;
        flex-direction: row;
        column-gap: 16px;
        row-gap: 10px;
        width: 100%;
        button {
          width: 100%;
          max-width: 50%;
          img {
            width: 24px;
            margin: 0 10px 0 0;
          }
        }
      }
    }
  }
  .row.equal {
    > div {
      margin-bottom: 30px;
      > div {
        height: 100%;
        margin: 0;
      }
    }
  }
  .gallery_wrapper {
    margin-bottom: 30px;
    .title {
      color: $black;
      font-size: 18px;
      line-height: 24px;
      font-weight: 600;
      margin: 0 0 30px;
    }
    .gallery {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 18px;
      img {
        width: 100%;
        max-width: calc(20% - 14.4px);
      }
    }
  }
  .card-info {
    .card-body {
      padding: 0;
      ul.info_list {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          border-bottom: solid 1px $dark2;
          padding: 20px 24px 18px;
          a {
            color: $dark1;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            transition: color .1s linear;
            word-break: break-all;
            img {
              height: 24px;
              width: 24px;
              margin: 0 10px 0 0;
            }
            &:hover {
              color: #FCA311;
            }
          }
        }
      }
      ul.social_list {
        list-style: none;
        margin: 0;
        display: flex;
        column-gap: 24px;
        padding: 20px 24px 18px;
        li {
          a {
            img {
              width: 24px;
            }
          }
        }
      }
      .card-title {
        font-size: 20px;
        color: $light1;
        line-height: 30px;
        margin: 0 0 7px;
      }
      .title_review {
        font-size: 50px;
        color: $light1;
        font-weight: 600;
      }
      .card-text {
        font-size: 16px;
        color: rgba($black, .4);
        font-weight: 600;
      }
    }
  }
  .edit {
    box-shadow: 1px 2px 15px 0 rgba($black, .1);
    border: none;
    outline: none;
    background: $white;
    border-radius: 3px;
    padding: 6px;
    display: flex;
    transition: all .1s linear;
    img {
      width: 20px;
      transition: all .1s linear;
    }
    &:hover {
      background: $purple2;
      box-shadow: none;
      img {
        filter: brightness(0) invert(1);
      }
    }
  }
  .edit.absolute {
    position: absolute;
    top: -12px;
    right: -12px;
  }
  .card-about {
    .card-header {
      padding: 24px 24px 16px;
      .card-title {
        color: rgba($dark1, .5);
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
      }
    }
    .card-body {
      padding: 0 24px 24px;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          position: relative;
          color: $dark1;
          font-size: 15px;
          padding: 0 0 0 30px;
          margin: 12px 0;
          line-height: 22px;
          img {
            height: 20px;
            width: 20px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
          }
          span {
            font-weight: 600;
          }
          &:first-child {
            margin-top: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .card-categories {
    .card-header {
      padding: 24px 24px 34px;
      justify-content: start;
      column-gap: 12px;
      .card-img {
        width: 20px;
      }
      .card-title {
        color: $purple1;
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
      }
    }
    .card-body {
      padding: 0 24px 42px;

      .list-title {
        color: $purple1;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
      }
      ul {
        list-style: none;
        margin: 0 0 16px;
        padding: 12px 20px;
        border: solid 1px $dark3;
        border-radius: 6px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        row-gap: 12px;
        column-gap: 6px;
        li {
          position: relative;
          color: $dark1;
          font-size: 11px;
          font-weight: 600;
          line-height: 14px;
          padding: 3px 0 3px 25px;
          &::after {
            content: "";
            background: url("../images/site/check_green.png") no-repeat center / 100%;
            height: 20px;
            width: 20px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
          }
        }
      }
    }
  }
  .card-score {
    align-items: center;
    .card-body {
      .card-title {
        font-size: 20px;
        color: $light1;
        line-height: 30px;
        margin: 0 0 7px;
      }
      .title_review {
        font-size: 50px;
        color: $light1;
        font-weight: 600;
        img {
          width: 54px;
          margin: 0 10px 0 0;
        }
      }
      .card-text {
        font-size: 16px;
        color: rgba($black, .4);
        font-weight: 600;
      }
    }
  }

  @media (min-width: 1440px) {
    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
      max-width: 100%;
    }
  }

  @media (max-width: 1200px) {
    .profile_banner {
      border-radius: 24px 24px 6px 6px;
      .banner_wrapper {
        border-radius: 24px;
        .banner_img {
          height: 260px;
        }
        .action_wrapper {
          top: 50px;
        }
      }
      .info_wrapper {
        padding: 34px 24px 24px;
        column-gap: 24px;
        .profile_img_wrapper {
          height: 100px;
          width: 100%;
          max-width: 100px;
          &:before {
            height: 94px;
            width: 94px;
            position: absolute;
            border-radius: 4px;
          }
          &:after {
            height: 76px;
            width: 76px;
            border-radius: 4px;
          }
        }
        ul {
          column-gap: 12px;
          li {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
    }
    .card-score {
      .card-body {
        .card-title {
          font-size: 18px;
        }
        .title_review {
          font-size: 40px;
          img {
            width: 44px;
          }
        }
      }
    }
  }
  @media (max-width: 992px) {
    .profile_banner {
      .banner_wrapper {
        .banner_img {
          height: 240px;
        }
      }
    }
  }
  @media (max-width: 767px) {
    .profile_banner {
      border-radius: 20px 20px 6px 6px;
      .banner_wrapper {
        border-radius: 20px;
        .banner_img {
          height: 200px;
        }
        .action_wrapper {
          display: none;
        }
      }
      .info_wrapper {
        flex-wrap: wrap;
        align-items: start;
        padding: 24px;
        column-gap: 20px;
        row-gap: 24px;
        .profile_details {
          padding-top: 50px;
        }
        ul {
          flex-direction: column;
          row-gap: 12px;
        }
        .action_wrapper {
          display: flex;
        }
      }
    }
    .gallery_wrapper {
      .gallery {
        img {
          max-width: calc(25% - 13.5px);
        }
      }
    }
  }
  @media (max-width: 575px) {
    .profile_banner {
      border-radius: 15px 15px 6px 6px;
      .banner_wrapper {
        border-radius: 15px;
        .banner_img {
          height: 180px;
        }
      }
      .info_wrapper {
        padding: 0 24px 24px;
        row-gap: 20px;
        .profile_details {
          padding-top: 0;
          width: 100%;
        }
      }
    }
    .gallery_wrapper {
      .gallery {
        img {
          max-width: calc(50% - 9px);
        }
      }
    }
  }
  @media (max-width: 460px) {
    .profile_banner {
      .info_wrapper {
        .action_wrapper {
          flex-wrap: wrap;
          button {
            max-width: 100%;
          }
        }
      }
    }
  }
}


//html {
//  [data-col="1-column"] {
//    .header-navbar.floating-nav {
//      width: 100% !important;
//    }
//  }
//}

