<div class="body-content-overlay"></div>
<!-- Main chat area -->
<div *ngFor="let item of messageList">
  {{ item }}
</div>

<section *ngIf="chatUser.firstName" class="chat-app-window">
  <!-- To load Conversation -->
  <div class="start-chat-area" [ngClass]="{ 'd-none': activeChat === true }">
    <!-- <div class="mb-1 start-chat-icon">
      <i data-feather="message-square"></i>
    </div>
    <h4 class="sidebar-toggle start-chat-text" (click)="toggleSidebar('chat-sidebar')">Start Conversation</h4> -->
  </div>
  <!--/ To load Conversation -->

  <!-- Active Chat -->
  <div
    class="active-chat"
    [ngClass]="{ 'd-none': activeChat !== true }"
    *ngIf="activeChat === true"
  >
    <!-- Chat Header -->
    <div class="chat-navbar">
      <header class="chat-header">
        <div class="d-flex align-items-center">
          <button
            class="btn sidebar-toggle d-block d-lg-none mr-1 p-0"
            (click)="toggleSidebar('chat-sidebar')"
          >
            <i data-feather="menu" class="font-medium-5"></i>
          </button>

          <div *ngIf="chatUser.profileImage; else customAvatar">
            <img
              class="rounded-circle mr-1"
              src="{{ baseURL }}{{ chatUser.profileImage }}"
              height="40"
              width="40"
            />
          </div>
          <ng-template #customAvatar>
            <div
              class="avatar mr-1 ml-0"
              style="background-color: #38b6ff"
              [ngClass]="{
                'avatar-status-offline': chatUser.status == 'offline',
                'avatar-status-online': chatUser.status == 'online',
                'avatar-status-busy': chatUser.status == 'busy',
                'avatar-status-away': chatUser.status == 'away'
              }"
            >
              <div class="avatar-content">
                aa{{ chatUser.firstName + " " + chatUser.lastName | initials }}
              </div>
            </div>
          </ng-template>
          <div>
            <h5 class="mb-0">
              {{ chatUser.firstName }} {{ chatUser.lastName }}
            </h5>
            <h6 class="mb-0">{{ chatUser.email }}</h6>
          </div>
        </div>
        <div *ngIf="chats.accepted === true" class="d-flex align-items-center">
          <div
            class="d-flex align-items-center"
            *ngIf="chats.order.status === 'QUOTE'"
          >
            <div class="col-lg-12">
              <button
                type="button"
                class="btn btn-success w-100"
                (click)="modalOpenVC(modalApproval, row)"
                rippleEffect
              >
                Accept
              </button>
            </div>
          </div>
        </div>
      </header>
    </div>
    <!--/ Chat Header -->

    <!-- User Chat messages -->
    <div
      class="user-chats"
      [perfectScrollbar]
      #scrollMe
      [scrollTop]="scrolltop"
    >
      <div class="chats">
        <div
          class="chat"
          *ngFor="let chatRef of chats.chat"
          [ngClass]="{ 'chat-left': chatRef.uId != userProfile._id }"
        >
          <div class="chat-avatar">
            <span>
              <div *ngIf="chatRef.uId != userProfile._id; else alternateAvatar">
                <!-- <img
                src="{{baseURL}}{{chatUser.profileImage}}"
                alt="avatar"
                height="36"
                width="36"
              /> -->

                <div *ngIf="chatUser.profileImage; else customAvatar">
                  <img
                    class="rounded-circle mr-1"
                    src="{{ baseURL }}{{ chatUser.profileImage }}"
                    height="32"
                    width="32"
                  />
                </div>
                <ng-template #customAvatar>
                  <div
                    class="avatar mr-1 ml-0"
                    style="background-color: #38b6ff"
                    [ngClass]="{
                      'avatar-status-offline': chatUser.status == 'offline',
                      'avatar-status-online': chatUser.status == 'online',
                      'avatar-status-busy': chatUser.status == 'busy',
                      'avatar-status-away': chatUser.status == 'away'
                    }"
                  >
                    <div class="avatar-content">
                      {{
                        chatUser.firstName + " " + chatUser.lastName | initials
                      }}
                    </div>
                  </div>
                </ng-template>
              </div>
              <ng-template #alternateAvatar>
                <div>
                  <div *ngIf="userProfile.profileImage; else customAvatar">
                    <img
                      class="rounded-circle mr-1"
                      src="{{ baseURL }}{{ userProfile.profileImage }}"
                      height="32"
                      width="32"
                    />
                  </div>
                  <ng-template #customAvatar>
                    <div
                      class="avatar mr-1 ml-0"
                      style="background-color: #38b6ff"
                      [ngClass]="{
                        'avatar-status-offline': chatUser.status == 'offline',
                        'avatar-status-online': chatUser.status == 'online',
                        'avatar-status-busy': chatUser.status == 'busy',
                        'avatar-status-away': chatUser.status == 'away'
                      }"
                    >
                      <div class="avatar-content">
                        {{ userProfile.companyName | initials }}
                      </div>
                    </div>
                  </ng-template>
                  <!-- <img src="{{baseURL}}{{userProfile.profileImage}}" alt="avatar" height="36" width="36" /> -->
                </div>
              </ng-template>
            </span>
          </div>
          <div class="chat-body">
            <div class="chat-content">
              <span>{{ chatRef.message }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- User Chat messages -->

    <!-- Submit Chat form -->
    <form
      *ngIf="
        chats.assignTo === userProfile._id || !chats.assignTo;
        else leadUnavailable
      "
      class="chat-app-form"
      action="javascript:void(0);"
    >
      <div class="input-group input-group-merge mr-1 form-send-message">
        <div class="input-group-prepend">
          <span class="speech-to-text input-group-text">
            <!-- <i data-feather="mic" class="cursor-pointer"></i> -->
          </span>
        </div>
        <input
          type="text"
          class="form-control message"
          placeholder="Type your message here."
          [(ngModel)]="chatMessage"
          (keydown.enter)="sendMessage()"
          name="chat-message"
        />
        <!-- <div class="input-group-append">
          <span class="input-group-text">
            <label for="attach-doc" class="attachment-icon mb-0">
              <i data-feather="image" class="cursor-pointer lighten-2 text-secondary"></i>
              <input type="file" id="attach-doc" hidden /> </label
          ></span>
        </div> -->
      </div>
      <button
        type="button"
        class="btn btn-relief-primary send"
        (keydown.enter)="sendMessage()"
        (click)="sendMessage()"
        rippleEffect
      >
        <i data-feather="send" class="d-lg-none"></i>
        <span class="d-none d-lg-block">Send</span>
      </button>
    </form>

    <ng-template #leadUnavailable>
      <div style="padding: 20px; text-align: center">
        <p>This lead is no longer available.</p>
      </div>
    </ng-template>
    <!--/ Submit Chat form -->
  </div>
  <!--/ Active Chat -->
</section>
<!--/ Main chat area -->

<section
  *ngIf="!chatUser.firstName"
  class="chat-app-window"
  style="text-align: center; background-color: #ffffff"
>
  <div
    class="active-chat"
    style="display: flex; align-items: center; justify-content: center"
  >
    <h3>
      It looks like you don’t have any chats yet.<br />
      Once you connect with your first client, you'll be able to communicate
      with them right here!
    </h3>
  </div>
</section>

<ng-template #modalDecline let-modal>
  <div class="text-center mt-2">
    <h3 class="modal-title text-center" id="myModalLabel160">Confirmation</h3>
    <!-- <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body text-center mb-2" tabindex="0" ngbAutofocus>
    You really want to decline this quotation?
  </div>
  <div class="text-center mb-2">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.dismiss('Cross click')"
      rippleEffect
    >
      Decline
    </button>
    <button
      type="button"
      class="btn btn-primary ml-1"
      (click)="modal.dismiss('Cross click')"
      rippleEffect
    >
      Cancel
    </button>
  </div>
</ng-template>

<ng-template #modalApproval let-modal>
  <div class="modal-title text-center mt-2">
    <h3 class="modal-title text-center" id="myModalLabel160">Confirmation</h3>
    <!-- <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body text-center mb-2" tabindex="0" ngbAutofocus>
    Are you interested in this lead?
    <br />
    After approval, please check this lead under lead management tab.
  </div>
  <div class="text-center mb-2">
    <button
      type="button"
      class="btn btn-success"
      (click)="changeOrderStatus(chats.orderId, chats)"
      rippleEffect
    >
      Approve
    </button>
    <button
      type="button"
      class="btn btn-primary ml-1"
      (click)="modal.dismiss('Cross click')"
      rippleEffect
    >
      Cancel
    </button>
  </div>
</ng-template>
