<!-- <div class="content-wrapper container-xxl p-0 card">
  <div class="content-body">
    <div style="padding-left: 20px">
      <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
          <div class="col-12 d-flex">
            <h2 class="content-header-title float-left mb-0 pt-3">
              Verifications
            </h2>
          </div>
        </div>
      </div>
    </div>

    <section>
      <div class="col-lg-12 mb-12 mb-lg-0 pb-1 table-padding">
        <div class="card h-100">
          <div class="table-responsive">
            <table class="table table-s1">
              <thead>
                <tr>
                  <th></th>
                  <th>File name</th>
                  <th class="text-center">View File</th>
                  <th class="text-center">Upload File</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="width: 0px"></td>
                  <td style="width: 600px">
                    <img
                      style="
                        width: 20px;
                        height: 20px;
                        font-family: 'Public Sans', sans-serif;
                        margin-right: 20px;
                      "
                      src="../../../assets/images/icons/info.png"
                      alt=""
                    />
                    Business Registration Certificate
                  </td>
                  <td class="text-center">
                    <div
                      (click)="openLicense()"
                      class="badge badge-pill badge-light-success mr-1 cursor-pointer"
                      style="min-width: 45px"
                    >
                      Preview
                    </div>
                  </td>
                  <td class="text-center">
                    <input
                      type="file"
                      id="upload"
                      (change)="licensefileChangeEvent($event)"
                      accept=".pdf,.jpg,.png"
                      hidden
                    />
                    <label
                      for="upload"
                      type="button"
                      class="{{
                        licensefileSelected
                          ? 'btn btn-relief-success'
                          : 'btn btn-relief-primary'
                      }}"
                      rippleEffect
                      style="
                        width: 250px;
                        font-family: 'Public Sans', sans-serif;
                      "
                    >
                      {{ licensefileSelected ? "Uploaded" : "Upload" }}</label
                    >
                  </td>
                </tr>

                <tr>
                  <td style="width: 0px"></td>
                  <td style="width: 350px">
                    <img
                      style="
                        width: 20px;
                        height: 20px;
                        font-family: 'Public Sans', sans-serif;
                        margin-right: 20px;
                      "
                      src="../../../assets/images/icons/info.png"
                      alt=""
                    />Liability Insurance
                  </td>
                  <td class="text-center">
                    <div
                      (click)="openLibilityInsurance()"
                      class="badge badge-pill badge-light-success mr-1 cursor-pointer"
                      style="min-width: 45px"
                    >
                      Preview
                    </div>
                  </td>
                  <td class="text-center">
                    <input
                      type="file"
                      id="upload2"
                      (change)="libilityInsurancefileChangeEvent($event)"
                      accept=".pdf,.jpg,.png"
                      hidden
                    />
                    <label
                      for="upload2"
                      class="{{
                        libilityInsurancefileSelected
                          ? 'btn btn-relief-success'
                          : 'btn btn-relief-primary'
                      }}"
                      rippleEffect
                      style="
                        width: 250px;
                        font-family: 'Public Sans', sans-serif;
                      "
                    >
                      {{
                        libilityInsurancefileSelected ? "Uploaded" : "Upload"
                      }}
                    </label>
                  </td>
                </tr>

                <tr>
                  <td style="width: 0px"></td>
                  <td style="width: 350px">
                    <img
                      style="
                        width: 20px;
                        height: 20px;
                        font-family: 'Public Sans', sans-serif;
                        margin-right: 20px;
                      "
                      src="../../../assets/images/icons/info.png"
                      alt=""
                    />
                    Proof Of Address
                  </td>
                  <td class="text-center">
                    <div
                      (click)="openIdentityCard()"
                      class="badge badge-pill badge-light-success mr-1 cursor-pointer"
                      style="min-width: 45px"
                    >
                      Preview
                    </div>
                  </td>

                  <td class="text-center">
                    <input
                      type="file"
                      id="upload3"
                      (change)="IdentityCardfileChangeEvent($event)"
                      accept=".pdf,.jpg,.png"
                      hidden
                    />
                    <label
                      for="upload3"
                      class="{{
                        IdentityCardfile
                          ? 'btn btn-relief-success'
                          : 'btn btn-relief-primary'
                      }}"
                      rippleEffect
                      style="
                        width: 250px;
                        font-family: 'Public Sans', sans-serif;
                      "
                    >
                      {{ IdentityCardfile ? "Uploaded" : "Upload" }}
                    </label>
                  </td>
                </tr>

                <tr>
                  <td style="width: 0px"></td>
                  <td style="width: 350px; padding-top: 30px">
                    By clicking
                    <span style="color: #000000"><b>‘Submit’</b></span> you
                    confirm and agree that all information provided is accurate,
                    complete, and belongs to you. You acknowledge that you
                    understand this information may be verified by our team, and
                    any false of misleading statements could result in the
                    rejection of your application or other legal consequences,
                    Please. Ensure you have read and understood our
                    <span style="color: #38b6ff">
                      <a
                        href="https://moventag.com/#/privacy-policy"
                        target="_blank"
                        >Privacy Policy</a
                      ></span
                    >
                    and
                    <span style="color: #38b6ff"
                      ><a
                        href="https://moventag.com/#/terms-of-use"
                        target="_blank"
                        >Terms of Service</a
                      ></span
                    >
                    before submitting.
                  </td>
                  <td class="text-center"></td>

                  <td class="text-center">
                    <button
                      class="btn btn-relief-primary"
                      [disabled]="
                        !licensefileSelected ||
                        !libilityInsurancefileSelected ||
                        !IdentityCardfile
                      "
                      (click)="filesUpload()"
                      style="
                        width: 250px;
                        font-family: 'Public Sans', sans-serif;
                      "
                    >
                      Submit
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</div> -->

<div class="content-wrapper container-xxl p-0 card">
  <div class="content-body">
    <!-- content-header component -->
    <div style="padding-left: 20px">
      <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
          <div class="col-12 d-flex">
            <h2 class="content-header-title float-left mb-0 pt-3">
              Verifications
            </h2>
          </div>
        </div>
      </div>
    </div>

    <section>
      <div class="col-lg-12 mb-12 mb-lg-0 pb-1 table-padding">
        <div class="card h-100">
          <div class="table-responsive">
            <table class="table table-s1">
              <thead>
                <tr>
                  <th></th>
                  <th>File name</th>
                  <th class="text-center">View File</th>
                  <th class="text-center">Upload File</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="width: 175px">
                    <!-- <p *ngIf="LisenceURL !== ''">
                      {{ LisenceURL }}
                    </p>
                    <img
                      *ngIf="LisenceURL && LisenceURL.trim() !== ''"
                      src="../../../assets/images/site/uploaded.png"
                      alt="Valid License"
                      style="width: 25px; height: 25px"
                    /> -->
                  </td>
                  <td style="width: 200px">Business License</td>
                  <td class="text-center">
                    <div
                      (click)="openLicense()"
                      class="badge badge-pill badge-light-success mr-1 cursor-pointer"
                      style="min-width: 45px"
                    >
                      Preview
                    </div>
                  </td>
                  <td class="text-center">
                    <input
                      type="file"
                      id="upload"
                      (change)="licensefileChangeEvent($event)"
                      accept=".pdf,.jpg,.png"
                      hidden
                    />
                    <label
                      for="upload"
                      type="button"
                      class="btn btn-relief-primary"
                      rippleEffect
                      style="
                        width: 250px;
                        font-family: 'Public Sans', sans-serif;
                      "
                      ><img
                        style="width: 20px; height: 20px"
                        src="../../../assets/images/site/highlight.png"
                        alt=""
                      />
                      &nbsp;{{
                        LisenceURL == undefined || LisenceURL == ""
                          ? "Upload"
                          : "Update"
                      }}
                      Business License</label
                    >
                  </td>
                </tr>

                <tr>
                  <td style="width: 175px"></td>
                  <td style="width: 200px">Liability Insurance</td>
                  <td class="text-center">
                    <div
                      (click)="openLibilityInsurance()"
                      class="badge badge-pill badge-light-success mr-1 cursor-pointer"
                      style="min-width: 45px"
                    >
                      Preview
                    </div>
                  </td>
                  <td class="text-center">
                    <input
                      type="file"
                      id="upload2"
                      (change)="libilityInsurancefileChangeEvent($event)"
                      accept=".pdf,.jpg,.png"
                      hidden
                    />
                    <label
                      for="upload2"
                      class="btn btn-relief-primary"
                      rippleEffect
                      style="
                        width: 250px;
                        font-family: 'Public Sans', sans-serif;
                      "
                      ><img
                        style="
                          width: 20px;
                          height: 20px;
                          font-family: 'Public Sans', sans-serif;
                        "
                        src="../../../assets/images/site/highlight.png"
                        alt=""
                      />
                      &nbsp;
                      {{
                        LibilityInsuranceURL == undefined ||
                        LibilityInsuranceURL == ""
                          ? "Upload"
                          : "Update"
                      }}
                      Liability Insurance</label
                    >
                  </td>
                </tr>

                <tr>
                  <td style="width: 175px"></td>
                  <td style="width: 200px">Identification</td>
                  <td class="text-center">
                    <div
                      (click)="openIdentityCard()"
                      class="badge badge-pill badge-light-success mr-1 cursor-pointer"
                      style="min-width: 45px"
                    >
                      Preview
                    </div>
                  </td>

                  <td class="text-center">
                    <input
                      type="file"
                      id="upload3"
                      (change)="IdentityCardfileChangeEvent($event)"
                      accept=".pdf,.jpg,.png"
                      hidden
                    />
                    <label
                      for="upload3"
                      class="btn btn-relief-primary"
                      rippleEffect
                      style="
                        width: 250px;
                        font-family: 'Public Sans', sans-serif;
                      "
                      ><img
                        style="width: 20px; height: 20px"
                        src="../../../assets/images/site/highlight.png"
                        alt=""
                      />&nbsp;
                      {{
                        IdentityCardURL == undefined || IdentityCardURL == ""
                          ? "Upload"
                          : "Update"
                      }}
                      Identity Card</label
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <!-- <div class="col-12">
            <div class="row">
                <div class="col-lg-4">
                    <div class="profile_banner">
                        <div class="banner_wrapper" style="border-radius: 0px;">
                            <img (click)="openLicense()"
                                src="{{get_url_extension(LisenceURL) === 'pdf' ? 'assets/images/site/gray-img-pdf.jpg' : baseURL+LisenceURL}}"
                                alt="" class="banner_img" style="cursor: pointer;">

                            <input type="file" id="upload2" (change)="libilityInsurancefileChangeEvent($event)"
                                accept=".pdf,.jpg,.png" hidden />
                            <label for="upload2" class="btn btn-dark2" style="width:200px;"><img
                                    style="width: 20px; height: 20px;" src="../../../assets/images/site/highlight.png"
                                    alt="">Update Libility
                                Insurance</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="profile_banner">
                        <div class="banner_wrapper" style="border-radius: 0px;">
                            <img (click)="openLibilityInsurance()"
                                src="{{get_url_extension(LibilityInsuranceURL) === 'pdf' ? 'assets/images/site/gray-img-pdf.jpg' : baseURL+LibilityInsuranceURL}}"
                                alt="" class="banner_img" style="cursor: pointer;">

                            <input type="file" id="upload2" (change)="libilityInsurancefileChangeEvent($event)"
                                accept=".pdf,.jpg,.png" hidden />
                            <label for="upload2" class="btn btn-dark2" style="width:100%; margin-top: -10px;"><img
                                    src="../../../assets/images/site/highlight.png" alt="">Update Libility
                                Insurance</label>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="profile_banner">
                        <div class="banner_wrapper" style="border-radius: 0px;">
                            <img (click)="openIdentityCard()"
                                src="{{get_url_extension(IdentityCardURL) === 'pdf' ? 'assets/images/site/gray-img-pdf.jpg' : baseURL+IdentityCardURL}}"
                                alt="" class="banner_img" style="cursor: pointer;">

                            <input type="file" id="upload3" (change)="IdentityCardfileChangeEvent($event)"
                                accept=".pdf,.jpg,.png" hidden />
                            <label for="upload3" class="btn btn-dark2" style="width:100%; margin-top: -10px;"><img
                                    src="../../../assets/images/site/highlight.png" alt="">Update Identity Card</label>

                        </div>
                    </div>
                </div>

            </div>
        </div> -->
  </div>
</div>
