<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <!-- Brand logo-->
    <a class="brand-logo d-none" href="javascript:void(0);">
      <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" />
      <h2 class="brand-text text-primary ml-1">MOVENTAG</h2>
    </a>
    <!-- /Brand logo-->

    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-8 px-0 d-none d-sm-block">
          <img [src]="
          coreConfig.layout.skin === 'dark'
            ? 'assets/images/pages/login-v2-dark.svg'
            : 'assets/images/site/pro_login_bg.jpg'
        " alt="login image" class="login-img">
        </div>

        <div class="col-sm-4 login-section-wrapper justify-content-center">

          <div class="brand-wrapper">
            <a class="brand-logo position-static d-block mb-4" href="javascript:void(0);" style="padding-left: 0px;">
              <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="54" />
            </a>
            <p class="card-text mb-2" style="margin-top: -40px; margin-bottom: 50px; color: #000000">Please reset your password
            </p>
          </div>

          <div>

            <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
              <div class="alert-body">
                <p>{{ error }}</p>
              </div>
            </ngb-alert>

            <form class="auth-login-form mt-2" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <div class="d-flex justify-content-between">
                  <label for="login-password">New Password</label>
                </div>
                <div class="input-group input-group-merge form-password-toggle">
                  <input [type]="passwordTextType ? 'text' : 'password'" class="form-control form-control-merge"
                    [(ngModel)]="passwordType" name="passwordType"
                    [ngClass]="{ 'is-invalid error': submitted && f.password.errors }" placeholder="············"
                    aria-describedby="login-password" tabindex="2" />
                  <div class="input-group-append">
                    <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                          'icon-eye-off': passwordTextType,
                          'icon-eye': !passwordTextType
                        }" (click)="togglePasswordTextType()"></i></span>
                  </div>
                </div>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback"
                  [ngClass]="{ 'd-block': submitted && f.password.errors }">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
              </div>
              <div class="form-group">
                <div class="d-flex justify-content-between">
                  <label for="login-password">Confirm Password</label>
                </div>
                <div class="input-group input-group-merge form-password-toggle">
                  <input [type]="passwordTextType ? 'text' : 'password'" class="form-control form-control-merge"
                    [(ngModel)]="confirmPasswordType" name="confirmPasswordType"
                    [ngClass]="{ 'is-invalid error': submitted && f.password.errors }" placeholder="············"
                    aria-describedby="login-password" tabindex="2" />
                  <div class="input-group-append">
                    <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                          'icon-eye-off': passwordTextType,
                          'icon-eye': !passwordTextType
                        }" (click)="togglePasswordTextType()"></i></span>
                  </div>
                </div>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback"
                  [ngClass]="{ 'd-block': submitted && f.password.errors }">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
              </div>
              <button (click)="onSubmit()" [disabled]="loading" class="btn btn-dark btn-block" tabindex="4"
                rippleEffect>
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Set New Password
              </button>
            </form>

            <a href="/" class="ml-5 text-center">
              <div>
                <span
                  style="font-family: 'Montserrat', sans-serif; color:#000000; font-size: 16px; font-weight: 600;">Back
                  to
                  website</span>
              </div>
            </a>

          </div>

        </div>
      </div>
    </div>

  </div>
</div>