<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <p class="welcome-message">Welcome</p>
    <section class="mt-3">
      <div class="row">
        <div class="col-lg-8">
          <div class="mb-3">
            <div class="progress-wrapper mb-2">
              <div class="mb-50">You have <span class="border-bottom">{{analytics['total-pending-orders']}}
                  Tickets</span> Pending</div>
              <ngb-progressbar type="primary"
                [value]="(analytics['total'] / analytics['total-pending-orders'])*50"></ngb-progressbar>
              <p class="opacity-50 mt-50">{{analytics['total-completed-orders']}}/{{analytics['total'] }} Open Ticket
                Requests Completed</p>
            </div>
          </div>
        </div>
      </div>
    </section>
<!-- 
    <section class="mt-3">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-3" *ngFor="let card of cards">
              <div class="card card-dark">
                <div class="card-header">
                  <div>
                    <p class="card-text mb-50">{{ card.name }}</p>
                    <h2 class="title font-weight-bolder">{{ card.price }}</h2>
                  </div>
                  <div class="avatar p-50 m-0">
                    <div class="avatar-content">
                      <i data-feather="user" class="icon font-medium-5"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <section>
      <!-- Website Analytics -->
      <div class="col-lg-8 mb-4">
        <div class="swiper-container swiper-container-horizontal swiper swiper-card-advance-bg"
          id="swiper-with-pagination-cards">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="row">
                <div class="col-12">
                  <h2 class="text-white mb-0 mt-2">Ticket Analytics</h2>
                </div>

                <div class="col-lg-8 col-md-9 col-12 order-2 order-md-1 mt-3">
                  <div class="row">
                    <div class="col-lg-6 col-md-12" *ngFor="let card of cards">
                      <ul class="list-unstyled mb-0">
                        <li class="d-flex mb-4 align-items-center">
                          <p class="mb-0 fw-semibold me-2 website-analytics-text-bg" style="color: #ffffff; font-size: 16px;">{{
                            card.price }}</p>
                          <p class="mb-0" style="color: #ffffff; font-size: 18px; margin-left: 10px;">{{ card.name }}</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-3 col-12 order-1 order-md-2 my-4 my-md-0 text-center">
                  <img src="../../../../../../assets/images/site/dashboard_icon.png" alt="Website Analytics" width="180"
                    class="card-website-analytics-img" />
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ Website Analytics -->
    </section>



  </div>
</div>