<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <!-- <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <p class="welcome-message">Welcome</p>

    <section class="mt-3">
      <div class="row">
        <div class="col-lg-8">
          <div class="mb-3">
            <div class="progress-wrapper mb-2">
              <div class="mb-50">You have <span class="border-bottom">{{analytics['total-pending-orders']}}
                  Tickets</span> Pending</div>
              <ngb-progressbar type="primary"
                [value]="(analytics['total'] / analytics['total-pending-orders'])*50"></ngb-progressbar>
              <p class="opacity-50 mt-50">{{analytics['total-completed-orders']}}/{{analytics['total'] }} Open Ticket
                Requests Completed</p>
            </div>
          </div>
        </div>
      </div>
    </section> -->


    <div class="col-lg-12">
      <div class="row">

        <div class="col-xl-5 col-md-6 col-12">
          <div class="card card-congratulation-medal">
            <div class="card-body">
              <div class="row">
                <div class="col-8">
                  <h2>Welcome {{user?.companyName}}</h2>
                  <p class="card-text font-small-5">You have
                    {{analytics['total-pending-orders']}}/{{analytics['total']}} pending tasks</p>
                  <button routerLink="/pages/seller/order-management" type="button"
                    class="btn btn-primary waves-effect waves-float waves-light mt-2" rippleEffect>View</button>
                </div>
                <div class="col-4">
                  <!-- <img width="147px" height="147px" style="margin-left: -20px;"
                    src="assets/images/site/dashboard_icon.png" class="v-img__img v-img__img--contain"
                    alt="Medal Pic" /> -->
                    <div *ngIf="user?.profileImage; else customAvatar">
                      <img style="background: white;box-shadow: 1px 5px 8px gray;"
                        class="rounded-circle mr-1 v-img__img v-img__img--contain"
                        src="{{baseURL}}{{user?.profileImage}}" 
                        height="100"
                        width="100"
                      />
                    </div>
                    <ng-template #customAvatar>
                      <div
                        class="avatar mr-1 ml-0"
                      >
                        <div style="
                        height: 100px;
                        width: 100px;
                        font-size: 30px;;box-shadow: 1px 5px 8px gray;
                    " class="avatar-content">{{ user?.companyName| initials }}</div>
                      </div>
                    </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-4 col-6">
          <div class="card">
            <div class="card-body text-center mb-1 mt-2">
              <h2 class="mt-2">Star Score</h2>
              <div class="row text-center mt-2 mb-0" style="justify-content: center">
                <img src="assets/images/site/star-big.png" style="width: 30px; height:30px; margin-right: 5px;" />
                <h1 style="font-size: 30px;">{{sellerProfile.totalRating}}%</h1>
              </div>
              <!-- <small class="text-muted">Past 12 Months</small> -->
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-6">
          <div class="card">
            <div class="card-body text-center mb-2 mt-2">
              <h2 class="mt-2">${{allEarningAnalytics.totalAmmount}}</h2>
              <h2 class="mt-2">Total Revenue</h2>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Statistics Card -->
    <!-- <div class="col-xl-12 col-md-6 col-12">
      <div class="card card-statistics">
        <div class="card-header">
          <h2>Statistics</h2>
          <div class="d-flex align-items-center">
          </div>
        </div>
        <div class="card-body statistics-body">
          <div class="row">
            <div class="col-sm-6 col-xl-3 mb-2 mb-xl-0">
              <div class="media">
                <div class="avatar bg-light-primary mr-2">
                  <div class="avatar-content">
                    <i data-feather="trending-up" class="avatar-icon"></i>
                  </div>
                </div>
                <div class="media-body my-auto">
                  <h2 class="font-weight-bolder mb-0">230k</h2>
                  <p class="card-text font-small-3 mb-0">Completed Orders</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3 mb-2 mb-xl-0">
              <div class="media">
                <div class="avatar bg-light-info mr-2">
                  <div class="avatar-content">
                    <i data-feather="user" class="avatar-icon"></i>
                  </div>
                </div>
                <div class="media-body my-auto">
                  <h2 class="font-weight-bolder mb-0">8.549k</h2>
                  <p class="card-text font-small-3 mb-0">Clients / Consumers</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3 mb-2 mb-sm-0">
              <div class="media">
                <div class="avatar bg-light-danger mr-2">
                  <div class="avatar-content">
                    <i data-feather="box" class="avatar-icon"></i>
                  </div>
                </div>
                <div class="media-body my-auto">
                  <h2 class="font-weight-bolder mb-0">1.423k</h2>
                  <p class="card-text font-small-3 mb-0">Total Sales</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3">
              <div class="media">
                <div class="avatar bg-light-success mr-2">
                  <div class="avatar-content">
                    <i data-feather="dollar-sign" class="avatar-icon"></i>
                  </div>
                </div>
                <div class="media-body my-auto">
                  <h2 class="font-weight-bolder mb-0">$9745</h2>
                  <p class="card-text font-small-3 mb-0">Cancelled Orders</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!--/ Statistics Card -->
    <div class="col-lg-12">
      <div class="row">

        <!-- Earning Reports -->
        <div class="col-lg-5 mb-4">
          <div class="card h-100">
            <div class="card-header pb-0 d-flex justify-content-between mb-lg-n4">
              <div class="card-title mb-0">
                <h2 class="mb-0">Earning Report</h2>
                <small class="text-muted">Today's Earning</small>
              </div>
              <!-- </div> -->
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-md-4 d-flex flex-column align-self-center">
                  <div class="d-flex gap-2 align-items-center mb-2 pb-1 flex-wrap">
                    <h1 class="mb-0" style="margin-right: 5px; font-size: 35px;">
                      ${{allEarningAnalytics.totalAmountWeekly[currentDayIndex]}}</h1>
                  </div>
                </div>
                <div class="col-12 col-md-8">
                  <div id="chartjs-bar-chart">
                    <canvas baseChart #barChartRef height="250" [datasets]="barChart.datasets"
                      [labels]="barChart.labels" [options]="barChart.options" [legend]="barChart.legend"
                      [chartType]="barChart.chartType">
                    </canvas>
                  </div>
                </div>
              </div>
              <div class="border rounded p-1 mt-0">
                <div class="row gap-4 gap-sm-0">
                  <div class="col-12 col-sm-4">
                    <div class="d-flex gap-2 align-items-center">
                      <div class="avatar bg-light-primary rounded">
                        <div class="avatar-content">
                          <i data-feather="dollar-sign" class="avatar-icon font-medium-3"></i>
                        </div>
                      </div>
                      <h5 class="mb-0" style="margin-left: 5px; color: #5d596c">Daily</h5>
                    </div>
                    <h3 class="my-2 pt-1">${{allEarningAnalytics.totalAmountDaily}}</h3>
                    <div class="progress w-75" style="height: 4px">
                      <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4">
                    <div class="d-flex gap-2 align-items-center">
                      <div class="avatar bg-light-info rounded">
                        <div class="avatar-content">
                          <i data-feather="dollar-sign" class="avatar-icon font-medium-3"></i>
                        </div>
                      </div>
                      <h5 class="mb-0" style="margin-left: 5px; color: #5d596c">Monthly</h5>
                    </div>
                    <h3 class="my-2 pt-1">${{allEarningAnalytics.totalAmountMonthly}}</h3>
                    <div class="progress w-75" style="height: 4px">
                      <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4">
                    <div class="d-flex gap-2 align-items-center">
                      <div class="avatar bg-light-danger rounded">
                        <div class="avatar-content">
                          <i data-feather="dollar-sign" class="avatar-icon font-medium-3"></i>
                        </div>
                      </div>
                      <h5 class="mb-0" style="margin-left: 5px; color: #5d596c">Yearly</h5>
                    </div>
                    <h3 class="my-2 pt-1">${{allEarningAnalytics.totalAmountYealy}}</h3>
                    <div class="progress w-75" style="height: 4px">
                      <div class="progress-bar bg-danger" role="progressbar" style="width: 65%" aria-valuenow="65"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/ Earning Reports -->

        <!-- Monthly Campaign State -->
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <div class="card-header d-flex justify-content-between">
              <div class="card-title mb-0">
                <h2 class="mb-0">Clicks Statistics</h2>

              </div>
            </div>
            <div class="card-body">
              <ul class="p-0 m-0">

                <li class="pb-0 d-flex justify-content-between align-items-center">
                  <div class="avatar bg-light-primary rounded">
                    <div class="avatar-content">
                      <img src="assets/images/icons/new/profile.png" style="width: 20px; height: 20px;" />
                    </div>
                  </div>
                  <div class="d-flex justify-content-between w-100 flex-wrap">
                    <h5 class="mb-0 ms-3 p-1 align-self-center">Profile View</h5>
                    <div class="d-flex align-items-center">
                      <p class="mb-0 fw-semibold" style="font-size: 17px; margin-right: 10px;">
                        <b>{{sellerProfile.viewedCount}}</b>
                      </p>
                    </div>
                  </div>
                </li>

                <!-- <li class="pb-0 d-flex justify-content-between align-items-center">
                  <div class="avatar bg-light-primary rounded ">
                    <div class="avatar-content">
                      <i data-feather="clock" class="avatar-icon font-medium-3"></i>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between w-100 flex-wrap">
                    <h5 class="mb-0 ms-3 p-1 align-self-center">Get Quote</h5>
                    <div class="d-flex align-items-center">
                      <p class="mb-0 fw-semibold" style="font-size: 17px; margin-right: 10px;"><b>12,346</b></p>
                    </div>
                  </div>
                </li> -->

                <li class="pb-0 d-flex justify-content-between align-items-center">
                  <div class="avatar bg-light-primary rounded">
                    <div class="avatar-content">
                      <img src="assets/images/icons/new/email.png" style="width: 20px; height: 20px;" />
                    </div>
                  </div>
                  <div class="d-flex justify-content-between w-100 flex-wrap">
                    <h5 class="mb-0 ms-3 p-1 align-self-center">Email</h5>
                    <div class="d-flex align-items-center">
                      <p class="mb-0 fw-semibold" style="font-size: 17px; margin-right: 10px;">
                        <b>{{sellerProfile.emailCount}}</b>
                      </p>
                    </div>
                  </div>
                </li>

                <li class="pb-0 d-flex justify-content-between align-items-center">
                  <div class="avatar bg-light-primary rounded">
                    <div class="avatar-content">
                      <img src="assets/images/icons/new/phone.png" style="width: 20px; height: 20px;" />
                    </div>
                  </div>
                  <div class="d-flex justify-content-between w-100 flex-wrap">
                    <h5 class="mb-0 ms-3 p-1 align-self-center">Phone Number</h5>
                    <div class="d-flex align-items-center">
                      <p class="mb-0 fw-semibold" style="font-size: 17px; margin-right: 10px;">
                        <b>{{sellerProfile.phoneCount}}</b>
                      </p>
                    </div>
                  </div>
                </li>

                <li class="pb-0 d-flex justify-content-between align-items-center">
                  <div class="avatar bg-light-primary rounded">
                    <div class="avatar-content">
                      <img src="assets/images/icons/new/website.png" style="width: 20px; height: 20px;" />
                    </div>
                  </div>
                  <div class="d-flex justify-content-between w-100 flex-wrap">
                    <h5 class="mb-0 ms-3 p-1 align-self-center">Website Clicks</h5>
                    <div class="d-flex align-items-center">
                      <p class="mb-0 fw-semibold" style="font-size: 17px; margin-right: 10px;">
                        <b>{{sellerProfile.webCount}}</b>
                      </p>
                    </div>
                  </div>
                </li>

                <li class="pb-0 d-flex justify-content-between align-items-center">
                  <div class="avatar bg-light-primary rounded">
                    <div class="avatar-content">
                      <img src="assets/images/icons/new/facebook.png" style="width: 20px; height: 20px;" />
                    </div>
                  </div>
                  <div class="d-flex justify-content-between w-100 flex-wrap">
                    <h5 class="mb-0 ms-3 p-1 align-self-center">Facebook</h5>
                    <div class="d-flex align-items-center">
                      <p class="mb-0 fw-semibold" style="font-size: 17px; margin-right: 10px;">
                        <b>{{sellerProfile.fbCount}}</b>
                      </p>
                    </div>
                  </div>
                </li>

                <li class="pb-0 d-flex justify-content-between align-items-center">
                  <div class="avatar bg-light-primary rounded">
                    <div class="avatar-content">
                      <img src="assets/images/icons/new/instagram.png" style="width: 20px; height: 20px;" />
                    </div>
                  </div>
                  <div class="d-flex justify-content-between w-100 flex-wrap">
                    <h5 class="mb-0 ms-3 p-1 align-self-center">Instagram</h5>
                    <div class="d-flex align-items-center">
                      <p class="mb-0 fw-semibold" style="font-size: 17px; margin-right: 10px;">
                        <b>{{sellerProfile.instCount}}</b>
                      </p>
                    </div>
                  </div>
                </li>

                <li class="pb-0 d-flex justify-content-between align-items-center">
                  <div class="avatar bg-light-primary rounded">
                    <div class="avatar-content">
                      <img src="assets/images/icons/new/twitter.png" style="width: 20px; height: 20px;" />
                    </div>
                  </div>
                  <div class="d-flex justify-content-between w-100 flex-wrap">
                    <h5 class="mb-0 ms-3 p-1 align-self-center">Twitter</h5>
                    <div class="d-flex align-items-center">
                      <p class="mb-0 fw-semibold" style="font-size: 17px; margin-right: 10px;">
                        <b>{{sellerProfile.twitterCount}}</b>
                      </p>
                    </div>
                  </div>
                </li>



              </ul>
            </div>
          </div>
        </div>
        <!--/ Monthly Campaign State -->

        <div class="col-lg-3 mb-4" style="
        padding-right: 0px;
        padding-left: 0px;
    ">
          <div class="col-lg-12 col-md-6 col-12">
            <div class="card card-transaction" style="
            margin-bottom: 0px;
        ">
              <div class="card-header">
                <h4 class="card-title" style="font-size: 20px;">Ticket Tracker</h4>
              </div>
              <div class="card-body mt-1">
                <div class="row">
                  <div class="col-8">
                    <h2>{{analytics['total']}}</h2>
                    <p class="card-text font-small-5">Total Tickets</p>
                  </div>
                </div>
              </div>

              <div class="card-body">
                <div class="transaction-item mb-2">
                  <div class="media">
                    <div class="avatar bg-light-primary rounded">
                      <div class="avatar-content">
                        <img src="assets/images/icons/new/active.png" style="width: 25px; height: 25px;" />
                      </div>
                    </div>
                    <div class="media-body">
                      <h6 class="transaction-title">Active</h6>
                      <small>{{analytics['total-approved-orders']}}</small>
                    </div>
                  </div>
                </div>
                <div class="transaction-item mb-2">
                  <div class="media">
                    <div class="avatar bg-light-primary rounded">
                      <div class="avatar-content">
                        <img src="assets/images/icons/new/complete.png" style="width: 25px; height: 25px;" />
                      </div>
                    </div>
                    <div class="media-body">
                      <h6 class="transaction-title">Completed</h6>
                      <small>{{analytics['total-completed-orders']}}</small>
                    </div>
                  </div>
                </div>
                <div class="transaction-item mb-2">
                  <div class="media">
                    <div class="avatar bg-light-primary rounded">
                      <div class="avatar-content">
                        <img src="assets/images/icons/new/pending.png" style="width: 25px; height: 25px;" />
                      </div>
                    </div>
                    <div class="media-body">
                      <h6 class="transaction-title">Pending</h6>
                      <small>{{analytics['total-pending-orders']}}</small>
                    </div>
                  </div>
                </div>
                <div class="transaction-item mb-5">
                  <div class="media">
                    <div class="avatar bg-light-primary rounded">
                      <div class="avatar-content">
                        <img src="assets/images/icons/new/cancel.png" style="width: 25px; height: 25px;" />
                      </div>
                    </div>
                    <div class="media-body">
                      <h6 class="transaction-title">Cancelled</h6>
                      <small>{{analytics['total-cancelled-orders']}}</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-lg-12 mb-12 mb-lg-0">
      <div class="card h-100">
        <div class="table-responsive">
          <table class="table table-s1">
            <thead>
              <tr>
                <th>Order#</th>
                <th>Consumers</th>
                <th>Services</th>
                <th>Due On</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!completedOrders || completedOrders.length <=0 ">
                <td colspan="6">No Complete orders to show</td>
              </tr>
              <tr *ngFor="let item of completedOrders">
                <td>{{item?.orderNum}}</td>
                <td>{{item?.buyer?.firstName}}</td>
                <td>{{item?.category?.title}}</td>
                <td>{{item.updatedAt | date}}</td>
                <!-- <td><select class="form-control" (change)="changeOrderStatus(item, $event)" style="min-width: 165px;">
                <option value="ACTIVE" [selected]="item.status === 'ACTIVE'? 'selected':''"> Active </option>
                <option value="LATE" [selected]="item.status === 'LATE'? 'selected':''"> Late </option>
                <option value="COMPLETED" [selected]="item.status === 'COMPLETED'? 'selected':''"> Completed </option>
                <option value="CANCELLED" [selected]="item.status === 'CANCELLED'? 'selected':''"> Cancelled </option>
                  </select></td> -->
                <td>Completed</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>



    <!-- 
    <section class="mt-3">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-3" *ngFor="let card of cards">
              <div class="card card-dark">
                <div class="card-header">
                  <div>
                    <p class="card-text mb-50">{{ card.name }}</p>
                    <h2 class="title font-weight-bolder">{{ card.price }}</h2>
                  </div>
                  <div class="avatar p-50 m-0">
                    <div class="avatar-content">
                      <i data-feather="user" class="icon font-medium-5"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- <section>
   
      <div class="col-lg-8 mb-4">
        <div class="swiper-container swiper-container-horizontal swiper swiper-card-advance-bg"
          id="swiper-with-pagination-cards">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="row">
                <div class="col-12">
                  <h2 class="text-white mb-0 mt-2">Ticket Analytics</h2>
                </div>

                <div class="col-lg-8 col-md-9 col-12 order-2 order-md-1 mt-3">
                  <div class="row">
                    <div class="col-lg-6 col-md-12" *ngFor="let card of cards">
                      <ul class="list-unstyled mb-0">
                        <li class="d-flex mb-4 align-items-center">
                          <p class="mb-0 fw-semibold me-2 website-analytics-text-bg"
                            style="color: #ffffff; font-size: 16px;">{{
                            card.price }}</p>
                          <p class="mb-0" style="color: #ffffff; font-size: 18px; margin-left: 10px;">{{ card.name }}
                          </p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-3 col-12 order-1 order-md-2 my-4 my-md-0 text-center">
                  <img src="../../../../../../assets/images/site/dashboard_icon.png" alt="Website Analytics" width="180"
                    class="card-website-analytics-img" />
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
   
    </section> -->

  </div>
</div>