<div class="content-wrapper container-xxl p-0" *ngIf="allEarningAnalytics">
  <div class="content-body" style="margin-right: -15px; margin-left: -15px">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-xl-4 col-md-6 col-12">
          <div class="card card-congratulation-medal" style="height: 170px">
            <div class="card-body">
              <div class="row">
                <div class="col-8">
                  <h2 class="card-title">Welcome {{ user?.companyName }}</h2>
                  <p class="card-text font-small-5">
                    You have {{ analytics["total-approved-orders"] }}/{{
                      analytics["total"]
                    }}
                    active leads
                  </p>
                  <button
                    routerLink="/pages/seller/order-management"
                    type="button"
                    class="btn btn-relief-primary"
                    rippleEffect
                  >
                    View Leads
                  </button>
                </div>
                <div class="col-4">
                  <div *ngIf="user?.profileImage; else customAvatar">
                    <img
                      style="background: white; box-shadow: 1px 5px 8px gray"
                      class=""
                      src="{{ baseURL }}{{ user?.profileImage }}"
                      height="100"
                      width="100"
                    />
                  </div>
                  <ng-template #customAvatar>
                    <div
                      class="avatar mr-1 ml-0"
                      style="background-color: #38b6ff"
                    >
                      <div
                        style="
                          height: 100px;
                          width: 100px;
                          font-size: 30px;
                          box-shadow: 1px 5px 8px gray;
                        "
                        class="avatar-content"
                      >
                        {{ user?.companyName | initials }}
                      </div>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col-xl-3 col-md-4 col-6">
          <div class="card">
            <div class="card-body text-center mb-1 mt-2">
              <h2 class="mt-2" >
                Your Score
              </h2>
              <div
                class="row text-center mt-2 mb-0"
                style="justify-content: center"
              >
                <img
                  src="assets/images/site/star-big.png"
                  style="width: 30px; height: 30px; margin-right: 5px"
                />
                <h1 style="font-size: 30px">
                  {{ sellerProfile.totalRating }}%
                </h1>
              </div>
            </div>
          </div>
        </div> -->

        <div class="col-xl-4 col-md-4 col-12">
          <div class="card card-congratulation-medal" style="height: 170px">
            <div class="card-body">
              <h2 *ngIf="sellerProfile.totalRating > 0" class="card-title">
                Congratulations 🎉
              </h2>
              <p
                *ngIf="sellerProfile.totalRating > 0"
                class="card-text font-small-3"
              >
                You have got the rating from clients
              </p>
              <h1 class="mb-75 mt-2">
                <ng-container
                  *ngIf="sellerProfile.totalRating > 0; else noReviews"
                >
                  <a href="javascript:void(0);"
                    >{{ sellerProfile.totalRating }}%</a
                  >
                </ng-container>
                <ng-template #noReviews>
                  <p class="card-text font-small-3" style="width: 70%">
                    Looks like there are no reviews or ratings just yet.<br />
                    Remember to kindly ask your client to leave a review on your
                    profile!
                  </p>
                </ng-template>
              </h1>
              <img
                src="assets/images/illustration/badge.svg"
                class="congratulation-medal"
                alt="Medal Pic"
              />
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-12">
          <!-- <div class="card">
            <div class="card-body text-center mb-2 mt-2">
              <h2 class="mt-2" >
                ${{ allEarningAnalytics.totalAmmount }}
              </h2>
              <h2 class="mt-2" >
                Total Revenue
              </h2>
            </div>
          </div> -->

          <div
            class="card card-congratulations"
            style="
              height: 170px;
              background: linear-gradient(
                118deg,
                #7367f0,
                rgba(115, 103, 240, 0.7)
              );
            "
          >
            <div class="card-body text-center">
              <img
                src="assets/images/elements/decore-left.png"
                class="congratulations-img-left"
                alt="card-img-left"
              />
              <img
                src="assets/images/elements/decore-right.png"
                class="congratulations-img-right"
                alt="card-img-right"
              />
              <div
                class="text-center"
                style="
                  margin-top: 70px;
                  font-size: 19px;
                  color: white !important;
                "
              >
                <h2 class="card-title" style="color: white; font-size: 15px">
                  <ng-container
                    *ngIf="
                      allEarningAnalytics.totalAmmount < 1;
                      else earnedAmount
                    "
                  >
                    You haven't completed any tasks yet.<br />
                    Once you do, your earnings will be displayed here!
                  </ng-container>
                  <ng-template #earnedAmount>
                    You've earned
                    <strong
                      >${{
                        currencyService.convert(allEarningAnalytics.totalAmmount)  | number : "1.0-0"
                      }}</strong
                    >
                    with Moventag so far.<br />Your hard work is paying off!
                  </ng-template>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--/ Statistics Card -->
    <div class="col-lg-12">
      <div class="row">
        <!-- Earning Reports -->
        <div class="col-lg-6 mb-4">
          <div class="card h-100">
            <div class="row card-header">
              <div class="col-lg-6 pt-1">
                <h2 class="mb-0 card-title">Earnings Overview</h2>
                <small class="text-muted"
                  >Your earnings for this week will be displayed here</small
                >
              </div>
              <div
                class="col-lg-6 d-flex justify-content-end align-items-center"
              >
                <button
                  type="button"
                  class="btn btn-outline-primary waves-effect"
                  rippleEffect
                  (click)="modalOpenExpoprtReport(modalAddCompany)"
                >
                  <i data-feather="download"></i> &nbsp; Export Report
                </button>
              </div>
            </div>

            <div class="card-body" style="margin-top: -50px">
              <div class="row">
                <div
                  class="col-12 col-md-4 d-flex flex-column align-self-center"
                >
                  <div
                    class="d-flex gap-2 align-items-center mb-2 pb-1 flex-wrap"
                  >
                    <h1 class="mb-0" style="margin-right: 5px; font-size: 35px">
                      ${{
                        currencyService.convert(allEarningAnalytics.totalAmountWeekly[currentDayIndex])
                          | number : "1.0-0"
                      }}
                    </h1>
                  </div>
                </div>
                <div class="col-12 col-md-8">
                  <div id="chartjs-bar-chart">
                    <canvas
                      baseChart
                      #barChartRef
                      height="250"
                      [datasets]="barChart.datasets"
                      [labels]="barChart.labels"
                      [options]="barChart.options"
                      [legend]="barChart.legend"
                      [chartType]="barChart.chartType"
                    >
                    </canvas>
                  </div>
                </div>
              </div>
              <div class="border rounded p-1 mt-0">
                <div class="row gap-4 gap-sm-0">
                  <div class="col-12 col-sm-4">
                    <div class="d-flex gap-2 align-items-center">
                      <div class="avatar bg-light-primary rounded">
                        <div class="avatar-content">
                          <i
                            data-feather="dollar-sign"
                            class="avatar-icon font-medium-3"
                          ></i>
                        </div>
                      </div>
                      <h5
                        class="mb-0"
                        style="
                          margin-left: 5px;
                          color: #5d596c;
                          font-family: 'Public Sans', sans-serif;
                        "
                      >
                        Daily
                      </h5>
                    </div>
                    <h3 class="my-2 pt-1">
                      ${{
                        currencyService.convert(allEarningAnalytics.totalAmountDaily) | number : "1.0-0"
                      }}
                    </h3>
                    <div class="progress w-75" style="height: 4px">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        style="width: 65%"
                        aria-valuenow="65"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4">
                    <div class="d-flex gap-2 align-items-center">
                      <div class="avatar bg-light-success rounded">
                        <div class="avatar-content">
                          <i
                            data-feather="dollar-sign"
                            class="avatar-icon font-medium-3 text-success"
                          ></i>
                        </div>
                      </div>
                      <h5
                        class="mb-0"
                        style="
                          margin-left: 5px;
                          color: #5d596c;
                          font-family: 'Public Sans', sans-serif;
                        "
                      >
                        Monthly
                      </h5>
                    </div>
                    <h3 class="my-2 pt-1">
                      ${{
                        currencyService.convert(allEarningAnalytics.totalAmountMonthly)
                          | number : "1.0-0"
                      }}
                    </h3>
                    <div class="progress w-75" style="height: 4px">
                      <div
                        class="progress-bar bg-success"
                        role="progressbar"
                        style="width: 50%"
                        aria-valuenow="50"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4">
                    <div class="d-flex gap-2 align-items-center">
                      <div class="avatar bg-light-danger rounded">
                        <div class="avatar-content">
                          <i
                            data-feather="dollar-sign"
                            class="avatar-icon font-medium-3"
                          ></i>
                        </div>
                      </div>
                      <h5
                        class="mb-0"
                        style="
                          margin-left: 5px;
                          color: #5d596c;
                          font-family: 'Public Sans', sans-serif;
                        "
                      >
                        Yearly
                      </h5>
                    </div>
                    <h3 class="my-2 pt-1">
                      ${{
                        currencyService.convert(allEarningAnalytics.totalAmountYealy) | number : "1.0-0"
                      }}
                    </h3>
                    <div class="progress w-75" style="height: 4px">
                      <div
                        class="progress-bar bg-danger"
                        role="progressbar"
                        style="width: 65%"
                        aria-valuenow="65"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/ Earning Reports -->

        <!-- Transactions Card -->
        <div class="col-lg-3 mb-4">
          <div class="card card-transaction h-100">
            <div class="card-header">
              <h2 class="card-title">Clicks Statistics</h2>
            </div>
            <div class="card-body">
              <div class="transaction-item">
                <div class="media">
                  <div class="avatar bg-light-primary rounded">
                    <div class="avatar-content">
                      <i
                        data-feather="user"
                        class="avatar-icon font-medium-3"
                      ></i>
                    </div>
                  </div>
                  <div class="media-body">
                    <h6 class="transaction-title">Profile</h6>
                    <small>Views</small>
                  </div>
                </div>
                <div class="font-weight-bolder text-primary">
                  {{ sellerProfile.viewedCount }}
                </div>
              </div>
              <div class="transaction-item">
                <div class="media">
                  <div class="avatar bg-light-success rounded">
                    <div class="avatar-content">
                      <i
                        data-feather="inbox"
                        class="avatar-icon font-medium-3"
                      ></i>
                    </div>
                  </div>
                  <div class="media-body">
                    <h6 class="transaction-title">Email</h6>
                    <small>Clicks</small>
                  </div>
                </div>
                <div class="font-weight-bolder text-success">
                  {{ sellerProfile.emailCount }}
                </div>
              </div>
              <div class="transaction-item">
                <div class="media">
                  <div class="avatar bg-light-danger rounded">
                    <div class="avatar-content">
                      <i
                        data-feather="tablet"
                        class="avatar-icon font-medium-3"
                      ></i>
                    </div>
                  </div>
                  <div class="media-body">
                    <h6 class="transaction-title">Phone Number</h6>
                    <small>Clicks</small>
                  </div>
                </div>
                <div class="font-weight-bolder text-danger">
                  {{ sellerProfile.phoneCount }}
                </div>
              </div>
              <div class="transaction-item">
                <div class="media">
                  <div class="avatar bg-light-warning rounded">
                    <div class="avatar-content">
                      <i
                        data-feather="monitor"
                        class="avatar-icon font-medium-3"
                      ></i>
                    </div>
                  </div>
                  <div class="media-body">
                    <h6 class="transaction-title">Website</h6>
                    <small>Clicks</small>
                  </div>
                </div>
                <div
                  class="font-weight-bolder text-warning"
                  style="color: #ff9f43 !important"
                >
                  {{ sellerProfile.webCount }}
                </div>
              </div>
              <div class="transaction-item">
                <div class="media">
                  <div class="avatar bg-light-danger rounded">
                    <div class="avatar-content">
                      <i
                        data-feather="facebook"
                        class="avatar-icon font-medium-3"
                      ></i>
                    </div>
                  </div>
                  <div class="media-body">
                    <h6 class="transaction-title">Facebook</h6>
                    <small>Profile Views</small>
                  </div>
                </div>
                <div class="font-weight-bolder text-danger">
                  {{ sellerProfile.fbCount }}
                </div>
              </div>
              <div class="transaction-item">
                <div class="media">
                  <div class="avatar bg-light-primary rounded">
                    <div class="avatar-content">
                      <i
                        data-feather="instagram"
                        class="avatar-icon font-medium-3"
                      ></i>
                    </div>
                  </div>
                  <div class="media-body">
                    <h6 class="transaction-title">Instagram</h6>
                    <small>Profile Vews</small>
                  </div>
                </div>
                <div class="font-weight-bolder text-primary">
                  {{ sellerProfile.instCount }}
                </div>
              </div>
              <div class="transaction-item">
                <div class="media">
                  <div class="avatar bg-light-success rounded">
                    <div class="avatar-content">
                      <i
                        data-feather="linkedin"
                        class="avatar-icon font-medium-3"
                      ></i>
                    </div>
                  </div>
                  <div class="media-body">
                    <h6 class="transaction-title">Linkedin</h6>
                    <small>Profile Views</small>
                  </div>
                </div>
                <div class="font-weight-bolder text-success">
                  {{ sellerProfile.twitterCount }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Transactions Card -->

        <div class="col-lg-3 col-md-6 col-12">
          <div class="card card-transaction" style="height: 512px">
            <div class="card-header">
              <h2 class="card-title">Leads Tracker</h2>
              <!-- <i data-feather="more-vertical" class="font-medium-3 cursor-pointer"></i> -->
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-8">
                  <h2>
                    {{ analytics["total"] }}
                  </h2>
                  <p class="card-text font-small-5">Total Leads</p>
                </div>
              </div>
              <div class="transaction-item mt-2">
                <div class="media">
                  <div class="avatar bg-light-primary rounded">
                    <div class="avatar-content">
                      <i
                        data-feather="pocket"
                        class="avatar-icon font-medium-3"
                      ></i>
                    </div>
                  </div>
                  <div class="media-body">
                    <h6 class="transaction-title">Active</h6>
                    <small>Leads</small>
                  </div>
                </div>
                <div class="font-weight-bolder text-primary">
                  {{ analytics["total-approved-orders"] }}
                </div>
              </div>
              <div class="transaction-item">
                <div class="media">
                  <div class="avatar bg-light-success rounded">
                    <div class="avatar-content">
                      <i
                        data-feather="check"
                        class="avatar-icon font-medium-3"
                      ></i>
                    </div>
                  </div>
                  <div class="media-body">
                    <h6 class="transaction-title">Completed</h6>
                    <small>Leads</small>
                  </div>
                </div>
                <div class="font-weight-bolder text-success">
                  {{ analytics["total-completed-orders"] }}
                </div>
              </div>
              <div class="transaction-item">
                <div class="media">
                  <div class="avatar bg-light-danger rounded">
                    <div class="avatar-content">
                      <i data-feather="x" class="avatar-icon font-medium-3"></i>
                    </div>
                  </div>
                  <div class="media-body">
                    <h6 class="transaction-title">Cancelled</h6>
                    <small>Leads</small>
                  </div>
                </div>
                <div class="font-weight-bolder text-danger">
                  {{ analytics["total-cancelled-orders"] }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalAddCompany let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Export Earning Report</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #exportEarnigReportForm="ngForm">
      <div class="form-group">
        <label for="exportDateFrom">From</label>
        <input
          type="date"
          class="form-control"
          id="exportDateFrom"
          placeholder="Select Date From"
          name="exportDateFrom"
          ngModel
          required
          #exportDateFrom="ngModel"
        />
        <div
          *ngIf="
            exportDateFrom.invalid &&
            (exportDateFrom.dirty || exportDateFrom.touched)
          "
          class="text-danger"
          style="margin-top: 5px"
        >
          <div *ngIf="exportDateFrom.errors.required">
            From date is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exportDateTo">To</label>
        <input
          type="date"
          class="form-control"
          id="exportDateTo"
          placeholder="Select Date To"
          name="exportDateTo"
          ngModel
          required
          #exportDateTo="ngModel"
        />
        <div
          *ngIf="
            exportDateTo.invalid && (exportDateTo.dirty || exportDateTo.touched)
          "
          class="text-danger"
          style="margin-top: 5px"
        >
          <div *ngIf="exportDateTo.errors.required">To date is required</div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="exportEarningReport(exportEarnigReportForm)"
      [disabled]="exportEarnigReportForm.invalid"
    >
      Export
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modal.dismiss('Cross click'); resetForm(exportEarnigReportForm)"
    >
      Close
    </button>
  </div>
</ng-template>
