<div class="content-wrapper mt-2" style="background: none; margin: 80px 10px">
  <div class="content-body card">
    <app-content-header
      [contentHeader]="contentHeader"
      class="ml-2 mt-2"
    ></app-content-header>

    <section>
      <div class="card auto pb-2">
        <div class="card-body setting">
          <form [formGroup]="loginForm" (submit)="onSubmit()">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group mb-2">
                  <label class="font-medium-2 font-weight-bold" for="basicInput"
                    >Current Password</label
                  >
                  <div class="input-group">
                    <input
                      formControlName="oldPassword"
                      [ngClass]="{
                        'is-invalid': submitted && loginFr.oldPassword.errors
                      }"
                      [type]="showPassword ? 'text' : 'password'"
                      placeholder="Enter your current password"
                      class="form-control"
                    />
                    <div class="input-group-append">
                      <button
                        type="button"
                        class="btn btn-outline-secondary"
                        (click)="showPassword = !showPassword"
                      >
                        <i
                          [ngClass]="
                            showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'
                          "
                        ></i>
                      </button>
                    </div>
                  </div>

                  <div
                    *ngIf="submitted && loginFr.oldPassword.errors"
                    class="invalid-feedback d-block"
                  >
                    <div *ngIf="f.oldPassword.errors.required">
                      Current Password is required
                    </div>
                    <div *ngIf="f.oldPassword.errors.minlength">
                      Password must be at least 6 characters
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6"></div>

              <div class="col-lg-6">
                <div class="form-group mb-2">
                  <label class="font-medium-2 font-weight-bold" for="basicInput"
                    >New Password</label
                  >
                  <div class="input-group">
                    <input
                      formControlName="newPassword"
                      [ngClass]="{
                        'is-invalid': submitted && loginFr.newPassword.errors
                      }"
                      [type]="showNewPassword ? 'text' : 'password'"
                      placeholder="Enter your new password"
                      class="form-control"
                    />
                    <div class="input-group-append">
                      <button
                        type="button"
                        class="btn btn-outline-secondary"
                        (click)="showNewPassword = !showNewPassword"
                      >
                        <i
                          [ngClass]="
                            showNewPassword ? 'fa fa-eye-slash' : 'fa fa-eye'
                          "
                        ></i>
                      </button>
                    </div>
                  </div>

                  <div
                    *ngIf="submitted && loginFr.newPassword.errors"
                    class="invalid-feedback d-block"
                  >
                    <div *ngIf="f.newPassword.errors.required">
                      New Password is required
                    </div>
                    <div *ngIf="f.newPassword.errors.minlength">
                      Password must be at least 6 characters
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6"></div>

              <div class="col-lg-6">
                <div class="form-group mb-2">
                  <label class="font-medium-2 font-weight-bold" for="basicInput"
                    >Confirm New Password</label
                  >
                  <div class="input-group">
                    <input
                      formControlName="confirmNewPassword"
                      [ngClass]="{
                        'is-invalid': submitted && f.confirmNewPassword.errors
                      }"
                      [type]="showConfirmPassword ? 'text' : 'password'"
                      placeholder="Confirm your new password"
                      class="form-control"
                    />
                    <div class="input-group-append">
                      <button
                        type="button"
                        class="btn btn-outline-secondary"
                        (click)="showConfirmPassword = !showConfirmPassword"
                      >
                        <i
                          [ngClass]="
                            showConfirmPassword
                              ? 'fa fa-eye-slash'
                              : 'fa fa-eye'
                          "
                        ></i>
                      </button>
                    </div>
                  </div>
                  <div
                    *ngIf="submitted && f.confirmNewPassword.errors"
                    class="invalid-feedback d-block"
                  >
                    <div *ngIf="f.confirmNewPassword.errors.required">
                      Confirm New Password is required.
                    </div>
                    <div *ngIf="f.confirmNewPassword.errors.mustMatch">
                      Confirm New Password must match the New Password.
                    </div>
                    <div *ngIf="f.confirmNewPassword.errors.minlength">
                      Password must be at least 6 characters
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6"></div>
              <div class="col-lg-6">
                <button
                  type="submit"
                  class="btn btn-relief-primary btn-md px-3"
                  rippleEffect
                >
                  <i data-feather="check"></i>&nbsp; Update Password
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>
<ng-template #modalVCProfilePic let-modal>
  <div class="modal-header">
    <h5 class="modal-title text-center w-100 my-2" id="exampleModalCenterTitle">
      Change Profile Picture
    </h5>
    <button
      type="button"
      class="close"
      (click)="modal.dismiss('Cross click')"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <!-- File Uploader -->
    <section>
      <label
        for="file-upload"
        style="width: 100%"
        *ngIf="!CompanyPhotoCroppedImage"
        class="py-5 mb-3 text-center file-drop-zone"
      >
        <h6>Drop pictures here or click to upload</h6>
      </label>
      <input
        id="file-upload"
        type="file"
        (change)="companyfileChangeEvent($event)"
      />
      <image-cropper
        [imageChangedEvent]="companyPhotoChangedEvent"
        format="png"
        maintainAspectRatio="true"
        [aspectRatio]="4 / 4"
        (imageCropped)="companyimageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
    </section>
    <!--/ File Uploader -->
  </div>
  <div class="modal-footer justify-content-center my-2">
    <button
      type="button"
      class="btn btn-dark2 mx-1 btn-md px-3"
      (click)="uploadProfilePhoto()"
      *ngIf="CompanyPhotoCroppedImage"
      rippleEffect
    >
      <i data-feather="check"></i> Save
    </button>
    <button
      type="button"
      class="btn btn-dark mx-1 btn-md px-3"
      (click)="modal.dismiss('Cross click')"
      rippleEffect
    >
      <i data-feather="x"></i> Discard
    </button>
  </div>
</ng-template>
