<section
  class="hero professional professional-page"
  style="margin-left: -50px; margin-right: -50px; margin-top: -50px"
>
  <img src="./../assets/images/site/banner.jpg" alt="" class="bg" />
  <div
    class="container-fluid"
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50vh;
    "
  >
    <div class="caption">
      <div class="form-wrapper my-5">
        <h1 class="text-center" style="color: #ffffff; font-size: 55px">
          TERMS OF USE
        </h1>
      </div>
    </div>
  </div>
</section>

<div class="container mt-5" style="padding-left: 120px; padding-right: 120px">
  <p style="color: #000000">
    Moventag Inc. (“Moventag”) provides numerous services to its members,
    including a collection of online resources, forums, and various email
    services, (referred to hereafter as “the Service”) subject to the following
    Terms of Use (“Terms”). By using the Service in any way, you are agreeing to
    comply with these Terms. In addition, when using particular Moventag
    services, you agree to abide by any applicable posted guidelines for all
    Moventag services, which may change from time to time. Should you object to
    any term or condition of these Terms, any guidelines, or any subsequent
    modifications thereto or become dissatisfied with the Service in any way,
    your only recourse is to immediately discontinue use of the Service. IF YOU
    DO NOT AGREE WITH THESE TERMS OF USE, DO NOT USE THE WEBSITE.
  </p>
  <h2 style="color: #000000" class="mt-3 mb-2">
    Modifications to this agreement
  </h2>
  <p style="color: #000000">
    We reserve the right, at our sole discretion, to change, modify or otherwise
    alter these Terms and conditions at any time. Such modifications shall
    become effective immediately upon the posting thereof. you must review this
    agreement on a regular basis to keep yourself apprised of any changes.
  </p>
  <h2 class="mt-3 mb-2">Content</h2>
  <p style="color: #000000">
    you understand that all postings, messages, text, files, images, photos,
    video, sounds, or other materials (“Content”) posted on, transmitted
    through, or linked from the Service, are the sole responsibility of the
    person from whom such Content originated. More specifically, you are
    entirely responsible for all Content that you post, email or otherwise make
    available via the Service. you understand that Moventag does not control,
    and is not responsible for Content made available through the Service, and
    that by using the Service, you may be exposed to Content that may be
    offensive, inaccurate, misleading, or otherwise objectionable. Furthermore,
    the Moventag website and Content available through the Service may contain
    links to other websites, which are completely independent of Moventag and
    the Service
  </p>
  <p style="color: #000000" class="mt-2">
    Moventag makes no representation or warranty as to the accuracy,
    completeness or authenticity of the information contained in any such
    website. your linking to any other websites is at your own risk. you agree
    that you must evaluate, and bear all risks associated with, the use of any
    Content, that you may not rely on said Content, and that under no
    circumstances will Moventag be liable in any way for any Content or for any
    loss or damage of any kind incurred as a result of the use of any Content
    posted, emailed or otherwise made available via the Service. you acknowledge
    that Moventag does not pre-screen or approve Content, but that Moventag
    shall have the right (but not the obligation) in its sole discretion to
    refuse, delete or move any Content that is available via the Service, for
    violating the letter or spirit of the Terms or for any other reason.
  </p>
  <h2 class="mt-3 mb-2">Third party content, websites, and services</h2>
  <p style="color: #000000">
    The Moventag website and Content available through the Service may contain
    features and functionalities that may link you or provide you with access to
    third party content which is completely independent of Moventag and the
    Service, including websites, directories, servers, networks, systems,
    information and databases, applications, software, programs, products or
    services, and the Internet as a whole.
  </p>
  <p style="color: #000000" class="mt-2">
    your interactions with organizations and/or individuals found on or through
    the Service, including payment and delivery of goods or services, and any
    other terms, conditions, warranties or representations associated with such
    dealings, are solely between you and such organizations and/or individuals.
    you should make whatever investigation you feel necessary or appropriate
    before proceeding with any online or offline transaction with any of these
    third parties. your relationship with other individuals, entities, or
    organizations shall be governed by the terms and use policies of those
    websites as well.
  </p>
  <p style="color: #000000" class="mt-2">
    you agree that Moventag shall not be responsible or liable for any loss or
    damage of any sort incurred as the result of any such dealings. If there is
    a dispute between participants on this website, or between users and any
    third party, you understand and agree that neither Moventag nor the Service
    is under any obligation to become involved. In the event that you have a
    dispute with one or more other users, you hereby release Moventag, its
    officers, employees, agents and successors in rights from claims, demands
    and damages (actual and consequential) of every kind or nature, known or
    unknown, suspected and unsuspected, disclosed and undisclosed, arising out
    of or in any way related to such disputes and/or the Service.
  </p>
  <h2 class="mt-3 mb-2">Notification of claims of infringement</h2>
  <p style="color: #000000">
    If you believe that your work has been copied in a way that constitutes
    copyright infringement, or your intellectual property rights have been
    otherwise violated, please notify Moventag agent for notice of claims of
    copyright or other intellectual property infringement (“Agent”), at
  </p>
  <p style="color: #000000" class="mt-2">
    master.admin@moventag.com <br />
    <br />
    or: <br />
    <br />
    Moventag Inc. 3500 Dufferin St., Suite 203 Toronto, Ontario, M3K 1N2
  </p>
  <p style="color: #000000" class="mt-2">
    Please provide us with the following Notice:<br /><br />

    a) Identify the material on the Moventag website that you claim is
    infringing, with enough detail so that we may locate it on the website; b) A
    statement by you that you have a good faith belief that the disputed use is
    not authorized by the copyright owner, its agent, or the law; c) A statement
    by you declaring under penalty of perjury that (1) the above information in
    your Notice is accurate, and (2) that you are the owner of the copyright
    interest involved or that you are authorized to act on behalf of that owner;
    d) your address, telephone number, and email address; and e) your physical
    or electronic signature. Moventag will remove the infringing postings once
    we have reviewed your notice and determined its accuracy.
  </p>

  <h2 class="mt-3 mb-2">Privacy and information disclosure</h2>
  <p style="color: #000000">
    your use of the Moventag website or the Service signifies acknowledgement of
    and agreement to our Privacy Policy. you further acknowledge and agree that
    Moventag may, in its sole discretion, preserve or disclose your Content, as
    well as your information, such as email addresses, IP addresses, timestamps,
    and other user information, for marketing purposes either by Moventag or its
    affiliates or suppliers or if required to do so by law or in the good faith
    belief that such preservation or disclosure is reasonably necessary to: (a)
    comply with legal process; (b) enforce these Terms; (c) respond to claims
    that any Content violates the rights of third-parties; (d) respond to claims
    that contact information (e.g. phone number, street address) of a
    third-party has been posted or transmitted without their consent or as a
    form of harassment; (e) protect the rights, property, or personal safety of
    Moventag, its users or the general public
  </p>

  <h2 class="mt-3 mb-2">Conduct</h2>
  <p style="color: #000000">
    You agree not to post, email, or otherwise make available Content:
  </p>
  <ol>
    <li>
      a) that is unlawful, harmful, threatening, abusive, harassing, defamatory,
      libelous, scandalous, inflammatory, invasive of another’s privacy, or is
      harmful to minors in any way;
    </li>
    <li>b) that is pornographic, profane, lascivious, or obscene in nature;</li>
    <li>
      c) that harasses, degrades, intimidates or is hateful toward an individual
      or group of individuals on the basis of religion, gender, sexual
      orientation, race, ethnicity, age, or disability;
    </li>
    <li>
      d) that impersonates any person or entity, including, but not limited to,
      a Moventag employee, or falsely states or otherwise misrepresents your
      affiliation with a person or entity (this provision does not apply to
      messages that are lawful non-deceptive parodies of public figures.);
    </li>
    <li>
      e) that includes personal or identifying information about another person
      without that person’s explicit consent;
    </li>
    <li>
      f) that is false, deceptive, misleading, deceitful, or misinformative;
    </li>
    <li>
      g) that infringes any patent, trade-mark, trade secret, copyright or other
      proprietary rights of any party, or Content that you do not have a right
      to make available under any law or under contractual or fiduciary
      relationships;
    </li>
    <li>
      h) that constitutes or contains “affiliate marketing,” “link referral
      code,” “junk mail,” “spam,” “chain letters,” “pyramid schemes,” or
      unsolicited commercial advertisement;
    </li>
    <li>
      i) that constitutes or contains any form of advertising or solicitation
      if: posted in areas of Moventag’s websites which are not designated for
      such purposes; or emailed to the Service users who have not indicated in
      writing that it is acceptable to contact them about other services,
      products or commercial interests.
    </li>
    <li>
      j) that includes links to commercial services or websites, except as
      allowed in “services”;
    </li>
    <li>
      k) that advertises any illegal service or the sale of any items the sale
      of which is prohibited or restricted by any applicable law, including
      without limitation items the sale of which is prohibited or regulated by
      Canadian law;
    </li>
    <li>
      l) that contains software viruses or any other computer code, files or
      programs designed to interrupt, destroy or limit the functionality of any
      computer software or hardware or telecommunications equipment;
    </li>
    <li>
      m) that disrupts the normal flow of dialogue with an excessive number of
      messages (flooding attack) to the Service, or that otherwise negatively
      affects other users’ ability to use the Service; or
    </li>
    <li>
      n) that employs misleading email addresses, or forged headers or otherwise
      manipulated identifiers in order to disguise the origin of Content
      transmitted through the Service.
    </li>
  </ol>
  <p>Additionally, you agree not to:</p>
  <ol>
    <li>contact anyone who has asked not to be contacted;</li>
    <li>“stalk” or otherwise harass anyone;</li>
    <li>
      collect personal data about other users for commercial or unlawful
      purposes;
    </li>
    <li>
      use automated means, including spiders, robots, crawlers, data mining
      tools, or the like to download data from the Service – unless expressly
      permitted by Moventag;
    </li>
    <li>
      post non-local or otherwise irrelevant Content, repeatedly post the same
      or similar Content or otherwise impose an unreasonable or
      disproportionately large load on our infrastructure;
    </li>
    <li>
      post the same item or service in more than one classified category or
      forum, or in more than one metropolitan area;
    </li>
    <li>
      attempt to gain unauthorized access to Moventag’s computer systems or
      engage in any activity that disrupts, diminishes the quality of,
      interferes with the performance of, or impairs the functionality of, the
      Service or the Moventag website; or
    </li>
    <li>
      use any form of automated device or computer program that enables the
      submission of postings on Moventag’s website without each posting being
      manually entered by the author thereof (an “automated posting device”),
      including without limitation, the use of any such automated posting device
      to submit postings in bulk, or for automatic submission of postings at
      regular intervals.
    </li>
  </ol>

  <h2 class="mt-3 mb-2">No Spam Policy</h2>
  <p style="color: #000000">
    you understand and agree that sending unsolicited email advertisements to
    Moventag email addresses or through Moventag computer systems, which is
    expressly prohibited by these Terms, will use or cause to be used servers
    located in Canada. Any unauthorized use of Moventag computer systems is a
    violation of these Terms and certain federal and provincial laws.
  </p>

  <h2 class="mt-3 mb-2">Limitations on Service</h2>
  <p style="color: #000000">
    you acknowledge that Moventag may establish limits concerning use of the
    Service, including the maximum number of days that Content will be retained
    by the Service, the maximum number and size of postings, email messages, or
    other Content that may be transmitted or stored by the Service, and the
    frequency with which you may access the Service. you agree that Moventag has
    no responsibility or liability for the deletion or failure to store any
    Content maintained or transmitted by the Service. you acknowledge that
    Moventag reserves the right at any time to modify or discontinue the Service
    (or any part thereof) with or without notice, and that Moventag shall not be
    liable to you or to any third party for any modification, suspension or
    discontinuance of the Service.
  </p>

  <h2 class="mt-3 mb-2">Access to the Service</h2>
  <p style="color: #000000">
    Moventag grants you a limited, revocable, nonexclusive license to access the
    Service for your own personal use. This license does not include any
    collection, aggregation, copying, duplication, display or derivative use of
    the Service nor any use of data mining, robots, spiders, or similar data
    gathering and extraction tools for any purpose unless expressly permitted by
    Moventag. A limited exception is provided to general purpose internet search
    engines and noncommercial public archives that use such tools to gather
    information for the sole purpose of displaying hyperlinks to the Service,
    provided they each do so from a stable IP address or range of IP addresses
    using an easily identifiable agent and comply with our robots.txt file.
  </p>
  <br />
  <p style="color: #000000">
    Use of the Service beyond the scope of authorized access granted to you by
    Moventag immediately terminates said permission or license. In order to
    collect, aggregate, copy, duplicate, display or make derivative use of the
    Service or any Content made available via the Service for other purposes
    (including commercial purposes) not stated herein, you must first obtain a
    license from Moventag.
  </p>

  <h2 class="mt-3 mb-2">Termination of Service</h2>
  <p style="color: #000000">
    you agree that Moventag, in its sole discretion, has the right (but not the
    obligation) to delete or deactivate your account, block your email or IP
    address, or otherwise terminate your access to or use of the Service (or any
    part thereof), immediately and without notice, and remove and discard any
    Content within the Service, for any reason, including, without limitation,
    if Moventag believes that you have acted inconsistently with the letter or
    spirit of the Terms even if Moventag is misinformed or relies on unverified
    information or data. Further, you agree that Moventag shall not be liable to
    you or any third-party for any termination of your access to the Service.
    Further, you agree not to attempt to use the Service after said termination.
    Sections 2, 4, 6 and 10-16 of this agreement shall survive termination of
    these Terms.
  </p>

  <h2 class="mt-3 mb-2">Proprietary Rights</h2>
  <p style="color: #000000">
    This website is controlled and operated by Moventag Realty Services Inc. All
    content on this website, including, but not limited to text, images,
    illustrations, audio clips, and video clips, is protected by copyrights,
    trade-marks, service marks, and/or other intellectual property rights (which
    are governed by Canadian and worldwide copyright laws and treaty provisions,
    privacy and publicity laws, and communication regulations and statutes), and
    are owned and controlled by Moventag or its affiliates, or by third party
    content providers, merchants, sponsors and licensors (collectively
    “Providers”) that have licensed their content or the right to market their
    products and/or services to Moventag. Content on this website or any website
    owned, operated, licensed or controlled by the Providers is solely for your
    personal use and not for any commercial purpose or use. <br /><br />
    you agree that you will not modify, copy, distribute, transmit, display,
    perform, reproduce, publish license, transfer, download, post, create
    derivative works from, frame in another web page, use on any other website,
    transfer or sell any information, software, lists of users, databases or
    other lists, products or services provided through or obtained from the
    website, including, but not limited to the text, graphics, logos, photos,
    and audio and visual files, without express written permission from
    Moventag. you may request consent in writing by sending it to the attention
    of Legal Department, Moventag Inc., 3500 Dufferin St., Suite 203, Toronto,
    Ontario, Canada M3K 1N2. Without the prior written consent of Moventag or
    the Providers, your modification of the content, materials, use of the
    content or materials on any other website or networked computer environment,
    or use of the content for any purpose other than personal, non-commercial
    use, violates the rights of the owners of Moventag and/or the Provider
    copyrights, trademarks or service marks and other proprietary rights, and is
    prohibited. you may not use on your website any trademarks, service marks or
    copyrighted materials that appear on this website, including but not limited
    to any logos or characters, without the express written consent of the owner
    of the mark or copyright. you may not frame or otherwise incorporate into
    another website any of the content or other materials on this website
    without prior written consent of Moventag.
    <br /><br />
    The Service is protected to the maximum extent permitted by copyright laws
    and international treaties. Content displayed on or through the Service is
    protected by copyright as a collective work and/or compilation, pursuant to
    copyrights laws, and international conventions. Any reproduction,
    modification, creation of derivative works from or redistribution of the
    website or the collective work, and/or copying or reproducing the websites
    or any portion thereof to any other server or location for further
    reproduction or redistribution is prohibited without the express written
    consent of Moventag. you further agree not to reproduce, duplicate or copy
    Content from the Service without the express written consent of Moventag,
    and agree to abide by any and all copyright notices displayed on the
    Service. you may not decompile or disassemble, reverse engineer or otherwise
    attempt to discover any source code contained in the Service. Without
    limiting the foregoing, you agree not to reproduce, duplicate, copy, sell,
    resell or exploit for any commercial purposes, any aspect of the Service.
    The words Moventag are a registered mark in the Canadian Intellectual
    Property Office. <br /><br />
    Although Moventag does not claim ownership of content that its users post,
    by posting Content to any public area of the Service, you automatically
    grant, and you represent and warrant that you have the right to grant, to
    Moventag an irrevocable, perpetual, non-exclusive, fully paid, worldwide
    license to use, copy, perform, display, and distribute said Content and to
    prepare derivative works of, or incorporate into other works, said Content,
    and to grant and authorize sublicenses (through multiple tiers) of the
    foregoing. Furthermore, by posting Content to any public area of the
    Service, you automatically grant Moventag all rights necessary to prohibit
    any subsequent aggregation, display, copying, duplication, reproduction, or
    exploitation of the Content on the Service by any party for any purpose.
  </p>

  <h2 class="mt-3 mb-2">Disclaimer of Warranties</h2>
  <p style="color: #000000">
    THE LINKS IN THE WEB SITE WILL LET THE USER LEAVE MOVENTAG’S WEBSITE. THE
    LINKED SITES ARE NOT UNDER THE CONTROL OR POSSESSION OF MOVENTAG, ITS
    AFFILIATES, EMPLOYEES, AND AGENTS. MOVENTAG SHALL NOT BE LIABLE OR
    RESPONSIBLE FOR THE CONTENT AVAILABLE ON ANY OTHER INTERNET SITE LINKED TO
    THE WEBSITE. MOVENTAG IS PROVIDING THESE LINKS TO OTHER INTERNET SITES AS A
    CONVENIENCE TO YOU, AND ACCESS TO ANY OTHER INTERNET SITES LINKED TO THE
    WEBSITE IS AT YOUR OWN RISK. THE INCLUSION OF ANY LINK DOES NOT IMPLY A
    RECOMMENDATION OR ENDORSEMENT BY MOVENTAG OF THE LINKED SITE. YOU MAY NOT
    ESTALBLISH A HYPERLINK TO THIS WEB SITE OR PROVIDE ANY LINKS THAT STATE OR
    IMPLY ANY SPONSORSHIP OR ENDORSEMENT OF YOUR WEBSITE BY MOVENTAG OR ITS
    AFFILIATES OR PROVIDERS UNLESS MOVENTAG OR ITS AFFILIATES OR PROVIDERS HAVE
    AGREED AND CONSENTED TO SUCH LINKS IN WRITING.<br /><br />YOU AGREE THAT USE
    OF MOVENTAG’s WEBSITE AND THE SERVICE IS ENTIRELY AT YOUR OWN RISK. THE
    MOVENTAG WEBSITE AND THE SERVICE ARE PROVIDED ON AN “AS IS” OR “AS
    AVAILABLE” BASIS, WITHOUT ANY WARRANTIES OF ANY KIND. ALL EXPRESS AND
    IMPLIED WARRANTIES, INCLUDING, WITHOUT LIMITATION, THE WARRANTIES OF
    MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT OF
    PROPRIETARY RIGHTS ARE EXPRESSLY DISCLAIMED TO THE FULLEST EXTENT PERMITTED
    BY LAW. TO THE FULLEST EXTENT PERMITTED BY LAW, MOVENTAG DISCLAIMS ANY
    WARRANTIES FOR THE SECURITY, RELIABILITY, TIMELINESS, ACCURACY, AND
    PERFORMANCE OF THE MOVENTAG WEBSITE AND THE SERVICE. TO THE FULLEST EXTENT
    PERMITTED BY LAW, MOVENTAG DISCLAIMS ANY WARRANTIES FOR OTHER SERVICES OR
    GOODS RECEIVED THROUGH OR ADVERTISED ON THE MOVENTAG WEBSITE OR THE WEBSITES
    OR SERVICE, OR ACCESSED THROUGH ANY LINKS ON THE MOVENTAG WEBSITE. TO THE
    FULLEST EXTENT PERMITTED BY LAW, MOVENTAG DISCLAIMS ANY WARRANTIES FOR
    VIRUSES OR OTHER HARMFUL COMPONENTS IN CONNECTION WITH THE MOVENTAG WEBSITE
    OR THE SERVICE.<br /><br />FURTHER, NEITHER MOVENTAG, ITS AFFILIATED OR
    RELATED ENTITIES, NOR THE PROVIDERS, NOR ANY PERSON INVOLVED IN THE
    CREATION, PRODUCTION, AND DISTRIBUTION OF THIS WEBSITE WARRANT THAT THE
    FUNCTIONS CONTAINED IN THIS WEBSITE SHALL BE FREE OF ANY INTERRUPTION,
    ERROR, DEFECT, THAT DEFECTS SHALL BE CORRECTED, OR THAT THE SERVER THAT
    MAKES THE CONTENT AVAILABLE SHALL BE FREE OF VIRUSES OR OTHER HARMFUL
    COMPONENTS, WHETHER KNOWN OR UNKNOWN. THE CONTENT THAT YOU ACCESS ON THIS
    WEBSITE IS PROVIDED SOLELY FOR YOUR CONVENIENCE AND INFORMATION ONLY.
    MOVENTAG DOES NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING THE RESULTS
    THAT MAY BE OBTAINED FROM THE USE OF THIS WEBSITE, OR AS TO THE RELIABILITY,
    ACCURACY OR CURRENCY OF ANY INFORMATION CONTENT, SERVICE AND/OR MERCHANDISE
    ACQUIRED PURSUANT TO YOUR USE OF THIS WEBSITE.<br /><br />USE OF THE WEBSITE
    AND THE CONTENT AVAILABLE ON THE WEBSITE IS AT THE SOLE RISK OF THE USER AND
    MOVENTAG. YOU ASSUME THE ENTIRE COST OF ALL NECESSARY SERVICING, REPAIR OR
    CORRECTION OF YOUR SYSTEM, IF ANY. YOU EXPRESSLY AGREE THAT NEITHER
    MOVENTAG, NOR ITS AFFILIATED OR RELATED ENTITIES (INCLUDING ITS PROVIDERS),
    NOR ANY OF THEIR RESPECTIVE EMPLOYEES, OR AGENTS, NOR ANY PERSON OR ENTITY
    INVOLVED IN THE CREATION, PRODUCTION AND DISTRIBUTION OF THIS WEBSITE, IS
    RESPONSIBLE OR LIABLE TO ANY PERSON OR ENTITY WHATSOEVER FOR ANY LOSS,
    DAMAGE (WHETHER ACTUAL, CONSEQUENTIAL, PUNITIVE OR OTHERWISE), INJURY,
    CLAIM, LIABILITY OR OTHER CAUSE OF ANY KIND OR CHARACTER WHATSOEVER BASED
    UPON AND/OR RESULTING FROM THE USE OR ATTEMPTED USE OF THIS WEBSITE OR ANY
    OTHER LINKED SITE. YOU FURTHER AGREE THAT MOVENTAG AND RELATED PERSONS AND
    ENTITIES SHALL NOT BE RESPONSIBLE OR LIABLE FOR ANY CLAIM OR DAMAGE ARISING
    FROM FAILURE OF PERFORMANCE, ERROR, OMISSION, INTERRUPTION, DELETION,
    DEFECT, DELAY IN OPERATION, COMPUTER VIRUS, THEFT, DESTRUCTION, UNAUTHORIZED
    ACCESS TO OR ALTERATION OF PERSONAL RECORDS, OR THE RELIANCE UPON OR USE OF
    DATA, INFORMATION, OPINIONS OR OTHER MATERIALS APPEARING ON THIS WEBSITE.
    YOU EXPRESSLY ACKNOWLEDGE AND AGREE THAT MOVENTAG, ITS AFFILIATES, ITS
    EMPLOYEES AND AGENTS, SHALL NOT BE LIABLE OR RESPONSIBLE FOR WRONGFUL OR
    ILLEGAL CONDUCT OF OTHER SUBSCRIBERS OR THIRD PARTIES. SOME JURISDICTIONS
    MAY NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR
    INCIDENTAL DAMAGES. IN SUCH JURISDICTIONS, YOU AGREE THAT MOVENTAG’S
    LIABILITY IS LIMITED TO THE GREATEST EXTENT PERMITTED BY LAW. MOVENTAG
    RESERVES ALL RIGHTS AND APPLIABLE DEFENSES PERMITTED BY LAW
  </p>

  <h2 class="mt-3 mb-2">Limitations of liability</h2>
  <p style="color: #000000">
    UNDER NO CIRCUMSTANCES SHALL MOVENTAG BE LIABLE FOR DIRECT, INDIRECT,
    INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES (EVEN IF MOVENTAG
    HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM ANY
    ASPECT OF YOUR USE OF THE MOVENTAG WEBSITE OR THE SERVICE, WHETHER THE
    DAMAGES ARISE FROM USE OR MISUSE OF THE MOVENTAG WEBSITE OR THE SERVICE,
    FROM INABILITY TO USE THE MOVENTAG WEBSITE OR THE SERVICE, OR THE
    INTERRUPTION, SUSPENSION, MODIFICATION, ALTERATION, OR TERMINATION OF THE
    MOVENTAG WEBSITE OR THE SERVICE. SUCH LIMITATION SHALL ALSO APPLY WITH
    RESPECT TO DAMAGES INCURRED BY REASON OF OTHER SERVICES OR PRODUCTS RECEIVED
    THROUGH OR ADVERTISED IN CONNECTION WITH THE MOVENTAG WEBSITE OR THE SERVICE
    OR ANY LINKS ON THE MOVENTAG WEBSITE, AS WELL AS BY REASON OF ANY
    INFORMATION OR ADVICE RECEIVED THROUGH OR ADVERTISED IN CONNECTION WITH THE
    MOVENTAG WEBSITE OR THE SERVICE OR ANY LINKS ON THE MOVENTAG WEBSITE. THESE
    LIMITATIONS SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW. SOME
    JURISDICTIONS MAY NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR
    CONSEQUENTIAL OR INCIDENTAL DAMAGES. IN SUCH JURISDICTIONS, YOU AGREE THAT
    MOVENTAG’s LIABILITY IS LIMITED TO THE GREATEST EXTENT PERMITTED BY LAW.
    MOVENTAG RESERVES ALL RIGHTS AND APPLIABLE DEFENSES PERMITTED BY LAW<br /><br />MOVENTAG
    SPECIFICALLY DISCLAIMS ANY LIABILITY, WHETHER BASED IN CONTRACT, TORT,
    STRICT LIABILITY OR OTHERWISE, FOR ANY DIRECT, INDIRECT, INCIDENTAL,
    CONSEQUENTIAL, OR SPECIAL DAMAGES ARISING OUT OF OR IN ANY WAY CONNECTED
    WITH ACCESS TO OR USE OF THE WEB SITE, EVEN IF MOVENTAG OR THE WEB SITE HAS
    BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, INCLUDING LIABILITY IN
    CONNECTION WITH MISTAKES OR OMISSIONS IN, OR DELAYS IN TRANSMISSION OF,
    INFORMATION TO OR FROM THE USER, INTERRUPTIONS IN TELECOMMUNICATIONS
    CONNECTIONS TO THE WEBSITE OR VIRUSES, WHETHER CAUSED IN WHOLE OR IN PART BY
    NEGLIGENCE, ACTS OF GOD, TELECOMMUNICATIONS FAILURE, THEFT OR DESTRUCTION
    OF, OR UNAUTHORIZED ACCESS TO, THE WEBSITE, SOFTWARE, OR RELATED
    INFORMATION, RECORDS OR PROGRAMS. SOME JURISDICTIONS MAY NOT ALLOW THE
    EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL
    DAMAGES. IN SUCH JURISDICTIONS, YOU AGREE THAT MOVENTAG’s LIABILITY IS
    LIMITED TO THE GREATEST EXTENT PERMITTED BY LAW. MOVENTAG RESERVES ALL
    RIGHTS AND APPLIABLE DEFENSES PERMITTED BY LAW.<br /><br />AS A SERVICE TO
    ITS MEMBERS, MOVENTAG PERMITS ITS MEMBERS (REAL ESTATE AGENTS AND BORKERS)
    TO PUBLISH INFORMATION REGARDING THEMSELVES AND THEIR SERVICES ON THEIR
    WEBSITES LINKED TO THE WEBSITE, BUT MOVENTAG IS NOT RESPONSIBLE FOR THE
    ACCURACY OR RELIABILITY OF ANY OPINION, ADVICE, OR STATEMENT MADE BY THE
    REAL ESTATE AGENTS OR OTHERWISE THROUGH THE WEBSITE. IT IS THE
    RESPONSIBILITY OF EACH USER TO EVALUATE THE ACCURACY, COMPLETENESS, OR
    USEFULNESS OF ANY INFORMATION OR CONTENT AVAILABLE ON OR THROUGH THEIR
    WEBSITES OR THE WEBSITE. YOU ARE RESPONSIBLE FOR TAKING ALL PRECAUTIONS
    NECESSARY TO ENSURE THAT ANY CONTENT THEY MAY OBTAIN FROM THIS WEBSITE, THE
    WEB OR ANY OTHER WEBSITE LINKED TO THE WEBSITE IS FREE OF ALL ERRORS AND/OR
    MISTATEMENTS. YOU ARE RESPONSIBLE FOR TAKING ALL PRECAUTIONS TO ENSURE THAT
    ANY CONTENT THEY OBTAIN FROM THE WEBSITE IS FREE OF VIRUSES OR ANY OTHER
    DESTRUCTIVE PROGRAMS OR CODE.
  </p>

  <h2 class="mt-3 mb-2">Indemnity</h2>
  <p style="color: #000000">
    you agree to indemnify and hold Moventag, its directors, officers,
    employees, agents, subsidiaries, affiliates, successors, assigns, Providers
    and suppliers, harmless from any claim or demand, including reasonable
    attorney fees and court costs, made by any third party due to or arising out
    of content you submit, post or make available through the Service, your use
    of the Service, your violation of the Terms, your breach of any of the
    representations and warranties herein, or your violation of any rights of
    another.
  </p>

  <h2 class="mt-3 mb-2">General information and venue for legal claims</h2>
  <p style="color: #000000">
    Unless otherwise specified, the content and information contained in this
    Website is presented solely for your convenience and/or information. The
    Terms constitute the entire agreement between you and Moventag and govern
    your use of the Service, superseding any prior agreements between you and
    Moventag. The Terms and the relationship between you and Moventag shall be
    governed by the laws of the Province of Ontario, Canada without regard to
    its conflict of law provisions. Moventag makes no representation that
    content in its website is appropriate or available for use in other
    locations. By using this website, you agree to submit to the personal and
    exclusive jurisdiction of the courts located within the Province of Ontario,
    Canada. Any action you, any third party or Moventag initiates to enforce
    these Terms, or in connection with any matters related to this Website,
    shall be brought only in the Provincial or Federal courts located in
    Ontario, Canada and you expressly consent to the jurisdiction of said
    courts. If any action is brought in any other Court outside of Ontario,
    Canada you agree that you shall be liable for all attorney fees and legal
    costs involved in transferring the action to Ontario, Canada for litigation.
    The failure of Moventag to exercise or enforce any right or provision of the
    Terms shall not constitute a waiver of such right or provision. If any
    provision of the Terms is found by a court of competent jurisdiction to be
    invalid, the parties nevertheless agree that the court should endeavor to
    give effect to the parties’ intentions as reflected in the provision, and
    the other provisions of the Terms remain in full force and effect. you agree
    that regardless of any statute or law to the contrary, any claim or cause of
    action arising out of or related to use of the Service or the Terms must be
    filed within one (1) year after such claim or cause of action arose or be
    forever barred.
  </p>

  <h2 class="mt-3 mb-2">Third party rights pertaining to our website</h2>
  <p style="color: #000000">
    These Terms are for the benefit of Moventag, its affiliates, officers,
    directors, employees, affiliates, agents, licensors, Providers and
    suppliers. Each of these individuals or entities shall have the right to
    assert and enforce these Terms directly against you on its or their own
    behalf.
  </p>

  <h2 class="mt-3 mb-2">Violation of terms and liquidated damages</h2>
  <p style="color: #000000">
    Please report any violations of the Terms, by flagging the posting(s) for
    review, or by emailing to: master.admin@moventag.com. Our failure to act
    with respect to a breach by you or others does not waive our right to act
    with respect to subsequent or similar breaches. you understand and agree
    that, because damages are often difficult to quantify, if it becomes
    necessary for Moventag to pursue legal action to enforce these Terms, you
    will be liable to pay Moventag the following amounts, in Canadian funds, as
    liquidated damages, which you accept as reasonable estimates of Moventag’s
    damages for the specified breaches of these Terms: a. If you post a message
    that (1) impersonates any person or entity; (2) falsely states or otherwise
    misrepresents your affiliation with a person or entity; or (3) that includes
    personal or identifying information about another person without that
    person’s explicit consent, you agree to pay Moventag one thousand dollars
    ($1,000.00) for each such message. b. If Moventag establishes limits on the
    frequency with which you may access the Service, or terminates your access
    to or use of the Service, you agree to pay Moventag one hundred dollars
    ($100.00) for each message posted in excess of such limits or for each day
    on which you access Moventag in excess of such limits, whichever is higher.
    c. If you send unsolicited email advertisements to Moventag email addresses
    or through Moventag computer systems, you agree to pay Moventag twenty five
    dollars ($25.00) for each such email. d. If you post messages in violation
    of these Terms of Use, other than as described above, you agree to pay
    Moventag one hundred dollars ($100.00) for each such message. In its sole
    discretion, Moventag may elect to issue a warning before assessing damages.
    e. If you aggregate, display, copy, duplicate, reproduce, or otherwise
    exploit for any purpose any Content (except for your own Content) in
    violation of these Terms without Moventag’s express written permission, you
    agree to pay Moventag three thousand dollars ($3,000.00) for each day on
    which you engage in such conduct. f. If you infringe on Moventag’s
    trademarks, copyrights, or proprietary material, you agree to pay Moventag
    ten thousand dollars ($10,000.00) for each day on which you engage in such
    conduct. Otherwise, you agree to pay Moventag’s actual damages, to the
    extent Moventag’s damages can be reasonably calculated. Notwithstanding any
    other provision of these Terms, Moventag retains the right to seek the
    remedy of specific performance of any term contained in these Terms, or a
    preliminary or permanent injunction against the breach of any such term or
    in aid of the exercise of any power granted in these Terms, or any
    combination thereof.
  </p>
  <br />
  <br />
</div>
