<div class="content-wrapper container-xxl p-0 card">
  <div class="content-body">
    <!-- content-header component -->

    <div style="padding-left: 20px">
      <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
          <div class="col-12 d-flex" style="padding-left: 0px">
            <h2 class="content-header-title float-left mb-0">
              {{ category.title }}
            </h2>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="requiredDocument == false">
      <div
        class="pl-1 pr-3 mb-1 mt-1"
        style="
          position: relative;
          display: flex;
          flex-wrap: wrap;
          margin-left: 15px;
        "
      >
        <div class="form-outline">
          <form (submit)="onSubmitSearch()">
            <input
              type="text"
              class="form-control"
              placeholder="Search by lead number, customer name, postal code, services.."
              [(ngModel)]="searchText"
              name="searchText"
              style="
                border: 1px solid #e1e1e1;
                width: 500px;
                font-family: 'Public Sans', sans-serif;
              "
            />
          </form>
        </div>
        <button
          type="button"
          (click)="onSubmitSearch()"
          class="btn btn-relief-primary"
          rippleEffect
          style="margin-left: 5px"
        >
          <i class="fa fa-search"></i>
        </button>
        <button
          type="button"
          (click)="onSubmitClear()"
          class="btn btn-relief-danger"
          rippleEffect
          style="margin-left: 5px"
        >
          <i class="fa fa-close"></i>
        </button>
      </div>

      <section class="mb-1" *ngIf="userQuote && userQuote.length <= 0">
        <div class="table-wrapper">
          <div class="row" id="basic-table">
            <div class="col-12">
              <div class="card auto">
                <h4 class="table-title"></h4>
                <div
                  class="table-responsive"
                  style="
                    font-size: 20px;
                    text-align: center;
                    margin: 30px;
                    margin-top: 25px;
                    margin-bottom: 20px;
                    font-family: 'Public Sans', sans-serif;
                  "
                >
                  Looks like you don't have any active leads right now.<br />
                  Check back soon for new leads!
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section *ngIf="userQuote && userQuote.length > 0">
        <div class="col-lg-12 mb-12 mb-lg-0 pb-1 table-padding">
          <div class="card h-100">
            <div class="table-responsive">
              <table class="table table-s1">
                <thead>
                  <tr>
                    <th>Lead Number</th>
                    <th>Customer Name</th>
                    <th>Services</th>
                    <th>Status</th>
                    <th>Postal Code</th>
                    <th>Country</th>
                    <th>City</th>
                    <th>Lead Details</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="mb-1" *ngFor="let item of userQuote">
                    <td class="text-primary">#{{ item.orderNum }}</td>
                    <td>
                      {{ item?.buyer?.firstName }}
                    </td>
                    <td>
                      {{ item?.subCategory?.title }}
                    </td>
                    <td>
                      <span class="badge badge-pill badge-light-success mr-1">
                        <span *ngIf="item?.status === 'QUOTE'"> Pending </span>
                        <span *ngIf="item?.status === 'ACTIVE'">
                          Approved
                        </span>
                      </span>
                    </td>
                    <td>
                      {{ item?.postal_code }}
                    </td>
                    <td>
                      {{ item?.country }}
                    </td>
                    <td>
                      {{ item?.city }}
                    </td>
                    <td>
                      <div
                        (click)="modalOpenVC(modalVC, item)"
                        class="badge badge-pill badge-light-success mr-1 cursor-pointer"
                        style="min-width: 45px"
                      >
                        View
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div *ngIf="requiredDocument == true">
      <div class="table-wrapper">
        <div class="row" id="basic-table">
          <div class="col-11 mx-auto">
            <!-- Added mx-auto class -->
            <div class="card auto">
              <h4 class="table-title"></h4>
              <div
                class="table-responsive"
                style="
                  font-size: 20px;
                  text-align: center;
                  margin: 30px;
                  margin-top: -15px;
                  margin-bottom: 20px;
                  font-family: 'Public Sans', sans-serif;
                "
              >
                Please upload documents first in verification tab
                <p
                  style="
                    font-size: 15px;
                    margin-top: 20px;
                    font-family: 'Public Sans', sans-serif;
                  "
                >
                  <b>Note:</b> if you have submitted, please wait for admin
                  approval.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #modalVC let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Lead Info</h5>
        <button
          type="button"
          class="close"
          (click)="modal.dismiss('Cross click')"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" tabindex="0" ngbAutofocus>
        <form action="">
          <div class="form-group" [hidden]="!selectedOrder?.subCategory?.title">
            <label for="basicInput">What needs to be done?</label>
            <input
              readonly
              type="text"
              [value]="selectedOrder?.subCategory?.title"
              class="form-control"
              id="basicInput"
              placeholder=""
            />
          </div>
          <div class="form-group" [hidden]="!selectedOrder?.place">
            <label for="basicInput">What type of property?</label>
            <input
              readonly
              type="text"
              class="form-control"
              [value]="selectedOrder?.place"
              id="basicInput"
              placeholder="Townhall"
            />
          </div>
          <div class="form-group" [hidden]="!selectedOrder?.startTime">
            <label for="basicInput"
              >When do you want to start this project?</label
            >
            <input
              readonly
              type="text"
              class="form-control"
              [value]="selectedOrder?.startTime"
              id="basicInput"
              placeholder="Within a week"
            />
          </div>
          <div class="form-group" [hidden]="!selectedOrder?.notes">
            <label for="basicInput"
              >Please provide some details about project
            </label>
            <textarea
              readonly
              style="height: 150px"
              [value]="selectedOrder?.notes"
              class="form-control"
            ></textarea>
          </div>
          <div
            class="form-group"
            [hidden]="selectedOrder.orderImages.length <= 0"
          >
            <label for="basicInput">Service Images</label>
            <div class="row px-1">
              <div
                class="col-lg-3 px-50"
                *ngFor="let item of selectedOrder.orderImages"
              >
                <a href="{{ baseURL }}{{ item.path }}" target="_blank">
                  <img
                    src="{{ baseURL }}{{ item.path }}"
                    alt=""
                    class="img-fluid w-100"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="form-group my-2">
            <div class="row">
              <div class="col-lg-6">
                <button
                  type="button"
                  class="btn btn-success w-100"
                  (click)="startChat(selectedOrder)"
                  rippleEffect
                >
                  Start Chat
                </button>
              </div>
              <div class="col-lg-6">
                <button
                  type="button"
                  class="btn btn-danger w-100"
                  (click)="modal.dismiss('Cross click')"
                  rippleEffect
                >
                  Not Interested
                </button>
              </div>
              <!-- <div class="col-lg-6">
                <button type="button" class="btn btn-success w-100" (click)="changeOrderStatus(selectedOrder, 'ACTIVE')" rippleEffect>
                   Approve
                </button>
              </div> -->
              <!-- <div class="col-lg-6"> -->
              <!-- <button type="button" class="btn btn-danger w-100" (click)="changeOrderStatus(selectedOrder, 'DENY')" rippleEffect>
                  Deny
                </button> -->
              <!-- </div> -->
            </div>
          </div>
        </form>
      </div>
    </ng-template>
  </div>
</div>
