<div *ngIf="cardDetail">
  <div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <section class="checkout-wrapper">
        <div>
          <div class="step-header" style="background-color: #ffffff">
            <img
              src="../assets/images/logo/logo.png"
              alt=""
              class="logo"
              style="width: 200px; height: 50px; margin-left: 10px"
            />
            <ul class="list">
              <li ngbDropdown class="nav-item dropdown-user">
                <a
                  class="nav-link dropdown-toggle dropdown-user-link"
                  id="dropdown-user"
                  ngbDropdownToggle
                  id="navbarUserDropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <div class="user-nav d-sm-flex d-none"></div>
                  <span class="">
                    <div *ngIf="currentUser.profileImage; else customAvatar">
                      <img
                        class="rounded-circle mr-1"
                        src="{{ baseURL }}{{ currentUser.profileImage }}"
                        height="42"
                        width="42"
                      />
                    </div>
                    <ng-template #customAvatar>
                      <div
                        class="avatar mr-1 ml-0"
                        style="background-color: #38b6ff"
                        [ngClass]="{
                          'avatar-status-offline':
                            currentUser.status == 'offline',
                          'avatar-status-online':
                            currentUser.status == 'online',
                          'avatar-status-busy': currentUser.status == 'busy',
                          'avatar-status-away': currentUser.status == 'away'
                        }"
                      >
                        <div class="avatar-content">
                          {{ currentUser.companyName | initials }}
                        </div>
                      </div>
                    </ng-template>
                  </span>
                </a>
                <div
                  ngbDropdownMenu
                  aria-labelledby="navbarUserDropdown"
                  class="dropdown-menu dropdown-menu-right"
                >
                  <a ngbDropdownItem (click)="logout()"
                    ><span [data-feather]="'power'" [class]="'mr-50'"></span>
                    Logout</a
                  >
                </div>
              </li>
            </ul>
          </div>

          <div class="step">
            <div class="row align-items-center">
              <div class="col-lg-1"></div>
              <div class="col-lg-7">
                <div class="">
                  <div class="">
                    <div class="">
                      <!-- content-header component -->

                      <div class="mb-5">
                        <h1 class="title mb-2" style="font-size: 40px">
                          Re-Subscribe
                        </h1>
                        <p style="font-size: 16px">
                          Your Subscription Plan has been cancelled or your card
                          is expired.<br />
                          Please renew your Subscription Plan to use Platform
                        </p>
                      </div>

                      <section>
                        <ul ngbNav #nav="ngbNav" class="nav-tabs">
                          <li [ngbNavItem]="1">
                            <a
                              ngbNavLink
                              (click)="getPaymentStatus()"
                              
                              >Subscription Detail</a
                            >
                            <ng-template ngbNavContent>
                              <section class="mb-1">
                                <div class="table-wrapper">
                                  <div class="row" id="basic-table">
                                    <div class="col-12">
                                      <div class="card auto">
                                        <div
                                          *ngIf="!subscription"
                                          class="table-responsive"
                                          style="
                                            font-size: 20px;
                                            text-align: center;
                                            margin: 30px;
                                          "
                                        >
                                          <span>No subscription found</span>
                                        </div>
                                        <div
                                          *ngIf="subscription"
                                          class="row"
                                          style="padding: 20px"
                                        >
                                          <h6
                                            class="mb-2 col-sm-12"
                                            style="margin-left: 20px"
                                          >
                                            Payment Details:
                                          </h6>
                                          <div class="col-xl-6">
                                            <table>
                                              <tbody>
                                                <tr>
                                                  <td
                                                    class="pr-1"
                                                    style="padding: 20px"
                                                  >
                                                    <img
                                                      src="assets/images/site/visa.png"
                                                      alt="Logo"
                                                      height="200"
                                                    />
                                                  </td>
                                                  <td></td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </div>
                                          <div class="col-xl-6">
                                            <h6 class="mb-2"></h6>
                                            <table>
                                              <tbody>
                                                <tr>
                                                  <td class="pr-1">Card#</td>
                                                  <td>
                                                    ...........{{
                                                      subscription.card.last4
                                                    }}
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td class="pr-1">
                                                    Charge Type:
                                                  </td>
                                                  <td class="text-capitalize">
                                                    {{
                                                      subscription.subscription.collection_method.replace(
                                                        "_",
                                                        " "
                                                      )
                                                    }}
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td class="pr-1">Amount:</td>
                                                  <td>
                                                    ${{
                                                      subscription.subscription
                                                        .items.data[0].plan
                                                        .amount / 100
                                                    }}
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td class="pr-1">
                                                    Interval:
                                                  </td>
                                                  <td class="text-capitalize">
                                                    {{
                                                      subscription.subscription
                                                        .items.data[0].plan
                                                        .interval
                                                    }}
                                                  </td>
                                                </tr>
                                                <tr
                                                  *ngIf="
                                                    subscription.subscription
                                                      .status === 'trialing'
                                                  "
                                                >
                                                  <td class="pr-1">
                                                    Trial Start:
                                                  </td>
                                                  <td>
                                                    {{
                                                      getDateFormat(
                                                        subscription
                                                          .subscription
                                                          .trial_start
                                                      )
                                                    }}
                                                  </td>
                                                </tr>
                                                <tr
                                                  *ngIf="
                                                    subscription.subscription
                                                      .status === 'trialing'
                                                  "
                                                >
                                                  <td class="pr-1">
                                                    Trial End:
                                                  </td>
                                                  <td>
                                                    {{
                                                      getDateFormat(
                                                        subscription
                                                          .subscription
                                                          .trial_end
                                                      )
                                                    }}
                                                  </td>
                                                </tr>
                                                <tr
                                                  *ngIf="
                                                    subscription.subscription
                                                      .status !== 'trialing'
                                                  "
                                                >
                                                  <td class="pr-1">
                                                    Subscription Start:
                                                  </td>
                                                  <td>
                                                    {{
                                                      getDateFormat(
                                                        subscription
                                                          .subscription
                                                          .current_period_start
                                                      )
                                                    }}
                                                  </td>
                                                </tr>
                                                <tr
                                                  *ngIf="
                                                    subscription.subscription
                                                      .status !== 'trialing'
                                                  "
                                                >
                                                  <td class="pr-1">
                                                    Subscription End:
                                                  </td>
                                                  <td>
                                                    {{
                                                      getDateFormat(
                                                        subscription
                                                          .subscription
                                                          .current_period_end
                                                      )
                                                    }}
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td class="pr-1">Status:</td>
                                                  <td class="text-capitalize">
                                                    {{
                                                      subscription.subscription
                                                        .status
                                                    }}
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </div>
                                          <div
                                            class="col-sm-12"
                                            *ngIf="
                                              subscription.subscription
                                                .status === 'trialing'
                                            "
                                          >
                                            *<b>NOTE: </b>Currently your
                                            subscription status is 'trialing'
                                            that why you didn't pause or cancel
                                            your subscription.
                                          </div>
                                          <div
                                            class="col-sm-12 float-right"
                                            style="text-align: end"
                                          >
                                            <!-- <button *ngIf="subscription.subscription.status !== 'active' && subscription.subscription.status !== 'trialing'" type="button" class="btn btn-dark2 btn-md px-3 mb-2 mr-1" (click)="activePayment()" rippleEffect>Activate Subscription</button> -->
                                            <!-- <button *ngIf="subscription.subscription.status === 'active'" type="button" class="btn btn-dark2 btn-md px-3 mb-2 mr-1" (click)="pausePayment()" rippleEffect>Pause Subscription</button> -->
                                            <!-- <button *ngIf="subscription.subscription.status !== 'pause' && subscription.subscription.status !== 'trialing' && subscription.subscription.status !== 'canceled'" type="button" class="btn btn-dark2 btn-md px-3 mb-2 mr-1" (click)="cancelPayment()" rippleEffect>Cancel Subscription</button> -->
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                            </ng-template>
                          </li>
                          <li [ngbNavItem]="2">
                            <a
                              ngbNavLink
                              (click)="
                                getCardListAndDetails();
                                getCustomerPaymentMethodDetailInfo()
                              "
                              
                              >Card Details</a
                            >
                            <ng-template ngbNavContent>
                              <section class="mb-1">
                                <div class="table-wrapper">
                                  <div class="row" id="basic-table">
                                    <div class="col-12">
                                      <div
                                        class="card auto"
                                        style="padding: 10px"
                                      >
                                        <div
                                          *ngIf="!subscription"
                                          class="table-responsive"
                                          style="
                                            font-size: 20px;
                                            text-align: center;
                                            margin: 30px;
                                          "
                                        >
                                          <span>No payment method found</span>
                                        </div>
                                        <table>
                                          <thead>
                                            <tr>
                                              <th>Method</th>
                                              <th>Expires</th>
                                              <th></th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr *ngFor="let item of cardList">
                                              <td>
                                                {{ item.brand }} ending in
                                                {{ item.last4 }}
                                                <span
                                                  style="
                                                    background: #38b6ff;
                                                    padding: 4px 10px 4px 10px;
                                                    border-radius: 5px;
                                                    color: white;
                                                    font-size: 12px;
                                                    margin-left: 10px;
                                                  "
                                                  *ngIf="
                                                    customer.invoice_settings
                                                      .default_payment_method ===
                                                    item.id
                                                  "
                                                  >Default</span
                                                >
                                              </td>
                                              <td>
                                                {{ item.exp_month }}/{{
                                                  item.exp_year
                                                }}
                                              </td>
                                              <td>
                                                <a
                                                  *ngIf="
                                                    customer.invoice_settings
                                                      .default_payment_method !=
                                                    item.id
                                                  "
                                                  style="
                                                    margin-left: 5px;
                                                    color: #ff0000 !important;
                                                  "
                                                  (click)="deleteCard(item.id)"
                                                  >Delete</a
                                                >
                                                <a
                                                  *ngIf="
                                                    customer.invoice_settings
                                                      .default_payment_method !=
                                                    item.id
                                                  "
                                                  style="
                                                    margin-left: 5px;
                                                    color: #38b6ff;
                                                    margin-left: 10px;
                                                  "
                                                  (click)="
                                                    setPaymentMethodAsDefault(
                                                      item.id
                                                    )
                                                  "
                                                  >Set Default</a
                                                >
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                                    <div class="col-12">
                                      <button
                                        class="btn btn-primary"
                                        (click)="modalOpenVC(modalAddPayment)"
                                      >
                                        Add Payment Method
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </section>
                            </ng-template>
                          </li>
                          <li [ngbNavItem]="3">
                            <a
                              ngbNavLink
                              
                              >Transaction Detail</a
                            >
                            <ng-template ngbNavContent>
                              <section class="mb-1">
                                <div class="table-wrapper">
                                  <div class="row" id="basic-table">
                                    <div class="col-12">
                                      <div
                                        class="card auto"
                                        style="padding: 10px"
                                      >
                                        <div
                                          *ngIf="!transactions"
                                          class="table-responsive"
                                          style="
                                            font-size: 20px;
                                            text-align: center;
                                            margin: 30px;
                                          "
                                        >
                                          <span
                                            >No transaction history found</span
                                          >
                                        </div>
                                        <table *ngIf="transactions">
                                          <thead>
                                            <tr>
                                              <th>Start Subscription Time</th>
                                              <th>End Subscription Time</th>
                                              <th>Status</th>
                                              <th>Amount</th>
                                              <th>Invoice</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr
                                              *ngFor="let item of transactions"
                                            >
                                              <td>
                                                {{
                                                  item.lines.data[0].period
                                                    .start * 1000
                                                    | date
                                                      : "dd-MM-yyyy hh:mm:ss
                                                a"
                                                }}
                                              </td>
                                              <td>
                                                {{
                                                  item.lines.data[0].period
                                                    .end * 1000
                                                    | date
                                                      : "dd-MM-yyyy hh:mm:ss a"
                                                }}
                                              </td>
                                              <td>
                                                {{ item.status }}
                                              </td>
                                              <td>
                                                ${{ item.subtotal / 100 }}
                                              </td>
                                              <td>
                                                <a
                                                  target="_blank"
                                                  href="{{
                                                    item.hosted_invoice_url
                                                  }}"
                                                  >View</a
                                                >
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                            </ng-template>
                          </li>
                        </ul>
                        <div [ngbNavOutlet]="nav" class="mt-2"></div>
                      </section>
                    </div>
                  </div>
                  <ng-template #modalAddPayment let-modal>
                    <div class="modal-header">
                      <h5 class="modal-title" id="myModalLabel160">
                        Add Payment Method
                      </h5>
                      <!-- <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button> -->
                    </div>
                    <div class="modal-body" tabindex="0" ngbAutofocus>
                      <div class="form-group">
                        <label for="basicInput">Name on Card *</label>
                        <input
                          type="text"
                          [(ngModel)]="cardname"
                          name="name"
                          class="form-control"
                          id="basicInput"
                          placeholder=""
                        />
                      </div>
                      <div class="form-group">
                        <label for="basicInput2">Card Number *</label>
                        <input
                          type="text"
                          [(ngModel)]="cardNumber"
                          name="cardNumber"
                          class="form-control"
                          id="basicInput2"
                          placeholder=""
                        />
                      </div>
                      <div class="row">
                        <div class="col-lg-8">
                          <label for="basicInput">Expiration Date *</label>
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="form-group">
                                <ng-select
                                  [(ngModel)]="selectedMonth"
                                  name="month"
                                >
                                  <ng-option
                                    *ngFor="let month of months"
                                    [value]="month.id"
                                    >{{ month.name }}</ng-option
                                  >
                                </ng-select>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="form-group">
                                <ng-select
                                  [(ngModel)]="selectedYear"
                                  name="year"
                                >
                                  <ng-option
                                    *ngFor="let year of years"
                                    [value]="year.id"
                                    >{{ year.name }}</ng-option
                                  >
                                </ng-select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label for="basicInput3">Security Code *</label>
                            <input
                              type="text"
                              class="form-control"
                              [(ngModel)]="cvc"
                              name="cvc"
                              id="basicInput3"
                              placeholder="CVV"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-primary"
                        (click)="addNewCard()"
                        rippleEffect
                      >
                        Add
                      </button>
                      <button
                        type="button"
                        class="btn btn-danger"
                        (click)="modal.dismiss('Cross click')"
                        rippleEffect
                      >
                        Close
                      </button>
                    </div>
                  </ng-template>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="sidebar">
                  <h3 class="title mb-2">Subscription Plan</h3>
                  <p>
                    Get a 2-year plan for just $199. Enjoy one year absolutely
                    FREE!
                  </p>
                  <div
                    class="btn-group-toggle d-block"
                    ngbRadioGroup
                    name="radioBasic"
                    (change)="selectPackage()"
                    [(ngModel)]="radioModel"
                  >
                    <label
                      ngbButtonLabel
                      class="btn-outline-primary d-block text-left py-2 npr"
                      rippleEffect
                    >
                      <input ngbButton type="radio" [value]="3" />
                      <span
                        class="font-medium-3 d-block mb-1 text-black font-weight-bolder"
                        >Try 2 Years Plan
                        <span class="font-small-2 font-weight-light"
                          >(your first year is completely free)</span
                        ></span
                      >
                      <span
                        class="font-medium-3 d-block mb-2 text-black font-weight-bolder"
                        >$199.00
                        <span class="font-small-2 font-weight-light"
                          >/year</span
                        ></span
                      >
                    </label>
                  </div>
                  <ul class="list">
                    <li>
                      <span>Essential Plan - 1 User Included</span>
                      <span>${{ charges }}</span>
                    </li>
                    <li class="text-primary">
                      <span>Discount </span>
                      <span>-${{ discount }}</span>
                    </li>
                    <li class="font-medium-1 font-weight-bolder text-black">
                      <span>Total</span> <span>${{ total }}</span>
                    </li>
                  </ul>
                  <button
                    class="btn btn-primary w-100 btn-lg"
                    (click)="reactiveSubacription()"
                  >
                    Re Subscribe
                  </button>
                </div>
              </div>
              <div class="col-lg-1"></div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<ng-template #modalAddPayment let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">Add Payment Method</h5>
    <!-- <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <div class="form-group">
      <label for="basicInput">Name on Card *</label>
      <input
        type="text"
        [(ngModel)]="cardname"
        name="name"
        class="form-control"
        id="basicInput"
        placeholder=""
      />
    </div>
    <div class="form-group">
      <label for="basicInput2">Card Number *</label>
      <input
        type="text"
        [(ngModel)]="cardNumber"
        name="cardNumber"
        class="form-control"
        id="basicInput2"
        placeholder=""
      />
    </div>
    <div class="row">
      <div class="col-lg-8">
        <label for="basicInput">Expiration Date *</label>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <ng-select [(ngModel)]="selectedMonth" name="month">
                <ng-option *ngFor="let month of months" [value]="month.id">{{
                  month.name
                }}</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <ng-select [(ngModel)]="selectedYear" name="year">
                <ng-option *ngFor="let year of years" [value]="year.id">{{
                  year.name
                }}</ng-option>
              </ng-select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <label for="basicInput3">Security Code *</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cvc"
            name="cvc"
            id="basicInput3"
            placeholder="CVV"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="addNewCard()"
      rippleEffect
    >
      Add
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.dismiss('Cross click')"
      rippleEffect
    >
      Close
    </button>
  </div>
</ng-template>
