<div class="content-wrapper container-xxl p-0">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="content-body">
      <!-- app e-commerce details start -->
      <section class="app-ecommerce-details">
        <div class="card">
          <!-- Product Details starts -->
          <div class="card-body">
            <div class="row my-2">
              <div class="col-12 col-md-5 d-flex align-items-center justify-content-center mb-2 mb-md-0">
                <div class="d-flex align-items-center justify-content-center">
                  <img [src]="basePath + promotion.imageUrl" class="img-fluid product-img" alt="Promotion image" />
                </div>
              </div>
              <div class="col-12 col-md-7">
                <h4>{{ promotion.title }}</h4>
                <p class="card-text">
                  {{ promotion.description }}
                </p>
               
               
              </div>
            </div>
          </div>
         
        </div>
      </section>
    </div>
  </div>
  