<!-- Menu header -->
<div class="text-center">
  <a style=" -webkit-filter: invert(100%) !important; 
  filter: invert(100%) !important; " [routerLink]="['/']">
    <span class="brand-logo">
      <img src="{{ coreConfig.app.appLogoImage }}" style="width: 180px; height: 3.2rem; margin-top: 30px;"
        alt="brand-logo" />
    </span>
  </a>
</div>
<!--/ Menu header -->

<!-- Navbar shadow -->
<div class="shadow-bottom" [ngClass]="{ 'd-block': isScrolled }"></div>

<!-- Main menu -->
<div class="main-menu-content" [perfectScrollbar] (scroll)="onSidebarScroll()">
  <ul class="navigation navigation-main" layout="vertical" core-menu></ul>
</div>
<!--/ Main menu -->
