<div class="content-wrapper container-xxl" style="background: none;">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>


        <section>
            <div class="row">

                <div class="col-lg-6">
                    <div class="card auto pb-2" style="max-width: 600px; height: 550px;">
                        <div class="card-body">
                            <form (submit)="onSubmitSendEmail()">
                                <div class="form-group mb-2">
                                    <select class="form-control" (change)="onSelected($event)"
                                        style="min-width: 165px;">
                                        <option>Select Category</option>
                                        <option value="Technical difficulties">Technical difficulties</option>
                                        <option value="Service not working as expected">Service not working as expected
                                        </option>
                                        <option value="Slow loading times">Slow loading times</option>
                                        <option value="Error messages">Error messages</option>
                                        <option value="Payment not processed">Payment not processed</option>
                                        <option value="Incorrect billing amount">Incorrect billing amount</option>
                                        <option value="Refund request">Refund request</option>
                                        <option value="Payment confirmation not received">Payment confirmation not
                                            received</option>
                                        <option value="Account Isssue">Account Isssue</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                                <div class="form-group mb-2">
                                    <label class="font-medium-2 font-weight-bold mb-1"
                                        for="basicInput">Description</label>
                                    <textarea class="form-control" [(ngModel)]="description" name="description"
                                        id="description" cols="30" rows="5"
                                        placeholder="Briefly describe your issue...."></textarea>
                                </div>
                                <button class="btn btn-dark2 btn-md d-flex align-items-center"><i class="font-large-1"
                                        data-feather="check"></i> &nbsp;Submit</button>
                            </form>

                            <div class="title-section mb-2 title-section">
                                <h6 class="main-title pt-2"
                                    style="font-family: 'Montserrat', sans-serif; font-size: 16px;">Follow us
                                    online
                                </h6>
                                <ul class="social social-icon pt-1" style="margin:0px; padding:0px">
                                    <a href="https://www.facebook.com/moventag/" target="_blank"
                                        style="font-size: 25px; margin-right: 10px;">
                                        <img src="assets/images/icons/facebook_darkBlue.png" alt="Logo"
                                            style="max-width: 31px;" />
                                    </a>
                                    <a href="https://www.instagram.com/moventag/" target="_blank"
                                        style="font-size: 25px; margin-right: 10px;">
                                        <img src="assets/images/icons/instagram_darkBlue.png" alt="Logo"
                                            class="blue-invert-icon" style="max-width: 28px;" />
                                    </a>
                                    <a href="https://www.linkedin.com/company/moventag/" target="_blank"
                                        style="font-size: 25px; margin-right: 10px;">
                                        <img src="assets/images/icons/linkedin_darkBlue.png" alt="Logo"
                                            class="blue-invert-icon" style="max-width: 25px;" />
                                    </a>
                                    <a href="https://www.pinterest.ca/moventag/" target="_blank"
                                        style="font-size: 25px; margin-right: 10px;">
                                        <img src="assets/images/icons/paintrest_darkBlue.png" alt="Logo"
                                            class="blue-invert-icon" style="max-width: 30px;" />
                                    </a>
                                    <a href="https://www.youtube.com/@moventag" target="_blank"
                                        style="font-size: 25px; margin-right: 10px;">
                                        <img src="assets/images/icons/youtube_darkBlue.png" alt="Logo"
                                            class="blue-invert-icon" style="max-width: 30px;" />
                                    </a>
                                    <a href="https://twitter.com/moventagintl " target="_blank"
                                        style="font-size: 25px; margin-right: 10px;">
                                        <img src="assets/images/icons/twitter_darkBlue.png" alt="Logo"
                                            class="blue-invert-icon" style="max-width: 30px;" />
                                    </a>
                                </ul>

                            </div>
                            <div style="width: 392px;font-family: 'Open Sans', sans-serif;">This is an accessible
                                workplace.
                                Persons
                                with disabilities are welcome to apply.
                            </div>

                        </div>
                    </div>
                </div>


                <div class="col-lg-6">
                    <div class="card auto pb-2" style="max-width: 600px; height:550px;">
                        <div class="card-body">


                            <div class="title-section mb-2">
                                <h2 class="main-title" style="font-family: 'Montserrat', sans-serif;">Contact Us</h2>
                            </div>
                            <div class="ml-1">
                                <div class="row">
                                    <div><img width="28"
                                            src="../../../assets/images/site/new-icons/location_darkBlue.png"></div>
                                    <div class="col-sm-10"
                                        style="font-family: 'Open Sans', sans-serif; margin-top: 10px;">123 Anywhere
                                        St.
                                        Any City, ST 12345</div>
                                </div>
                                <br>
                                <div class="row">
                                    <div><img width="32"
                                            src="../../../assets/images/site/new-icons/telephone_darkBlue.png">
                                    </div>
                                    <div class="col-sm-10" style="font-family: 'Open Sans', sans-serif;">(123) 456-7890
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div><img width="32"
                                            src="../../../assets/images/site/new-icons/letter_darkBlue.png"></div>
                                    <div class="col-sm-10" style="font-family: 'Open Sans', sans-serif;">
                                        hello@reallygreatsite.com</div>
                                </div>
                            </div>
                            <br>
                            <div class="title-section mb-2">
                                <h2 class="main-title pt-2" style="font-family: 'Montserrat', sans-serif;">Office Hours
                                </h2>
                            </div>
                            <div style="margin-left: -10px;">
                                <div class="col-sm-12" style="color: #042243;font-family: 'Open Sans', sans-serif;">
                                    Monday to
                                    Friday
                                </div>
                                <div class="col-sm-12" style="font-family: 'Open Sans', sans-serif;">
                                    9:00 am to 6:00 pm
                                </div>
                                <br>
                                <div class="col-sm-12" style="color: #042243;font-family: 'Open Sans', sans-serif;">
                                    Saturday
                                </div>
                                <div class="col-sm-12" style="font-family: 'Open Sans', sans-serif;">9:00 am to 12 noon
                                </div>
                                <br>
                                <div class="col-sm-12" style="color: #042243;font-family: 'Open Sans', sans-serif;">
                                    Closed on
                                    Sundays
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>
</div>