<li ngbDropdown class="nav-item dropdown-notification mr-25">
  <a class="nav-link" ngbDropdownToggle id="navbarNotificationDropdown"
    ><i class="ficon" data-feather="bell"></i
    ><span class="badge badge-pill badge-danger badge-up">{{
      unreadMessage
    }}</span></a
  >
  <ul
    ngbDropdownMenu
    aria-labelledby="navbarNotificationDropdown"
    class="dropdown-menu dropdown-menu-media dropdown-menu-right"
  >
    <!-- Notifications header -->
    <li class="dropdown-menu-header">
      <div class="dropdown-header d-flex">
        <h4 class="notification-title mb-0 mr-auto">Notifications</h4>
        <div class="badge badge-pill badge-light-primary">
          {{ unreadMessage }} New
        </div>
      </div>
    </li>
    <!--/ Notifications header -->

    <!-- Notifications content -->
    <li class="scrollable-container media-list" [perfectScrollbar]>
      <a class="d-flex" *ngFor="let message of notifications">
        <div
          class="media d-flex align-items-start"
          (click)="goToMessagePage(message)"
          [ngClass]="{ 'new-notification': !message?.viewed }"
        >
          <div class="media-left"></div>
          <div class="media-body">
            <div class="row">
              <div class="col-sm-10">
                <p class="media-heading" [innerHTML]="message.heading"></p>
              </div>
              <div class="col-sm-2" style="text-align: right">
                <span (click)="messageHide(message.heading)"
                  ><i class="ficon" data-feather="x"></i
                ></span>
              </div>
            </div>
            <small class="notification-text">{{ message.message }}</small>
          </div>
        </div>
      </a>
    </li>
    <!--/ Notifications content -->

    <!-- Notifications footer -->
    <li class="dropdown-menu-footer">
      <a class="btn btn-primary btn-block" (click)="messageRead()"
        >Mark as read all notificaiton</a
      >
    </li>
    <!--/ Notifications footer -->
  </ul>
</li>
