<!-- Admin user profile area -->
<div *ngIf="chatUser">
  <div class="chat-user-sidebar">
    <div
      *ngIf="!chatUser.firstName"
      class="d-flex justify-content-center align-items-center vh-100"
      style="background-color: #ffffff"
    ></div>

    <div *ngIf="chatUser.firstName">
      <div class="chat-profile-header">
        <div
          class="header-profile-sidebar"
          style="text-align: center; padding-top: 20px"
        >
          <div class="d-flex align-items-center justify-content-center">
            <div *ngIf="chatUser.profileImage; else customAvatar">
              <img
                class="rounded-circle mr-1"
                src="{{ baseURL }}{{ chatUser.profileImage }}"
                height="80"
                width="80"
              />
            </div>
            <div>
              <!-- <h5 class="mb-0">{{ chatUser.firstName }} {{ chatUser.lastName }}</h5> -->
              <div class="chat-info flex-grow-1">
                <span style="font-size: 22px; font-weight: 700" class="mb-1"
                  >{{ chatUser.firstName }} {{ chatUser.lastName }}</span
                >
              </div>
              <!-- <h6 class="mb-0">{{ chatUser.email }}</h6> -->
              <div class="transaction-item mb-1">
                <div class="media">
                  <div
                    class="media-body"
                    style="
                      display: flex;
                      justify-content: start;
                      height: 30px;
                      align-items: center;
                      padding-left: 10px;
                    "
                  >
                    <span class="transaction-title"
                      ><b>{{ chatUser.email ? chatUser.email : "--" }}</b>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="mb-1" *ngIf="chatUser.profileImage; else customAvatar">
            <img
              class="rounded-circle"
              src="{{ baseURL }}{{ chatUser.profileImage }}"
              height="100"
              width="100"
            />
          </div> -->
          <ng-template #customAvatar>
            <div
              class="avatar mr-1 ml-0"
              style="background-color: #56c1ff"
              [ngClass]="{
                'avatar-status-offline': chatUser.status == 'offline',
                'avatar-status-online': chatUser.status == 'online',
                'avatar-status-busy': chatUser.status == 'busy',
                'avatar-status-away': chatUser.status == 'away'
              }"
            >
              <div
                class="avatar-content"
                style="width: 100px; height: 100px; font-size: 34px"
              >
                {{ chatUser.firstName + chatUser.lastName | initials }}
              </div>
            </div>
          </ng-template>

          <!-- <div class="chat-info flex-grow-1">
            <span style="font-size: 22px; font-weight: 700" class="mb-1"
              >{{ chatUser.firstName }} {{ chatUser.lastName }}</span
            >
          </div> -->
        </div>
        <!--/ User Information -->
      </div>

      <!-- User Details start -->
      <div class="profile-sidebar-area" [perfectScrollbar]>
        <!-- To set user status -->
        <ul class="list-unstyled user-status">
          <li class="pb-1 pt-2 ml-2">
            <!-- <div class="transaction-item  mb-1">
              <div class="media">
                <div class="avatar bg-light-primary rounded">
                  <div class="avatar-content">
                    <i data-feather="mail" class="avatar-icon font-medium-3"></i>
                  </div>
                </div>
                <div class="media-body" style="
                display: flex;
                justify-content: start;
                height: 30px;
                align-items: center;
                padding-left: 10px;
            ">
                  <span class="transaction-title"><b>{{
                    chatUser.email? chatUser.email : '--'
                  }}</b>
                </span>
                  
                </div>
              </div>
            </div> -->

            <div class="transaction-item mb-1">
              <div class="media">
                <div class="avatar bg-light-success rounded">
                  <div class="avatar-content">
                    <i
                      data-feather="phone"
                      class="avatar-icon font-medium-3"
                    ></i>
                  </div>
                </div>
                <div
                  class="media-body"
                  style="
                    display: flex;
                    justify-content: start;
                    height: 30px;
                    align-items: center;
                    padding-left: 10px;
                  "
                >
                  <span class="transaction-title"
                    ><b>{{ chatUser.phone ? chatUser.phone : "--" }}</b>
                  </span>
                </div>
              </div>
            </div>
            <div class="transaction-item mb-1">
              <div class="media">
                <div class="avatar bg-light-danger rounded">
                  <div class="avatar-content">
                    <i
                      data-feather="home"
                      class="avatar-icon font-medium-3"
                    ></i>
                  </div>
                </div>
                <div
                  class="media-body"
                  style="
                    display: flex;
                    justify-content: start;
                    height: 30px;
                    align-items: center;
                    padding-left: 10px;
                  "
                >
                  <span class="transaction-title"
                    ><b>{{ chatUser.address ? chatUser.address : "--" }}</b>
                  </span>
                </div>
              </div>
            </div>

            <div class="transaction-item mb-1">
              <div class="media">
                <div class="avatar bg-light-primary rounded">
                  <div class="avatar-content">
                    <i
                      data-feather="map-pin"
                      class="avatar-icon font-medium-3"
                    ></i>
                  </div>
                </div>
                <div
                  class="media-body"
                  style="
                    display: flex;
                    justify-content: start;
                    height: 30px;
                    align-items: center;
                    padding-left: 10px;
                  "
                >
                  <span class="transaction-title"
                    ><b>{{
                      chatUser.postalCode ? chatUser.postalCode : "--"
                    }}</b>
                  </span>
                </div>
              </div>
            </div>

            <div class="transaction-item mb-1">
              <div class="media">
                <div class="avatar bg-light-success rounded">
                  <div class="avatar-content">
                    <i
                      data-feather="globe"
                      class="avatar-icon font-medium-3"
                    ></i>
                  </div>
                </div>
                <div
                  class="media-body"
                  style="
                    display: flex;
                    justify-content: start;
                    height: 30px;
                    align-items: center;
                    padding-left: 10px;
                  "
                >
                  <span class="transaction-title"
                    ><b>{{ chatUser.country ? chatUser.country : "--" }}</b>
                  </span>
                </div>
              </div>
            </div>

            <div class="transaction-item mb-1">
              <div class="media">
                <div class="avatar bg-light-danger rounded">
                  <div class="avatar-content">
                    <i
                      data-feather="facebook"
                      class="avatar-icon font-medium-3"
                    ></i>
                  </div>
                </div>
                <div
                  class="media-body"
                  style="
                    display: flex;
                    justify-content: start;
                    height: 30px;
                    align-items: center;
                    padding-left: 10px;
                  "
                >
                  <span class="transaction-title"
                    ><b>{{
                      chatUser.facebookURL ? chatUser.facebookURL : "--"
                    }}</b>
                  </span>
                </div>
              </div>
            </div>

            <div class="transaction-item mb-1">
              <div class="media">
                <div class="avatar bg-light-primary rounded">
                  <div class="avatar-content">
                    <i
                      data-feather="instagram"
                      class="avatar-icon font-medium-3"
                    ></i>
                  </div>
                </div>
                <div
                  class="media-body"
                  style="
                    display: flex;
                    justify-content: start;
                    height: 30px;
                    align-items: center;
                    padding-left: 10px;
                  "
                >
                  <span class="transaction-title"
                    ><b>{{
                      chatUser.instagramURL ? chatUser.instagramURL : "--"
                    }}</b>
                  </span>
                </div>
              </div>
            </div>

            <div class="transaction-item mb-1">
              <div class="media">
                <div class="avatar bg-light-success rounded">
                  <div class="avatar-content">
                    <i
                      data-feather="linkedin"
                      class="avatar-icon font-medium-3"
                    ></i>
                  </div>
                </div>
                <div
                  class="media-body"
                  style="
                    display: flex;
                    justify-content: start;
                    height: 30px;
                    align-items: center;
                    padding-left: 10px;
                  "
                >
                  <span class="transaction-title"
                    ><b>{{
                      chatUser.twitterURL ? chatUser.twitterURL : "--"
                    }}</b>
                  </span>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <div
          *ngIf="!chatUsers?.directChat"
          class="d-flex justify-content-center mt-3"
        >
          <button
            class="btn btn-relief-primary"
            rippleEffect
            (click)="orderDetails(modalVC)"
          >
            Lead Info
          </button>
        </div>

        <!-- User settings -->
      </div>
    </div>
  </div>
</div>

<ng-template #modalVC let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalCenterTitle">Lead Details</h5>
    <button
      type="button"
      class="close"
      (click)="modal.dismiss('Cross click')"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <form action="">
      <div class="form-group" [hidden]="!selectedOrder?.subCategory?.title">
        <label for="basicInput">What needs to be done?</label>
        <input
          readonly
          type="text"
          [value]="selectedOrder?.subCategory?.title"
          class="form-control"
          id="basicInput"
          placeholder=""
        />
      </div>
      <div class="form-group" [hidden]="!selectedOrder?.place">
        <label for="basicInput">What type of property?</label>
        <input
          readonly
          type="text"
          class="form-control"
          [value]="selectedOrder?.place"
          id="basicInput"
          placeholder="Townhall"
        />
      </div>
      <div class="form-group" [hidden]="!selectedOrder?.startTime">
        <label for="basicInput">When do you want to start this project</label>
        <input
          readonly
          type="text"
          class="form-control"
          [value]="selectedOrder?.startTime"
          id="basicInput"
          placeholder="Within a week"
        />
      </div>
      <div class="form-group" [hidden]="!selectedOrder?.notes">
        <label for="basicInput"
          >Please provide some details about project
        </label>
        <textarea
          readonly
          style="height: 150px"
          [value]="selectedOrder?.notes"
          class="form-control"
        ></textarea>
      </div>

      <div *ngIf="selectedOrder?.status === 'COMPLETED'">
        <div class="form-group" [hidden]="!selectedOrder?.startTime">
          <label for="basicInput">Earning</label>
          <input
            type="text"
            class="form-control"
            [value]="selectedOrder?.ammount"
            (input)="updateEarningAmount($event.target.value)"
            id="basicInput"
            placeholder="Earning"
            readonly="true"
          />
        </div>
      </div>

      <div class="form-group" [hidden]="selectedOrder?.orderImages.length <= 0">
        <label for="basicInput">Service Images</label>
        <div class="row px-1">
          <div
            class="col-lg-3 px-50"
            *ngFor="let item of selectedOrder.orderImages"
          >
            <a href="{{ baseURL }}{{ item.path }}" target="_blank">
              <img
                src="{{ baseURL }}{{ item.path }}"
                alt=""
                class="img-fluid w-100"
              />
            </a>
          </div>
          <!-- <div class="col-lg-3 px-50">
            <img src="{{baseURL}}{{selectedOrder.orderImages[0].path}}" alt="" class="img-fluid w-100">
          </div> -->
        </div>
      </div>
    </form>
  </div>
</ng-template>
