<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- User List -->
    <section class="users-list-wrapper">
      <!-- users filter start -->
      <!-- <div class="card">
        <h5 class="card-header">Search Filter</h5>
        <div class="card-body">
          <div class="users-list-filter">
            <form>
              <div class="row">
                <div class="col-12 col-md-4">
                  <fieldset class="form-group">
                    <ng-select
                      [items]="selectRole"
                      [(ngModel)]="selectedRole"
                      name="selectedRole"
                      bindLabel="name"
                      placeholder="Select Role"
                      (change)="filterByRole($event)"
                    ></ng-select>
                  </fieldset>
                </div>
                <div class="col-12 col-md-4">
                  <fieldset class="form-group">
                    <ng-select
                      [items]="selectPlan"
                      [(ngModel)]="selectedPlan"
                      name="selectedPlan"
                      bindLabel="name"
                      placeholder="Select Plan"
                      (change)="filterByPlan($event)"
                    ></ng-select>
                  </fieldset>
                </div>
                <div class="col-12 col-md-4">
                  <fieldset class="form-group">
                    <ng-select
                      [items]="selectStatus"
                      [(ngModel)]="selectedStatus"
                      name="selectedStatus"
                      bindLabel="name"
                      placeholder="Select Status"
                      (change)="filterByStatus($event)"
                    ></ng-select>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div> -->
      <!-- users filter end -->

      <div class="card">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center mt-1 ml-1">
              <!-- <label class="d-flex align-items-center"
              >Show
              <select class="form-control mx-25" [(ngModel)]="pageSize" (change)="searchProductName()">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
              entries</label
            > -->

              <div class="">
                <ngb-pagination  [(page)]="pageNo"  
                [pageSize]="pageSize"
                [maxSize]="5" [rotate]="true"
                 [boundaryLinks]="true"
                (pageChange)="loadPage($event)"  [collectionSize]="total" > 
                </ngb-pagination>
              </div>
              
            </div>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end mt-1">
            <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
              <!-- <button class="btn btn-primary ml-1" rippleEffect (click)="toggleSidebar('new-user-sidebar')">
                <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i
                ><span class="d-none d-sm-inline-block">Add New Product</span>
              </button> -->
              <a class="btn  btn-primary ml-1" routerLink="/pages/admin/add-new-promotion" 
                    >Add New Promotion </a
                  >
            </div>
          </div>
        </div>
        <ngx-datatable
          [rows]="promotions"
          [rowHeight]="50"
          class="bootstrap core-bootstrap"
          [limit]="pageSize"
          [columnMode]="ColumnMode.force"
          [headerHeight]="50"
          [scrollbarH]="true"
        >
          <ngx-datatable-column name="Image" prop="name" [width]="50">
            <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
              <div class="d-flex align-items-center">
                <div *ngIf="row.imageUrl !== ''; else customAvatar">
                  <img
                    class="rounded-circle mr-1"
                    src="{{basePath}}{{ row.imageUrl }}"
                    height="32"
                    width="32"
                    alt=""
                  />
                </div>
                <ng-template #customAvatar>
                  <div
                    class="avatar mr-1 ml-0 bg-light-success"
                    [ngClass]="{
                      'bg-light-success': row.status == 'active',
                      'bg-light-secondary': row.status == 'inactive',
                      'bg-light-warning': row.status == 'pending'
                    }"
                  >
                    <div class="avatar-content">{{ shortName(name) | initials }}</div>
                  </div>
                </ng-template>
                <div class="cell-line-height">
                  <a class="font-medium-1 d-block" (click)="productDetail(row)"
                    ><span class="font-weight-bold">{{ name }}</span></a
                  >
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Title" prop="title" [width]="200"></ngx-datatable-column>
          <ngx-datatable-column name="Description" prop="description" [width]="200"></ngx-datatable-column>

          
          <ngx-datatable-column name="Actions" [width]="40" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <div ngbDropdown container="body">
                <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                  <span [data-feather]="'more-vertical'" [class]="'cursor-pointer'"></span>
                </button>
                <div ngbDropdownMenu>
                  <a (click)="productDetail(row)" ngbDropdownItem
                    ><span [data-feather]="'file-text'" [size]="16" [class]="'mr-50'"></span> Details</a
                  ><a (click)="productEdit(row)" ngbDropdownItem
                    ><span [data-feather]="'edit'" [size]="16" [class]="'mr-50'"></span> Edit</a
                  >
                  <a (click)="modalOpenDefault(modalDefault,row)" ngbDropdownItem
                  ><span [data-feather]="'trash'" [size]="16" [class]="'mr-50'"></span> Delete</a
                >
                  <!-- <a href="javascript:;" ngbDropdownItem
                    ><span [data-feather]="'trash'" [size]="16" [class]="'mr-50'"></span> Delete</a
                  > -->
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
       
      </div>
    </section>
    <!--/ User List -->
  </div>

  <!-- New User Sidebar -->
  <core-sidebar
    class="modal modal-slide-in sidebar-todo-modal fade"
    name="new-user-sidebar"
    overlayClass="modal-backdrop"
  >
    <app-add-product></app-add-product>
  </core-sidebar>
  <!--/ New User Sidebar -->
</div>
 <!-- Modal -->
 <ng-template #modalDefault let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">Confirmation</h5>
    <!-- <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
   You realy want to delete the promotion?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.dismiss('Cross click');promotionDelete()" rippleEffect>
      Delete
    </button>
    <button type="button" class="btn btn-primary" (click)="modal.dismiss('Cross click')" rippleEffect>
      Cancel
    </button>
  </div>
</ng-template>
<!-- / Modal -->