@import "@core/scss/base/pages/page-pricing";
@import "@core/scss/angular/libs/ratings.component.scss";

#card-element-container {
  margin-bottom: 20px;
  width: 100%;
}

/* Style for the card element */
#card-element {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  box-sizing: border-box;
}

/* Style for error messages */
#card-errors {
  color: #dc3545;
  margin-top: 5px;
  font-size: 14px;
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
  #card-element {
    font-size: 14px;
    padding: 8px;
  }

  #card-element-container {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 480px) {
  #card-element {
    font-size: 13px;
    padding: 6px;
  }
  .step {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

.ng2-tel-input {
  width: 100%;
}
