<!-- Vertical Menu -->
<ng-container *ngIf="menuType === 'vertical-menu'">
  <vertical-menu></vertical-menu>
  <button class="btn-back" style="padding-left: 0px;" (click)="someUrl()"><i data-feather="arrow-left" class="icon"></i>Back to Website</button>
  <!-- <button class="btn-back"><i data-feather="arrow-left" class="icon"></i>Back to Website</button> -->
</ng-container>
<!--/ Vertical Menu -->

<!-- Horizontal Menu -->
<ng-container *ngIf="menuType === 'horizontal-menu'">
  <horizontal-menu></horizontal-menu>
</ng-container>
<!--/ Horizontal Menu -->
