<!-- Row Details  Datatables -->
<section id="ngx-datatable-row-details">
  <div class="p-2" style="background: white;">
    <div class="row">
      <div class="col-md-6 col-12 d-flex mt-1">
        <div class="d-flex pr-1 pb-1 pb-md-0 mb-1">
           <h4 class="card-title">Seller Pending Approval Lists</h4>
          </div>
      </div>
      <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end mt-1">
        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0 mb-1">
          <!-- <button class="btn btn-primary ml-1" rippleEffect (click)="toggleSidebar('new-user-sidebar')">
            <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i
            ><span class="d-none d-sm-inline-block">Add New Product</span>
          </button> -->
          <a class="btn  btn-primary ml-1"  (click)="exportPendingApprovalSeller()"
                >Export Pending Approval Seller</a
              >
             
        </div>
      </div>
     </div>

    <!-- ngx-datatable-row-details -->
    <ngx-datatable
      #tableRowDetails
      class="bootstrap core-bootstrap"
      [columnMode]="ColumnMode.force"
      [headerHeight]="40"
      [rowHeight]="58"
      [limit]="pageSize"
      [rows]="rows"
      [scrollbarH]="true"
    >
      <!-- Row Detail Template -->
      <ngx-datatable-row-detail [rowHeight]="70">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div class="ml-75 pl-5 pt-1 pb-1">
            <div class="d-flex">
              <div class="w-50">
                <span><strong>Address : </strong> {{ row.address }}</span><br>
                <span><strong>Phone Number : </strong> {{ row.phone}}</span><br>
                <span><strong>Registration No : </strong> {{ row.businessId}}</span><br>

              </div>
              <div>
                <a  (click)="showUserDetailPage(row)" class="btn btn-primary mr-2 mb-2" rippleEffect 
                >Detail</a
              >
              </div>
             
            
              <!-- <span class="ml-1"><strong>Experience : </strong> {{ row.experience }}</span>
              <span class="ml-1"><strong>Start Date : </strong> {{ row.start_date }}</span> -->
            </div>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>
      <ngx-datatable-column
        [width]="50"
        [resizeable]="false"
        [sortable]="false"
        [draggable]="false"
        [canAutoResize]="false"
      >
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <a
            href="javascript:void(0)"
            class="text-body"
            [class.datatable-icon-right]="!expanded"
            [class.datatable-icon-down]="expanded"
            title="Expand/Collapse Row"
            (click)="rowDetailsToggleExpand(row)"
          >
          </a>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="#" prop="id" [width]="20">
        <ng-template let-row="row"  let-rowIndex='rowIndex' let-name="value" ngx-datatable-cell-template>
          <div class="d-flex align-items-center">
            {{ rowIndex+1 }}
            <!-- <div *ngIf="row.avatar && row.avatar.length > 0; else customAvatar"> -->
              <!-- <img
                class="rounded-circle mr-1"
                src="assets/images/portrait/small/{{ row.avatar }}"
                height="32"
                width="32"
                alt="datatable-avatar"
              /> -->
            <!-- </div> -->
            <!-- <ng-template #customAvatar>
              <div
                class="avatar mr-1 ml-0"
                [ngClass]="{
                  'bg-light-primary': row.status == '1',
                  'bg-light-success': row.status == '2',
                  'bg-light-danger': row.status == '3',
                  'bg-light-warning': row.status == '4',
                  'bg-light-info': row.status == '5'
                }"
              >
                <div class="avatar-content">{{ row.firstName | initials }}</div>
              </div>
            </ng-template> -->
            <!-- <div class="cell-line-height">
              <p class="font-medium-1 line-height-1 mb-0">{{ row.firstName }}</p>
              <span class="text-muted font-small-2"> {{ row.firstName }}</span>
            </div> -->
          </div>
        </ng-template>
      </ngx-datatable-column>
      <!-- <ngx-datatable-column name="Date" prop="createdAt" >
        <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
          {{row.createdAt | date }}
          </ng-template>

      </ngx-datatable-column> -->
      <ngx-datatable-column name="Name" prop="firstName">
        <ng-template let-row="row"   >
          {{row.firstName + row.lastName}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Email" prop="email"></ngx-datatable-column>

      <ngx-datatable-column name="Pharmacy Name" prop="pharmacyName"></ngx-datatable-column>
      <!-- <ngx-datatable-column name="USER ID" prop="_id"></ngx-datatable-column> -->
      <!-- <ngx-datatable-column name="Registration Number" prop="businessId" ></ngx-datatable-column> -->

      <ngx-datatable-column name="Approved" prop="isEmailVerified" width="30">
        <ng-template let-isEmailVerified="value" ngx-datatable-cell-template>
          <div
            class="badge badge-pill"
            [ngClass]="{
              'badge-light-success': isEmailVerified,
              'badge-light-danger': !isEmailVerified 
            }"
          >
            {{
              isEmailVerified
                ? 'Approved'
                : 'Disapproved'
                
            }}
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Actions" [sortable]="false" width="20">
        <ng-template ngx-datatable-cell-template let-row="row">
          <div class="d-flex align-items-center">
            <!-- <div ngbDropdown container="body">
              <a
                ngbDropdownToggle
                href="javascript:void(0);"
                class="hide-arrow"
                id="dropdownBrowserState"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i data-feather="more-vertical" class="text-primary cursor-pointer mr-50"></i>
              </a>
              <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBrowserState">
                <a href="javascript:void(0)" ngbDropdownItem class="d-flex align-items-center"
                  ><i data-feather="file-text" class="mr-50"></i> Details</a
                >
                <a href="javascript:void(0)" ngbDropdownItem class="d-flex align-items-center"
                  ><i data-feather="archive" class="mr-50"></i> Archive</a
                >
                <a href="javascript:void(0)" ngbDropdownItem class="d-flex align-items-center"
                  ><i data-feather="trash-2" class="mr-50"></i> Delete</a
                >
              </div>
            </div> -->

            <div class="cursor-pointer" (click)="sellerApproved(row._id)">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"  color="green"
              viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
               stroke-linecap="round" stroke-linejoin="round"
               class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
            </div>
            <!-- <i data-feather="alert" class="text-muted cursor-pointer"></i> -->
            <div class=" cursor-pointer" (click)="sellerDisapproved(row._id)">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" color="red"
              height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" 
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
              class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18">
              </line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>
      
    </ngx-datatable>
    <div class="d-flex justify-content-end mr-1">
      <ngb-pagination [collectionSize]="total" [(page)]="pageNo"  aria-label="Custom pagination"
      (pageChange)="loadPage($event)" >
        <ng-template ngbPaginationPrevious
          ><span [data-feather]="'chevron-left'" [class]="'font-weight-bolder'"></span>Prev
        </ng-template>
        <ng-template ngbPaginationNext
          >Next<span [data-feather]="'chevron-right'" [class]="'font-weight-bolder'"></span>
        </ng-template>
      </ngb-pagination>

    </div>
    
    <!-- ngx-datatable-row-details -->
  </div>
  
</section>
<!-- Row Details  Datatables -->