<div class="content-wrapper container-xxl card pt-1" style="background: none">
  <div class="content-body">
    <!-- Content-Header Component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div
      class="pl-1 pr-3 mb-1 mt-1"
      style="position: relative; display: flex; flex-wrap: wrap"
    >
      <div class="form-outline">
        <form (submit)="onSubmitSearch()">
          <input
            type="text"
            class="form-control"
            placeholder="Search by lead number, customer name..."
            [(ngModel)]="searchText"
            name="searchText"
            style="
              border: 1px solid #e1e1e1;
              width: 500px;
              font-family: 'Public Sans', sans-serif;
            "
          />
        </form>
      </div>
      <button
        type="button"
        (click)="onSubmitSearch()"
        class="btn btn-relief-primary"
        rippleEffect
        style="margin-left: 5px"
      >
        <i class="fa fa-search"></i>
      </button>
      <button
        type="button"
        (click)="onSubmitClear()"
        class="btn btn-relief-danger"
        rippleEffect
        style="margin-left: 5px"
      >
        <i class="fa fa-close"></i>
      </button>
    </div>

    <section class="mb-1" *ngIf="userQuote && userQuote.length <= 0">
      <div class="table-wrapper">
        <div class="row" id="basic-table">
          <div class="col-12">
            <div class="card auto">
              <h4 class="table-title"></h4>
              <div
                class="table-responsive"
                style="
                  font-size: 20px;
                  text-align: center;
                  margin: 30px;
                  margin-top: 25px;
                  margin-bottom: 20px;
                  font-family: 'Public Sans', sans-serif;
                "
              >
                It seems there are no reviews yet.<br />
                Once you start working with clients, their feedbacks will appear
                here!
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section *ngIf="userQuote && userQuote.length > 0">
      <div class="table-wrapper">
        <div class="row" id="basic-table">
          <div class="col-12 table-padding">
            <div class="card">
              <section *ngIf="userQuote && userQuote.length > 0">
                <div class="col-lg-12 mb-12 table-padding">
                  <div class="card">
                    <div class="table-responsive">
                      <table class="table table-s1">
                        <thead>
                          <tr>
                            <th>Lead Number</th>
                            <th>Customer Name</th>
                            <th>Earning</th>
                            <th>Rating</th>
                            <th>Description</th>

                            <th>Review Details</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="mb-1" *ngFor="let item of userQuote">
                            <td class="text-primary">
                              #{{ item.order.orderNum }}
                            </td>
                            <td>
                              {{
                                item?.user.firstName + " " + item?.user.lastName
                              }}
                            </td>
                            <td>
                              {{ convert(item?.order.ammount) | number : "1.0-0" }}
                            </td>
                            <td>
                              <div class="rating">
                                <ngb-rating
                                  [(rate)]="item.ratingCount"
                                  [max]="5"
                                  readonly="true"
                                >
                                  <ng-template let-fill="fill" let-index="index"
                                    ><span
                                      class="fa fa-star-o"
                                      [class.fa-star]="fill === 100"
                                    ></span
                                  ></ng-template>
                                </ngb-rating>
                              </div>
                            </td>
                            <td>
                              {{ item?.description }}
                            </td>
                            <td>
                              <div
                                (click)="modalOpenVC(modalRating, item)"
                                class="badge badge-pill badge-light-success mr-1 cursor-pointer"
                                style="min-width: 45px"
                              >
                                View
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </section>
              <div class="mr-2">
                <div class="d-flex justify-content-end w-100">
                  <ngb-pagination
                    [collectionSize]="total"
                    [(page)]="pageNo"
                    aria-label="Custom pagination"
                    (pageChange)="loadPage($event)"
                  >
                    <ng-template ngbPaginationPrevious
                      ><span
                        [data-feather]="'chevron-left'"
                        [class]="'font-weight-bolder'"
                      ></span
                      >Prev
                    </ng-template>
                    <ng-template ngbPaginationNext
                      >Next<span
                        [data-feather]="'chevron-right'"
                        [class]="'font-weight-bolder'"
                      ></span>
                    </ng-template>
                  </ngb-pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<ng-template #modalRating let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">Rating</h5>
    <!-- <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button> -->
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    Provided Stars
    <div class="form-group">
      <div class="rating text-center">
        <ngb-rating
          [(rate)]="ratingCount"
          [max]="5"
          [readonly]="readOnlyRating"
        >
          <ng-template let-fill="fill" let-index="index"
            ><span class="fa fa-star-o" [class.fa-star]="fill === 100"></span
          ></ng-template>
        </ngb-rating>
      </div>
    </div>

    <div class="form-group">
      Response
      <div class="rating text-center">
        <ngb-rating
          [(rate)]="responsivenessCount"
          [max]="5"
          [readonly]="readOnlyRating"
        >
          <ng-template let-fill="fill" let-index="index"
            ><span class="fa fa-star-o" [class.fa-star]="fill === 100"></span
          ></ng-template>
        </ngb-rating>
      </div>
    </div>

    <div class="form-group">
      Reputation
      <div class="rating text-center">
        <ngb-rating
          [(rate)]="reputationCount"
          [max]="5"
          [readonly]="readOnlyRating"
        >
          <ng-template let-fill="fill" let-index="index"
            ><span class="fa fa-star-o" [class.fa-star]="fill === 100"></span
          ></ng-template>
        </ngb-rating>
      </div>
    </div>

    <div class="form-group">
      Recency
      <div class="rating text-center">
        <ngb-rating
          [(rate)]="recencyCount"
          [max]="5"
          [readonly]="readOnlyRating"
        >
          <ng-template let-fill="fill" let-index="index"
            ><span class="fa fa-star-o" [class.fa-star]="fill === 100"></span
          ></ng-template>
        </ngb-rating>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 px-50" *ngFor="let item of reviewImages">
        <a href="{{ baseURL }}{{ item.path }}" target="_blank">
          <img
            height="100"
            width="100"
            src="{{ baseURL }}{{ item.path }}"
            alt=""
            class="img-fluid w-100"
          />
        </a>
      </div>
      <!-- <img height="100" width="100" *ngIf="ratingImagePath" src="{{baseURL}}{{ratingImagePath}}" alt="" > -->
    </div>
    <div class="form-group">
      <label for="basicInput">Description</label>
      <textarea
        type="text"
        [(ngModel)]="description"
        [readonly]="readOnlyRating"
        class="form-control"
        placeholder="Add some detail about your order and service for other customers"
      ></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button
      *ngIf="readOnlyRating"
      type="button"
      class="btn btn-primary"
      (click)="modal.dismiss('Cross click')"
      rippleEffect
    >
      Close
    </button>
  </div>
</ng-template>
