@import "~@core/scss/angular/libs/datatables.component.scss";
@import "@core/scss/angular/libs/ratings.component.scss";

.datatable-scroll {
  width: auto !important;
}
.tooltip {
  position: fixed;
}
.page-item.active .page-link {
  border-radius: 0rem !important;
  background-color: #38b6ff !important;
  color: #fff !important;
}

.page-link:hover {
  border-radius: 0rem !important;
  background-color: white !important;
  color: #38b6ff !important;
}

.custom-column-header {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

.datatable-header-cell-label {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

.datatable-header-inner {
  background-color: white;
}
