<div class="content-wrapper p-0">
    <div class="content-body">
      <section>
          <div class="container">
                     
              <div class="profile_banner">
              <div class="banner_wrapper">
                <img *ngIf="!sellerProfile?.coverImage" src="../../../assets/images/site/outsite-co-R-LK3sqLiBw-unsplash%201.jpg" alt="" class="banner_img">
                <img *ngIf="sellerProfile?.coverImage" src="{{baseURL}}{{sellerProfile?.coverImage}}"  alt="" class="banner_img">
                <div class="action_wrapper">
                    <!-- <button class="btn btn-dark2"><img src="../../../assets/images/site/file-analytics.png" alt="">Get a Quote</button> -->
                    <button class="btn btn-dark2" (click)="modalUpdatePhoto(modalUpdateCoverPhoto)"><img src="../../../assets/images/site/highlight.png" alt="">Update Cover Photo</button>
                </div>
              </div>
              <div class="info_wrapper">
                  <div class="profile_img_wrapper">
                  <img *ngIf="!sellerProfile?.profileImage"src="../../../assets/images/site/company-logo.png" (click)="modalUpdatePhoto(modalUpdateComapnyLogo)" alt="" class="profile_img">
                  <img *ngIf="sellerProfile?.profileImage" src="{{baseURL}}{{sellerProfile?.profileImage}}" (click)="modalUpdatePhoto(modalUpdateComapnyLogo)" alt="" class="profile_img">
                </div>
                  <div class="profile_details">
                      <h1 class="title">{{sellerProfile?.name ? sellerProfile.name: ''}}</h1>
                      <ul>
                          <li><img src="../../../assets/images/site/color-swatch.png" alt="">{{sellerProfile?.companyName ? sellerProfile.companyName: ''}}
                          </li>
                          <li><img src="../../../assets/images/site/tool.png" alt="">{{sellerProfile?.companyType ? sellerProfile.companyType: ''}}</li>
                          <li><img src="../../../assets/images/site/map-pin-2.png" alt="">{{sellerProfile?.address ? sellerProfile.address: ''}} 
                            {{sellerProfile?.city ? sellerProfile.city: ''}} {{sellerProfile?.country ? sellerProfile.country: ''}}
                          </li>
                      </ul>
                  </div>
                  <ul>
                      <li><img src="../../../assets/images/site/color-swatch.png" alt="">{{sellerProfile?.companyName ? sellerProfile.companyName: ''}}
                      </li>
                      <li><img src="../../../assets/images/site/tool.png" alt="">{{sellerProfile?.companyType ? sellerProfile.companyType: ''}}</li>
                      <li><img src="../../../assets/images/site/map-pin-2.png" alt="">{{sellerProfile?.address ? sellerProfile.address: ''}} 
                        {{sellerProfile?.city ? sellerProfile.city: ''}} {{sellerProfile?.country ? sellerProfile.country: ''}}
                      </li>
                  </ul>
                  <!-- <div class="action_wrapper"> -->
                      <!-- <button class="btn btn-dark2"><img src="../../../assets/images/site/file-analytics.png" alt="">Get a Quote</button> -->
                      <!-- <button class="btn btn-dark2"><img src="../../../assets/images/site/highlight.png" alt="">Write a Review</button> -->
                  <!-- </div> -->
              </div>
            </div>
              <div class="row equal">
                  <div class="col-xl-3 col-md-6 order-xl-1 order-md-1 order-1 ">
                      <div class="card card-score">
                          <div class="card-body d-flex align-items-center">
                              <div>
                                  <h1 class="card-title">Star Score</h1>
                                  <h2 class="title_review"><img src="../../../assets/images/site/star-big.png" alt="">98%</h2>
                                  <p class="card-text">Past 12 Months</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-5 col-lg-12 order-xl-2 order-md-3 order-2">
                      <div class="card card-stats">
                          <div class="card-body">
                              <div class="card">
                                  <div class="card-body">
                                      <img class="card-img" src="../../../assets/images/site/recency.png">
                                      <h1 class="card-title">Recency</h1>
                                  </div>
                                  <div class="card-footer">
                                      <ngb-progressbar type="primary" class="purple" [value]="25"></ngb-progressbar>
                                  </div>
                              </div>
                              <div class="card">
                                  <div class="card-body">
                                      <img class="card-img" src="../../../assets/images/site/reputation.png">
                                      <h1 class="card-title">Reputation</h1>
                                  </div>
                                  <div class="card-footer">
                                      <ngb-progressbar type="primary" class="purple" [value]="50"></ngb-progressbar>
                                  </div>
                              </div>
                              <div class="card">
                                  <div class="card-body">
                                      <img class="card-img" src="../../../assets/images/site/average_rating.png">
                                      <h1 class="card-title">Average Rating</h1>
                                  </div>
                                  <div class="card-footer">
                                      <ngb-progressbar type="primary" class="skyblue" [value]="50"></ngb-progressbar>
                                  </div>
                              </div>
                              <div class="card">
                                  <div class="card-body">
                                      <img class="card-img" src="../../../assets/images/site/responsiveness.png">
                                      <h1 class="card-title">Responsiveness</h1>
                                  </div>
                                  <div class="card-footer">
                                      <ngb-progressbar type="primary" class="skyblue" [value]="90"></ngb-progressbar>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-4 col-md-6 order-xl-3 order-md-2 order-3">
                      <div class="card card-info">
                          <div class="card-body">
                              <ul class="info_list">
                                  <li><a href=""><img src="../../../assets/images/site/phone-call.png" alt="">{{sellerProfile?.phone ? sellerProfile.phone: ''}}</a></li>
                                  <li><a href=""><img src="../../../assets/images/site/brand-dribbble.png" alt="">{{sellerProfile?.webURL ? sellerProfile.webURL: ''}}</a></li>
                              </ul>
                              <ul class="social_list">
                                  <li><a href=""><img src="../../../assets/images/site/brand-facebook.png" alt=""></a></li>
                                  <li><a href=""><img src="../../../assets/images/site/brand-instagram.png" alt=""></a></li>
                                  <li><a href=""><img src="../../../assets/images/site/brand-twitter.png" alt=""></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row equal">
                  <div class="col-lg-4 col-md-5">
                      <div class="card card-about">
                          <div class="card-header">
                              <h1 class="card-title">ABOUT</h1>
                              <button class="edit" (click)="modalEditDetail(modalEditDetailPopup)"><img src="../../../assets/images/site/edit.png" alt=""></button>
                          </div>
                          <div class="card-body">
                              <ul class="">
                                  <li><img src="../../../assets/images/site/user.png" alt=""><span>Company Name: </span>{{sellerProfile?.companyName ? sellerProfile.companyName: ''}}</li>
                                  <li><img src="../../../assets/images/site/check.png" alt=""><span>No. of Employees: </span>{{sellerProfile?.noOfEmployee ? sellerProfile.noOfEmployee: ''}}</li>
                                  <li><img src="../../../assets/images/site/crown.png" alt=""><span>Return Policy: </span>{{sellerProfile?.returnPolicy ? sellerProfile.returnPolicy: ''}}</li>
                                  <li><img src="../../../assets/images/site/file-text.png" alt=""><span>Liability Insurance: </span>{{sellerProfile?.liabilityInsurance ? "Yes": 'No'}}</li>
                                  <li><img src="../../../assets/images/site/file-text.png" alt=""><span>Workers Compensation: </span>{{sellerProfile?.workerCompensation ? "Yes": 'No'}}</li>
                                  <li><img src="../../../assets/images/site/file-text.png" alt=""><span>Project Minimum: </span>{{sellerProfile?.projectMinimum ? sellerProfile.projectMinimum: ''}}</li>
                                  <li><img src="../../../assets/images/site/file-text.png" alt=""><span>Bonded: </span>{{sellerProfile?.bonded ? "Yes": 'No'}}</li>
                                  <li><img src="../../../assets/images/site/file-text.png" alt=""><span>Written Contract: </span>{{sellerProfile?.writtenContract ? "Yes": 'No'}}</li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-8 col-md-7">
                      <div class="card card-categories">
                          <div class="card-header">
                            <img class="card-img" src="../../../assets/images/site/list-details.png">
                              <h1 class="card-title">Categories</h1>
                            <button class="edit" (click)="modalUpdateCategory(modalUpdateCategoryPopup)"><img src="../../../assets/images/site/edit.png" alt=""></button>
                        </div>
                          <div class="card-body">
                              <div class="row">
                                  <div class="col-lg-6">
                                      <h2 class="list-title">Cleaning</h2>
                                      <ul class="">
                                          <li>Bathroom Renovation</li>
                                          <li>Bathroom Renovation</li>
                                          <li>Quartz</li>
                                          <li>Office Renovation</li>
                                      </ul>
                                  </div>
                                  <div class="col-lg-6">
                                      <h2 class="list-title">Moving</h2>
                                      <ul class="">
                                          <li>Dricore Sub Floors</li>
                                          <li>Cambria</li>
                                          <li>Quartz</li>
                                      </ul>
                                  </div>
                                  <div class="col-lg-6">
                                      <h2 class="list-title">Home Inspection</h2>
                                      <ul class="mb-0">
                                          <li>Bathroom Renovation</li>
                                          <li>Bathroom Renovation</li>
                                          <li>Quartz</li>
                                          <li>Office Renovation</li>
                                          <li>Kitchen Planning</li>
                                          <li>General Contractors</li>
                                          <li>Builders</li>
                                          <li>Home Office</li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12">
                      <div class="card card-terms">
                          <div class="card-header">
                              <h1 class="card-title">Licenses  & Warranty Terms:</h1>
                          </div>
                          <div class="card-body">
                              <ul class="">
                                  <li><img src="../../../assets/images/site/flag.png" alt=""><span>Licenses: </span>TORONTO MUNICIPAL LICENSING AND STANDARDS __ LIC NO:T85-4309772</li>
                                  <li><img src="../../../assets/images/site/letter-w.png" alt=""><span>Warranty Terms: </span>Labour Warranty (transferable) and Manufacturers Warranty - 10-50 years/ relative to products/brands/installation</li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-12 col-md-12">
                      <div class="gallery_wrapper">
                          <h1 class="title">Photos</h1>
                          <div class="gallery">
                              <img src="../../../assets/images/site/gallery/image_1.png" alt="">
                              <img src="../../../assets/images/site/gallery/image_2.png" alt="">
                              <img src="../../../assets/images/site/gallery/image_3.png" alt="">
                              <img src="../../../assets/images/site/gallery/image_4.png" alt="">
                              <img src="../../../assets/images/site/gallery/image_5.png" alt="">
                              <img src="../../../assets/images/site/gallery/image_6.png" alt="">
                              <img src="../../../assets/images/site/gallery/image_7.png" alt="">
                              <img src="../../../assets/images/site/gallery/image_8.png" alt="">
                              <img src="../../../assets/images/site/gallery/image_9.png" alt="">
                              <img src="../../../assets/images/site/gallery/image_10.png" alt="">
                          </div>
                      </div>
  
                  </div>
                  <div class="col-lg-12 col-md-12">
                      <div class="card card-map">
                          <div class="card-header">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d9593.425910688245!2d-66.15611339212339!3d-17.404374748556297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1675426791656!5m2!1sen!2s"
                                      style="border:0;"
                                      allowfullscreen=""
                                      class="map"
                                      loading="lazy"
                                      referrerpolicy="no-referrer-when-downgrade"></iframe>
                          </div>
                          <div class="card-footer">
                              <img src="../../../assets/images/site/map-pin.png" alt="">
                              <p>100-2020 Winston Park Dr ON L9T5G1</p>
                          </div>
                      </div>
                      
                  </div>
              </div>
              <section class="companies-card d-none">
                  <h2 class="main-title">Latest News</h2>
                  <div class="row">
                      <div class="col-lg-3 col-md-4 col-sm-6">
                          <div class="card">
                              <div class="card-header">
                                  <img src="./../../../assets/images/site/blog1.png" alt="" class="card-img">
                              </div>
                              <div class="card-body">
                                  <p>Home maintainence</p>
                                  <h4 class="title">Domilya Group Construction Inc.</h4>
                                  <div class="d-flex">
                                      <img src="../../../assets/images/site/company-logo-1.png" alt="">
                                      <img src="../../../assets/images/site/company-logo-2.png" alt="">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-6">
                          <div class="card">
                              <div class="card-header">
                                  <img src="./../../../assets/images/site/blog1.png" alt="" class="card-img">
                              </div>
                              <div class="card-body">
                                  <p>Home maintainence</p>
                                  <h4 class="title">Domilya Group Construction Inc.</h4>
                                  <div class="d-flex">
                                      <img src="../../../assets/images/site/company-logo-1.png" alt="">
                                      <img src="../../../assets/images/site/company-logo-2.png" alt="">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-6">
                          <div class="card">
                              <div class="card-header">
                                  <img src="./../../../assets/images/site/blog1.png" alt="" class="card-img">
                              </div>
                              <div class="card-body">
                                  <p>Home maintainence</p>
                                  <h4 class="title">Domilya Group Construction Inc.</h4>
                                  <div class="d-flex">
                                      <img src="../../../assets/images/site/company-logo-1.png" alt="">
                                      <img src="../../../assets/images/site/company-logo-2.png" alt="">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-6">
                          <div class="card">
                              <div class="card-header">
                                  <img src="./../../../assets/images/site/blog1.png" alt="" class="card-img">
                              </div>
                              <div class="card-body">
                                  <p>Home maintainence</p>
                                  <h4 class="title">Domilya Group Construction Inc.</h4>
                                  <div class="d-flex">
                                      <img src="../../../assets/images/site/company-logo-1.png" alt="">
                                      <img src="../../../assets/images/site/company-logo-2.png" alt="">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </section>
          </div>
      </section>
    </div>
  </div>
  


  <!-- Sign Up Modal -->
<ng-template #modalEditDetailPopup let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel2">Update Profile</h4>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
      <div class="form-wrapper">
        <form  class="row" [formGroup]="profileUpdateForm" (ngSubmit)="onSubmit()">
            <div class="col-4">
                <label>Display Name</label>
                <div class="form-group">
                    <input type="text" formControlName="name" placeholder="Enter Display Name" class="form-control" />
                </div>
            </div>
            <div class="col-4">
                <label>Comapny Name </label>
                <div class="form-group">
                    <input type="text" formControlName="companyName" placeholder="Enter Company Name" class="form-control" />
                </div>
            </div>
            <div class="col-4">
                <label>Company Type </label>
                <div class="form-group">
                    <input type="text" formControlName="companyType" placeholder="Enter Company Type" class="form-control" />
                </div>
            </div>
            <div class="col-4">
                <label>Street </label>
                <div class="form-group">
                    <input type="text" formControlName="address" placeholder="Street" class="form-control" />
                </div>
            </div>
            <div class="col-4">
                <label>City </label>
                <div class="form-group">
                    <input type="text" formControlName="city" placeholder="City" class="form-control" />
                </div>
            </div>
            <div class="col-4">
                <label>Country </label>
                <div class="form-group">
                    <input type="text" formControlName="country" placeholder="Country" class="form-control" />
                </div>
            </div>
            <div class="col-4">
                <label>No Of Employees </label>
                <div class="form-group">
                    <input type="text" formControlName="noOfEmployee" placeholder="Enter no of employees" class="form-control" />
                </div>
            </div>
            <div class="col-4">
                <label>Return Policy </label>
                <div class="form-group">
                    <input type="text" formControlName="returnPolicy" placeholder="Enter return policy" class="form-control" />
                </div>
            </div>
            <div class="col-4">
                <label>Project Minimum Budget </label>
                <div class="form-group">
                    <input type="text" formControlName="projectMinimum" placeholder="Enter minimum budget" class="form-control" />
                </div>
            </div>
            <div class="col-4">
                <label>Phone no. </label>
                <div class="form-group">
                    <input type="text" formControlName="phone" placeholder="Enter phone" class="form-control" />
                </div>
            </div>
            <div class="col-12"></div>
            <div class="col-4">
                <label>Website URL </label>
                <div class="form-group">
                    <input type="text" formControlName="webURL" placeholder="Enter website url" class="form-control" />
                </div>
            </div>
            <div class="col-4">
                <label>Facebook URL </label>
                <div class="form-group">
                    <input type="text" formControlName="facebookURL" placeholder="Enter facebook url" class="form-control" />
                </div>
            </div>
            <div class="col-4">
                <label>Intagram URL </label>
                <div class="form-group">
                    <input type="text" formControlName="instagramURL" placeholder="Enter intagram url" class="form-control" />
                </div>
            </div>
            <div class="col-4">
                <label>Twitter URL </label>
                <div class="form-group">
                    <input type="text" formControlName="twitterURL" placeholder="Enter twitter url" class="form-control" />
                </div>
            </div>
            <div class="col-12"></div>
            <div class="col-3">
                <div class="custom-control custom-checkbox ">
                    <input type="checkbox" formControlName="liabilityInsurance" class="custom-control-input" id="customCheck1"/>
                    <label class="custom-control-label" for="customCheck1">Liability Insurance</label>
                  </div>
            </div>
            <div class="col-3">
                <div class="custom-control custom-checkbox ">
                    <input type="checkbox" formControlName="workerCompensation" class="custom-control-input" id="customCheck2"/>
                    <label class="custom-control-label" for="customCheck2">Workers Compensation</label>
                  </div>
            </div>
            <div class="col-3">
                <div class="custom-control custom-checkbox ">
                    <input type="checkbox" formControlName="bonded" class="custom-control-input" id="customCheck3"/>
                    <label class="custom-control-label" for="customCheck3">Bonded</label>
                  </div>
            </div>
            <div class="col-3">
                <div class="custom-control custom-checkbox ">
                    <input type="checkbox" formControlName="writtenContract" class="custom-control-input" id="customCheck4"/>
                    <label class="custom-control-label" for="customCheck4">Written Contract</label>
                  </div>
            </div>
            <div class="col-12"></div>
            <div class="col-6">
                <label> Licenses </label>
                <div class="form-group">
                    <input type="text" formControlName="licenses" placeholder="Enter licenses" class="form-control" />
                </div>
            </div>
            <div class="col-6">
                <label> Warranty Terms </label>
                <div class="form-group">
                    <input type="text" formControlName="warrantyTerms" placeholder="Enter warranty terms" class="form-control" />
                </div>
            </div>
            <div class="col-12"></div>
          <button type="submit" class="btn btn-dark2 btn-md w-100"  rippleEffect>
             Update </button>
        </form>
      </div>
    </div>
  </ng-template>


  <ng-template #modalUpdateCoverPhoto let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel2">Update Cover Photo</h4>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
        <div class="form-wrapper">
            <label for="file-upload" class="custom-file-upload">
                <i class="fa fa-cloud-upload"></i> Select Cover Photo
            </label>
            <input id="file-upload" type="file" (change)="coverfileChangeEvent($event)" />
            <image-cropper
                [imageChangedEvent]="coverPhotoChangedEvent"
                format="png"
                maintainAspectRatio ="true"
                [aspectRatio]="32/9"
                (imageCropped)="coverimageCropped($event)"
                (imageLoaded)="imageLoaded()"
                (cropperReady)="cropperReady()"
                (loadImageFailed)="loadImageFailed()"
            ></image-cropper>
            <!-- <img [src]="coverPhotoCroppedImage" style="width: 100%;" /> -->
            <button type="submit" class="btn btn-dark2 btn-md w-100" (click)="uploadCoverPhoto()" *ngIf="coverPhotoCroppedImage" rippleEffect>
                Upload </button>
        </div>
    </div>
</ng-template>

<ng-template #modalUpdateComapnyLogo let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel2">Update Company Logo</h4>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
        <div class="form-wrapper">
            <label for="file-upload" class="custom-file-upload">
                <i class="fa fa-cloud-upload"></i> Select Company Logo
            </label>
            <input id="file-upload" type="file" (change)="companyfileChangeEvent($event)"/>
            <image-cropper
                [imageChangedEvent]="companyPhotoChangedEvent"
                format="png"
                maintainAspectRatio ="true"
                [aspectRatio]="4/4"
                (imageCropped)="companyimageCropped($event)"
                (imageLoaded)="imageLoaded()"
                (cropperReady)="cropperReady()"
                (loadImageFailed)="loadImageFailed()"
            ></image-cropper>
            <!-- <img [src]="CompanyPhotoCroppedImage" style="width: 20%; " /> -->
            <button type="submit" class="btn btn-dark2 btn-md w-100" (click)="uploadProfilePhoto()" *ngIf="CompanyPhotoCroppedImage" rippleEffect>
                Upload </button>
        </div>
    </div>
</ng-template>

  <!-- Sign Up Modal -->
  <ng-template #modalUpdateCategoryPopup let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel2">Update Categories</h4>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
      <div class="form-wrapper row">
        <div class="col-12 mb-2" *ngFor="let category of categories; let i=index">
            <h4>{{category.title}}</h4>
            <div class="row">
                <div class="col-3" *ngFor="let subCate of category.subCategories; let c=index">
                    <div class="custom-control custom-checkbox ">
                        <input type="checkbox"  class="custom-control-input" id="customCheck{{i}}{{c}}"/>
                        <label class="custom-control-label" for="customCheck{{i}}{{c}}">{{subCate.title}}</label>
                    </div>
                </div>
            </div>
           
        </div>
        </div>
     </div>
</ng-template>
