<div class="content-wrapper container-xxl p-0">
  <div class="content-body">

    <section>
      <div class="container">

        <div class="profile_banner">
          <div class="banner_wrapper">
            <img *ngIf="!sellerProfile?.coverImage" src="../../../assets/images/site/no-cover.png" alt=""
              class="banner_img">
            <img *ngIf="sellerProfile?.coverImage" src="{{baseURL}}{{sellerProfile?.coverImage}}" alt=""
              class="banner_img">
            <div class="action_wrapper">
              <button class="btn btn-dark2" (click)="modalUpdatePhoto(modalVCCover)"><img
                  src="../../../assets/images/site/highlight.png" alt="">Update Cover Photo</button>
            </div>
          </div>
          <div class="info_wrapper">
            <div class="profile_img_wrapper">
              <img *ngIf="!sellerProfile?.profileImage" src="../../../assets/images/site/no-profile.png"
                (click)="modalUpdatePhoto(modalVCProfilePic)" alt="" class="profile_img">
              <img *ngIf="sellerProfile?.profileImage" src="{{baseURL}}{{sellerProfile?.profileImage}}"
                (click)="modalUpdatePhoto(modalVCProfilePic)" alt="" class="profile_img">
            </div>
            <div class="profile_details">
              <h1 class="title" style="font-family: 'Montserrat', sans-serif;">{{sellerProfile?.companyName ?
                sellerProfile.companyName: ''}}</h1>
              <ul>
                <li *ngIf="sellerProfile?.address"><img src="../../../assets/images/site/map-pin-2.png"
                    alt="">{{sellerProfile?.address ? sellerProfile.address: ''}}
                </li>
              </ul>
            </div>
            <ul>
              <li><img src="../../../assets/images/site/color-swatch.png" alt="">{{sellerProfile?.companyName ?
                sellerProfile.companyName: ''}}
              </li>
              <li><img src="../../../assets/images/site/tool.png" alt="">{{sellerProfile?.companyType ?
                sellerProfile.companyType: ''}}</li>
              <li><img src="../../../assets/images/site/map-pin-2.png" alt="">{{sellerProfile?.address ?
                sellerProfile.address: ''}}
              </li>
            </ul>

          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card card-terms">
              <div class="card-header pb-1">
                <h5 class="mb-0" style="font-family: 'Montserrat', sans-serif;">Description:</h5>
                <button class="edit absolute" (click)="modalOpenVCAbout(modalVCAbout)"><img
                    src="../../../assets/images/site/edit.png" alt=""></button>
              </div>
              <div class="card-body pt-0">
                <p [ngClass]="{'limitTextHeight': isReadMore}" style="font-family: 'Montserrat', sans-serif;">
                  {{sellerProfile?.description}}</p>
                <a style=" color: #38b6ff; float: right; font-family: 'Montserrat', sans-serif;"
                  (click)="showFullDescription()">
                  {{ isReadMore ? 'Read More': 'Read Less' }}
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row equal">
          <div class="col-lg-4 col-md-5">
            <div class="card card-about">
              <div class="card-header">
                <button class="edit absolute" (click)="modalOpenVCCategories(modalGoogleMap)"><img
                    src="../../../assets/images/site/edit.png" alt=""></button>
                <h5 class="mb-0" style="font-family: 'Montserrat', sans-serif;">ABOUT:</h5>
              </div>
              <div class="card-body">
                <ul class="">
                  <li *ngIf="sellerProfile?.companyName; else sellerProfile?.companyName"><img
                      src="../../../assets/images/site/company/companyname.png" alt=""><span>Company Name:
                    </span>{{sellerProfile?.companyName ?
                    sellerProfile.companyName: ''}}</li>
                  <li *ngIf="sellerProfile?.noOfEmployee; else sellerProfile?.noOfEmployee"><img
                      src="../../../assets/images/site/company/employees.png" alt=""><span>No. of
                      Employees: </span>{{sellerProfile?.noOfEmployee ?
                    sellerProfile.noOfEmployee: ''}}</li>
                  <li *ngIf="sellerProfile?.returnPolicy; else sellerProfile?.returnPolicy"><img
                      src="../../../assets/images/site/profileIcons/returnpolicy.png" alt=""><span>Return
                      Policy: </span>{{sellerProfile?.returnPolicy ? sellerProfile.returnPolicy:
                    ''}}</li>
                  <li *ngIf="sellerProfile?.liabilityInsurance; else sellerProfile?.liabilityInsurance"><img
                      src="../../../assets/images/site/company/insurance.png" alt=""><span>Liability Insurance:
                    </span>{{sellerProfile?.liabilityInsurance
                    ? sellerProfile?.liabilityInsurance: ''}}</li>
                  <li *ngIf="sellerProfile?.workerCompensation; else sellerProfile?.workerCompensation"><img
                      src="../../../assets/images/site/profileIcons/compensation.png" alt=""><span>Workers Compensation:
                    </span>{{sellerProfile?.workerCompensation ? sellerProfile?.workerCompensation: ''}}</li>
                  <li *ngIf="sellerProfile?.projectMinimum; else sellerProfile?.projectMinimum"><img
                      src="../../../assets/images/site/company/minimumproject.png" alt=""><span>Project Minimum:
                    </span>{{sellerProfile?.projectMinimum}}</li>
                  <!-- <li><img src="../../../assets/images/site/file-text.png" alt=""><span>Bonded: </span>{{sellerProfile?.bonded ? "Yes": 'No'}}</li> -->
                  <li *ngIf="sellerProfile?.writtenContract; else sellerProfile?.writtenContract"><img
                      src="../../../assets/images/site/profileIcons/writtencontract.png" alt=""><span>Written
                      Contract: </span>{{sellerProfile?.writtenContract ? sellerProfile?.writtenContract: ''}}</li>
                  <li *ngIf="sellerProfile?.country; else sellerProfile?.country"><img
                      src="../../../assets/images/site/profileIcons/country.png" alt=""><span>Country:
                    </span>{{sellerProfile?.country ?
                    sellerProfile.country: ''}}</li>
                  <li *ngIf="sellerProfile?.state; else sellerProfile?.state"><img
                      src="../../../assets/images/site/profileIcons/state.png" alt=""><span>Province/State:
                    </span>{{sellerProfile?.state ?
                    sellerProfile.state: ''}}</li>
                  <li *ngIf="sellerProfile?.city; else sellerProfile?.city"><img
                      src="../../../assets/images/site/profileIcons/city.png" alt=""><span>City:
                    </span>{{sellerProfile?.city ?
                    sellerProfile.city: ''}}</li>
                  <li *ngIf="sellerProfile?.paymentMethod; else sellerProfile?.paymentMethod"><img
                      src="../../../assets/images/site/profileIcons/paymentmethod.png" alt=""><span>Payment
                      Method: </span>{{sellerProfile?.paymentMethod ?
                    sellerProfile.paymentMethod: ''}}</li>
                  <li *ngIf="sellerProfile?.warrantyTerms; else sellerProfile?.warrantyTerms"><img
                      src="../../../assets/images/site/profileIcons/warrantyterm.png" alt=""><span>Warranty
                      Terms: </span>{{sellerProfile?.warrantyTerms ?
                    sellerProfile.warrantyTerms: ''}}</li>
                  <li *ngIf="sellerProfile?.bonded; else sellerProfile?.bonded"><img
                      src="../../../assets/images/site/profileIcons/bond.png" alt=""><span>Bonded:
                    </span>{{sellerProfile?.bonded ?
                    sellerProfile.bonded: ''}}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-7">
            <div class="card card-categories">
              <div class="card-header">
                <button class="edit absolute" (click)="modalOpenVCCategories(modalVCCategories)"><img
                    src="../../../assets/images/site/edit.png" alt=""></button>
                <img class="card-img" src="../../../assets/images/site/list-details.png">
                <h1 class="card-title" style="font-family: 'Montserrat', sans-serif;">Categories</h1>
              </div>
              <div class="card-body">
                <div class="row" style="
                  max-height: 220px;
                  overflow: auto;
              ">
                  <div class="col-lg-12" *ngFor="let category of filterCategories">
                    <h2 class="list-title" style="font-family: 'Montserrat', sans-serif;">{{category?.title}}</h2>
                    <ul class="">
                      <li *ngFor="let sub of category.subcategory" style="font-family: 'Montserrat', sans-serif;">
                        {{sub?.title}}</li>
                    </ul>
                  </div>
                  <!-- 
                    <div class="col-12 mb-2" *ngFor="let category of categories; let i=index">
                        <h4>{{category?.category?.title}}</h4>
                        <div class="row">
                            <div class="col-3" *ngFor="let subCate of category.subCategory; let c=index">
                                <div class="custom-control custom-checkbox ">
                                    <input type="checkbox"  class="custom-control-input" (click)="selectCategory(category?.category,subCate.subcategory)" id="customCheck{{i}}{{c}}"/>
                                    <label class="custom-control-label" for="customCheck{{i}}{{c}}">{{subCate?.subcategory?.title}}</label>
                                </div>
                            </div>
                        </div>
                       
                    </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row equal">
          <div class="col-xl-3 col-md-6 order-xl-1 order-md-1 order-1">
            <div class="card card-info">
              <button class="edit absolute" (click)="modalOpenVCContactDet(modalVCContactDet)"><img
                  src="../../../assets/images/site/edit.png" alt=""></button>
              <div class="card-body">
                <ul class="info_list">
                  <li style="font-family: 'Montserrat', sans-serif;"><a href=""><img
                        src="../../../assets/images/site/social/phone-call.png" alt="">{{sellerProfile?.phone ?
                      sellerProfile.phone: ''}}</a></li>

                      <li style="font-family: 'Montserrat', sans-serif;"><a href=""><img
                        src="../../../assets/images/site/social/email.png" alt="email">{{sellerProfile?.email ?
                      sellerProfile.email: ''}}</a></li>

                  <li style="font-family: 'Montserrat', sans-serif;"><a href=""><img
                        src="../../../assets/images/site/social/web.png" alt="">{{sellerProfile?.webURL ?
                      sellerProfile.webURL: ''}}</a></li>
                </ul>
                <ul class="social_list">
                  <li><a href="{{sellerProfile?.facebookURL ? sellerProfile.facebookURL: ''}}"><img
                        src="../../../assets/images/site/social/facebook.png" alt=""></a></li>
                  <li><a href="{{sellerProfile?.instagramURL ? sellerProfile.instagramURL: ''}}"><img
                        src="../../../assets/images/site/social/instagram.png" alt=""></a></li>
                  <li><a href="{{sellerProfile?.twitterURL ? sellerProfile.twitterURL: ''}}"><img
                        src="../../../assets/images/site/social/twitter.png" alt=""></a></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- <div class="col-xl-4 col-lg-12 order-xl-2 order-md-3 order-2" *ngIf="sellerProfile?.referralCode">
              <div class="card">
                <div class="card-body d-flex align-items-center">
                  <div>
                    <h1 class="card-title">Partner’s Referral Code</h1>
                    <p>{{sellerProfile?.referralCode}}</p>
                    <button class="btn btn-primary" (click)="copyText()">Copy</button>
                  </div>
                </div>
              </div>
            </div> -->
          <div class="col-xl-9 col-md-9 order-xl-3 order-md-2 order-3"
            *ngIf="sellerProfile?.termsConditions; else sellerProfile?.termsConditions">
            <div class="row">
              <div class="col-12" style="padding:0px">
                <div class="card card-terms">
                  <div class="card-header pb-1">
                    <h5 class="mb-0" style="font-family: 'Montserrat', sans-serif;">Terms & Conditions:</h5>
                    <button class="edit absolute" (click)="modalOpenVCAbout(modalVCAbout)"><img
                        src="../../../assets/images/site/edit.png" alt=""></button>
                  </div>
                  <div class="card-body pt-0">
                    <p [ngClass]="{'limitTextHeight': isReadMoreTerms}" style="font-family: 'Montserrat', sans-serif;">
                      {{sellerProfile?.termsConditions}}</p>
                    <a style=" color: #38b6ff; float: right; font-family: 'Montserrat', sans-serif;"
                      (click)="showFullisTerms()">
                      {{ isReadMoreTerms ? 'Read More': 'Read Less' }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="gallery_wrapper">
              <div class="d-flex align-items-center mb-2">
                <h1 class="title mb-0" style="font-family: 'Montserrat', sans-serif;">Services photos</h1>
                <button class="edit ml-2" (click)="modalUpdatePhoto(modalVC)"><img
                    src="../../../assets/images/site/edit.png" alt=""></button>
              </div>
              <div class="gallery row">
                <div class="col-sm-3" *ngFor="let item of sellerServicePhotos">
                  <img src="{{baseURL}}{{item.path}}" class="imgResponsiveMax" alt="" />
                  <button class="closeImageBtn" (click)="deleteImage(item)"><i data-feather="x"></i></button>
                </div>
                <!-- <img *ngFor="let item of sellerServicePhotos" src="{{baseURL}}{{item.path}}" alt=""> -->

              </div>
            </div>
          </div>
        </div>


      </div>
    </section>

    <ng-template #modalVCCover let-modal>
      <div class="modal-header">
        <h5 class="modal-title text-center w-100 my-2" id="exampleModalCenterTitle"
          style="font-family: 'Montserrat', sans-serif;">Change Cover image</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" tabindex="0" ngbAutofocus>
        <!-- File Uploader -->
        <section>
          <label for="file-upload" style="width: 100%;" *ngIf="!coverPhotoCroppedImage"
            class="py-5 mb-3 text-center file-drop-zone">
            <h6 style="font-family: 'Montserrat', sans-serif;">Drop pictures here or click to upload</h6>
          </label>
          <input id="file-upload" type="file" (change)="coverfileChangeEvent($event)" />
          <image-cropper [imageChangedEvent]="coverPhotoChangedEvent" format="png" maintainAspectRatio="true"
            [aspectRatio]="32/9" (imageCropped)="coverimageCropped($event)" (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>

        </section>
        <!--/ File Uploader -->
      </div>
      <div class="modal-footer justify-content-center my-2">
        <button type="button" class="btn btn-dark2 mx-1 btn-md px-3" (click)="uploadCoverPhoto()"
          *ngIf="coverPhotoCroppedImage" rippleEffect><i data-feather="check"></i> Save</button>
        <button type="button" class="btn btn-dark mx-1 btn-md px-3" (click)="modal.dismiss('Cross click')"
          rippleEffect><i data-feather="x"></i> Discard</button>
      </div>
    </ng-template>
    <ng-template #modalVCProfilePic let-modal>
      <div class="modal-header">
        <h5 class="modal-title text-center w-100 my-2" id="exampleModalCenterTitle"
          style="font-family: 'Montserrat', sans-serif;">Change Profile Picture</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" tabindex="0" ngbAutofocus>
        <!-- File Uploader -->
        <section>
          <label for="file-upload" style="width: 100%;" *ngIf="!CompanyPhotoCroppedImage"
            class="py-5 mb-3 text-center file-drop-zone">
            <h6 style="font-family: 'Montserrat', sans-serif;">Drop pictures here or click to upload</h6>
          </label>
          <input id="file-upload" type="file" (change)="companyfileChangeEvent($event)" />
          <image-cropper [imageChangedEvent]="companyPhotoChangedEvent" format="png" maintainAspectRatio="true"
            [aspectRatio]="4/4" (imageCropped)="companyimageCropped($event)" (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>

        </section>
        <!--/ File Uploader -->
      </div>
      <div class="modal-footer justify-content-center my-2">
        <button type="button" class="btn btn-dark2 mx-1 btn-md px-3" (click)="uploadProfilePhoto()"
          *ngIf="CompanyPhotoCroppedImage" rippleEffect><i data-feather="check"></i> Save</button>
        <button type="button" class="btn btn-dark mx-1 btn-md px-3" (click)="modal.dismiss('Cross click')"
          rippleEffect><i data-feather="x"></i> Discard</button>
      </div>
    </ng-template>
    <ng-template #modalVC let-modal>
      <div class="modal-header">
        <h5 class="modal-title text-center w-100 my-2" id="exampleModalCenterTitle"
          style="font-family: 'Montserrat', sans-serif;">Upload Service Images</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" tabindex="0" ngbAutofocus>
        <!-- File Uploader -->
        <section>
          <label for="file-upload" style="width: 100%;" *ngIf="!servicePhotoCroppedImage"
            class="py-5 mb-3 text-center file-drop-zone">
            <h6 style="font-family: 'Montserrat', sans-serif;">Drop pictures here or click to upload</h6>
          </label>
          <input id="file-upload" type="file" (change)="servicefileChangeEvent($event)" />
          <image-cropper [imageChangedEvent]="servicePhotoChangedEvent" format="png" maintainAspectRatio="true"
            [aspectRatio]="4/4" (imageCropped)="serviceImageCropped($event)" (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()" (loadImageFailed)="cropperReady()"></image-cropper>

        </section>
        <!--/ File Uploader -->
      </div>
      <div class="modal-footer justify-content-center my-2">
        <button type="button" class="btn btn-dark2 mx-1 btn-md px-3" *ngIf="servicePhotoCroppedImage"
          (click)="uploadServicePhotos()" rippleEffect><i data-feather="check"></i> Save</button>
        <button type="button" class="btn btn-dark mx-1 btn-md px-3" (click)="modal.dismiss('Cross click')"
          rippleEffect><i data-feather="x"></i> Discard</button>
      </div>
    </ng-template>

    <ng-template #modalVCContactDet let-modal>
      <div class="modal-header">
        <h5 class="modal-title w-100 px-1 pt-1 pb-0" id="exampleModalCenterTitle"
          style="font-family: 'Montserrat', sans-serif;">Change Contact Details</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" tabindex="0" ngbAutofocus>
        <form [formGroup]="sellerWebLinksForm" (ngSubmit)="onUpdateLinks()" class="px-1">

          <div class="form-group">
            <label for="email" style="font-family: 'Montserrat', sans-serif;">Phone Number</label>
            <div class="input-group">
              <div>
                <ng-select placeholder="+1" style="width: 100px;" (change)="onCountryPhoneCode($event)"
                  bindLabel=" immigration_s_title">
                  <ng-option *ngFor="let code of countryCode" [value]="code">{{code.dial_code}}</ng-option>
                </ng-select>
              </div>
              <input type="text" class="form-control" formControlName="phone" placeholder="123-456-789" />
            </div>
          </div>

          <div class="form-group">
            <label for="email" style="font-family: 'Montserrat', sans-serif;">Email</label>
            <input type="text" class="form-control" disabled formControlName="userEmail" placeholder="Email" />
          </div>

          <div class="form-group">
            <label for="email" style="font-family: 'Montserrat', sans-serif;">Website</label>
            <input type="text" class="form-control" formControlName="webURL" placeholder="www.domain.com" />
          </div>
          <div class="form-group">
            <label for="email" style="font-family: 'Montserrat', sans-serif;">Facebook</label>
            <input type="text" class="form-control" formControlName="facebookURL"
              placeholder="https://www.facebook.com" />
          </div>
          <div class="form-group">
            <label for="email" style="font-family: 'Montserrat', sans-serif;">Instagram</label>
            <input type="text" class="form-control" formControlName="instagramURL"
              placeholder="https://www.instagram.com" />
          </div>
          <div class="form-group">
            <label for="email" style="font-family: 'Montserrat', sans-serif;">Twitter</label>
            <input type="text" class="form-control" formControlName="twitterURL"
              placeholder="https://www.twitter.com" />
          </div>
          <button type="submit" class="btn btn-dark2 btn-md px-3 mb-2" rippleEffect>Update</button>
        </form>
      </div>
    </ng-template>
    <ng-template #modalVCAbout let-modal>
      <div class="modal-header">
        <h5 class="modal-title w-100 px-1 pt-1 pb-0" id="exampleModalCenterTitle">About</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" tabindex="0" ngbAutofocus>
        <form [formGroup]="profileUpdateForm" (ngSubmit)="onSubmit()" class="px-1">
          <div class="form-group">
            <label for="email" style="font-family: 'Montserrat', sans-serif;">Description</label>
            <textarea formControlName="description" maxlength="1000" class="form-control" id="" cols="30" rows="4"
              placeholder="Please enter description in maximum 1000 characters."></textarea>
          </div>
          <div class="form-group">
            <label for="email" style="font-family: 'Montserrat', sans-serif;">Terms & Conditions</label>
            <textarea formControlName="termsConditions" maxlength="1000" class="form-control" id="" cols="30" rows="4"
              placeholder="Please enter Terms & Conditions in maximum 1000 characters."></textarea>
          </div>
          <div class="form-group">
            <label for="email" style="font-family: 'Montserrat', sans-serif;">Company Name</label>
            <input type="text" class="form-control" formControlName="companyName" placeholder="XYZ" />
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="email" style="font-family: 'Montserrat', sans-serif;">Address</label>
                <input type="text" class="form-control" formControlName="address" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="email" style="font-family: 'Montserrat', sans-serif;">Postal Code/Zip Code</label>
                <input type="text" class="form-control" formControlName="postalCode" placeholder="77640" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="email" style="font-family: 'Montserrat', sans-serif;">No. Employees</label>
                <input type="text" class="form-control" formControlName="noOfEmployee" placeholder="30" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="email" style="font-family: 'Montserrat', sans-serif;">Return Policy</label>
                <input type="text" class="form-control" formControlName="returnPolicy" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="email" style="font-family: 'Montserrat', sans-serif;">Liability Insurance</label>
                <select class="form-control" formControlName="liabilityInsurance">
                  <option value="">Select a choice</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="email" style="font-family: 'Montserrat', sans-serif;">Workers Compensation</label>
                <select class="form-control" formControlName="workerCompensation">
                  <option value="">Select a choice</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="email" style="font-family: 'Montserrat', sans-serif;">Project Minimum</label>
                <input type="text" class="form-control" formControlName="projectMinimum" />
              </div>
            </div>
            <!-- <div class="col-lg-6">
                <div class="form-group">
                  <label for="email">Bonded</label>
                  <select class="form-control" formControlName="bonded">
                    <option>Select a choice</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                </div>
              </div> -->

            <div class="col-lg-6">
              <div class="form-group">
                <label for="email" style="font-family: 'Montserrat', sans-serif;">Written Contract</label>
                <select class="form-control" formControlName="writtenContract">
                  <option value="">Select a choice</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <label for="email" style="font-family: 'Montserrat', sans-serif;">Country</label>
                <ng-select formControlName="country" (change)="onCountryChange($event)" bindLabel="immigration_s_title">
                  <ng-option *ngFor="let country of countriesList" [value]="country">{{country}}</ng-option>
                </ng-select>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <label for="email" style="font-family: 'Montserrat', sans-serif;">Province/State</label>
                <ng-select formControlName="state" (change)="onStateChange($event)">
                  <ng-option *ngFor="let state of countryStates" [value]="state">{{state}}</ng-option>
                </ng-select>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <label for="email" style="font-family: 'Montserrat', sans-serif;">City</label>
                <ng-select formControlName="city" required>
                  <ng-option *ngFor="let city of countryCities" [value]="city">{{city}}</ng-option>
                </ng-select>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <label for="email" style="font-family: 'Montserrat', sans-serif;">Bonded</label>
                <input type="text" class="form-control" formControlName="bonded" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="email" style="font-family: 'Montserrat', sans-serif;">Payment Method</label>
                <input type="text" class="form-control" formControlName="paymentMethod" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="email" style="font-family: 'Montserrat', sans-serif;">Warranty Terms</label>
                <input type="text" class="form-control" formControlName="warrantyTerms" />
              </div>
            </div>

          </div>

        </form>

        <div class="d-flex justify-content-center my-2">
          <button type="button" (click)="onSubmit()" class="btn btn-dark2 mx-1 btn-md px-3" rippleEffect><i
              data-feather="check"></i> Save</button>
          <button type="button" class="btn btn-dark mx-1 btn-md px-3" (click)="modal.dismiss('Cross click')"
            rippleEffect><i data-feather="x"></i> Discard</button>
        </div>
      </div>
    </ng-template>
    <ng-template #modalGoogleMap let-modal>
      <div class="modal-header">
        <h5 class="modal-title w-100 px-1 pt-1 pb-0" id="exampleModalCenterTitle"
          style="font-family: 'Montserrat', sans-serif;">Select Address With Radius</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <div class="row form-group">
            <div class="col-sm-8 ">
              <input type="text" class="form-control" placeholder="Please enter you postal code e.g. A1A 1A1"
                [(ngModel)]="postalCode">
            </div>
            <div class="col-sm-4">
              <button type="button" (click)="findNearByPostalCode()" class="btn btn-dark2 mx-1 btn-md px-3"
                rippleEffect><i data-feather="check"></i> Find Nearby Postal Code</button>
            </div>
            <div *ngIf="nearByZipCodes && nearByZipCodes.length > 0" class="card-categories col-sm-12 mt-1">
              <div class="card-body" style="padding: 0px;">
                <ul style="max-height: 100px; overflow-y: auto;">
                  <li *ngFor="let item of nearByZipCodes" style="font-family: 'Montserrat', sans-serif;">{{item}}</li>
                </ul>
              </div>
            </div>
          </div>
          <p style="font-family: 'Montserrat', sans-serif;">Set Radius On Map</p>
          <div class="noUi-wrapper">
            <nouislider [min]="1" [connect]="'lower'" [behaviour]="'tap'" [max]="100" [step]="1" [tooltips]="true"
              [(ngModel)]="sliderWithNgModel"></nouislider>
            <div class="bottom">
              <p class="font-weight-bold">1m</p>
              <p class="font-weight-bold">100m</p>
            </div>
          </div>
          <google-map height="400px" width="'100%'" [(zoom)]="markerCirclePolygonZoom"
            [center]="markerCirclePolygonCenter">
            <map-circle circleDrag="false" #mapCircle [(options)]="mapCircleOptions"
              [radius]="sliderWithNgModel*1609.34" (radiusChanged)="radiusChanged()"
              [(center)]="mapCircleCenter"></map-circle>
          </google-map>
          <div class="d-flex justify-content-center my-2">
            <button type="button" (click)="onSaveNearByZipCode()" class="btn btn-dark2 mx-1 btn-md px-3" rippleEffect><i
                data-feather="check"></i> Save</button>
            <button type="button" class="btn btn-dark mx-1 btn-md px-3" (click)="modal.dismiss('Cross click')"
              rippleEffect><i data-feather="x"></i> Discard</button>
          </div>
        </div>
      </div>

    </ng-template>
    <ng-template #modalVCCategories let-modal>
      <div class="modal-header">
        <h5 class="modal-title w-100 px-1 pt-1 pb-0" id="exampleModalCenterTitle"
          style="font-family: 'Montserrat', sans-serif;">Select Categories</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="accordion" tabindex="0" ngbAutofocus>
        <div class="modal-body " tabindex="0" ngbAutofocus>
          <div class="collapse-default collapse-icon">

            <div class="input-group mb-2">
              <div class="form-outline">
                <form (submit)="onSubmitSearch()">
                  <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchText"
                    name="searchText" style="border: 1px solid #38B6FF; width: 500px;" />
                </form>
              </div>
              <button type="button" (click)="onSubmitSearch()" class="btn btn-primary" style="margin-left: 5px;">
                <i class="fa fa-search"></i>
              </button>
              <button type="button" (click)="onSubmitClear()" class="btn btn-danger"
                style="margin-left: 5px; background-color: #FF0000 !important;">
                <i class="fa fa-close"></i>
              </button>
            </div>

            <div class="row" style="margin:20px 20px 20px 0px">
              <div class="col-3" *ngFor="let subCate of searchSubCategories; let d=index">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" [checked]="findCheckOrNot(subCate._id)" class="custom-control-input"
                    (click)="selectCategory(subCate.category[0].categoryId,subCate.midlevelcategoryId,subCate)"
                    id="customCheck{{i}}{{c}}{{d}}" />
                  <label class="custom-control-label" for="customCheck{{i}}{{c}}{{d}}"
                    style="font-family: 'Montserrat', sans-serif;">{{subCate.title}}</label>
                </div>
              </div>
            </div>


            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true">
              <ngb-panel *ngFor="let category of categories; let i=index" id="category{{i}}">
                <ng-template ngbPanelTitle>
                  <span style="font-family: 'Montserrat', sans-serif;">{{category.title}}</span>
                </ng-template>

                <ng-template ngbPanelContent>
                  <div class="row">

                    <div class="col-3" *ngFor="let subCate of category.midLevelCategory[0].subcategory; let d=index">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" [checked]="findCheckOrNot(subCate._id)" class="custom-control-input"
                          (click)="selectCategory(category._id,category.midLevelCategory[0]._id,subCate)"
                          id="customCheck{{i}}{{c}}{{d}}" />
                        <label class="custom-control-label" for="customCheck{{i}}{{c}}{{d}}"
                          style="font-family: 'Montserrat', sans-serif;">{{subCate.title}}</label>
                      </div>
                    </div>
                  </div>
                </ng-template>

              </ngb-panel>
            </ngb-accordion>


          </div>
        </div>

        <div class="d-flex justify-content-center my-2">
          <button type="button" class="btn btn-dark2 mx-1 btn-md px-3" (click)="saveCategories()" rippleEffect><i
              data-feather="check"></i> Save</button>
          <button type="button" class="btn btn-dark mx-1 btn-md px-3" (click)="modal.dismiss('Cross click')"
            rippleEffect><i data-feather="x"></i> Discard</button>
        </div>
      </div>
    </ng-template>

  </div>
</div>
<div id="map"></div>