<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <!-- User List -->
      <section class="users-list-wrapper">
      
        <div class="">
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="d-flex justify-content-between align-items-center mt-1 ml-1">
            
                <div class="">
                  <ngb-pagination  [(page)]="sfpageNo"  
                  [pageSize]="sfpageSize"
                  [maxSize]="5" [rotate]="true"
                   [boundaryLinks]="true"
                  (pageChange)="loadPageSF($event)"  [collectionSize]="sftotal" > 
                  </ngb-pagination>
                </div>
                
              </div>
            </div>
        
          </div>
          <ngx-datatable
            [rows]="sfList"
            [rowHeight]="50"
            class="bootstrap core-bootstrap"
            [limit]="sfpageSize"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [scrollbarH]="true"
          >
            <ngx-datatable-column name="Seller Name" prop="seller" [width]="300">
                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                        {{row.seller.firstName + ' ' +row.seller.lastName}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Email" prop="email" [width]="300">
                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                        {{row.seller.email}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Subject" prop="subject" [width]="100"></ngx-datatable-column>
            <ngx-datatable-column name="Message" prop="message" [width]="100"></ngx-datatable-column>
          </ngx-datatable>
         
        </div>
      </section>
      <!--/ User List -->
    </div>
  </div>
  

  