@import '@core/scss/angular/libs/file-uploader.component.scss';
@import '@core/scss/angular/libs/select.component.scss';
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}