@import '@core/scss/core.scss';
@import './assets/scss/styles';


.card {
    background-color: #2B2931;
    color: white;
}

.main-menu.menu-light {
    background: #2B2931;
    color: white;
}

.main-menu.menu-light .navigation {
    background: #2B2931;
    color: white;
}

.main-menu.menu-light .navigation li a {
    color: white !important;
}